---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-simple&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-simple>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 4.690355041s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1736760661&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1736760661>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 204.380416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_jammy&order_by=type_asc&type=unknown_type&zone=fr-par-1
        method: GET
      response:
        body: '{"local_images":[{"id":"2982a1c0-be7e-4114-af3d-a8af8aa7aec5", "arch":"arm64", "zone":"fr-par-1", "compatible_commercial_types":["AMP2-C1", "AMP2-C2", "AMP2-C4", "AMP2-C8", "AMP2-C12", "AMP2-C24", "AMP2-C48", "AMP2-C60", "COPARM1-2C-8G", "COPARM1-4C-16G", "COPARM1-8C-32G", "COPARM1-16C-64G", "COPARM1-32C-128G"], "label":"ubuntu_jammy", "type":"instance_local"}, {"id":"bc50e86c-a6c7-401a-8fbb-2ef17ce87aee", "arch":"x86_64", "zone":"fr-par-1", "compatible_commercial_types":["DEV1-L", "DEV1-M", "DEV1-S", "DEV1-XL", "GP1-L", "GP1-M", "GP1-S", "GP1-XL", "GP1-XS", "START1-L", "START1-M", "START1-S", "START1-XS", "VC1L", "VC1M", "VC1S", "X64-120GB", "X64-15GB", "X64-30GB", "X64-60GB", "ENT1-XXS", "ENT1-XS", "ENT1-S", "ENT1-M", "ENT1-L", "ENT1-XL", "ENT1-2XL", "PRO2-XXS", "PRO2-XS", "PRO2-S", "PRO2-M", "PRO2-L", "STARDUST1-S", "PLAY2-MICRO",[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-6784dd55-014e-8cfe-e298-d4d936bf312f","commercial_type":"PRO2-XXS","image":"bc50e86c-a6c7-401a-8fbb-2ef17ce87aee","boot_type":"local","project":"ac06b5eb-7546-4f57-9ffb-5425d6bb291b","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDFxjPw96Mwa7ojJcIDhpX3HbShBQ46L3pZ3iBMatgPH2NQtMbVor4dKP5KeyWShaoukh6XGVs81sglBnFJW3ajB2rl44DS2bO+0tQnFygTXjOb478+MBP/dfmgFkBKy4UzcdVu6NKlneCmgKAi55D52OR+4DPwIQsdg2M/Z+l3WxZ6KPSI/iA45U8MjudefL3yOT0kVfw4F7JApCof5HN6rACeQ9NYuJNIh5Ow8G901rao/XclzQtc6YxCvHxLdiSg22vcTVelew7+aekYEoQDtxRrCkNHJaUu6gR/1ImeV/Hdq41Hw80ek8y+XhNIGy/kONoiCxJ2RnDwlDqr5AfMyQf1ez1xxjm6mzsOuqvw/pvawe2AFmL7PKn8LmBjzCcweaJyHfjjgVVd8AFJRnhOm4B+HMqMN+RPxMb0p4w9PXdNlhOa+A3vbUAytPviZmt9DVAiQofTLpce8Rgc4jjoQPyDhe0HzZ1SUl4wyjftd1YDtRHuQ9Pa6CYMZfUsBtIHiCKmcTzmdJHcTvWvvCkZr1q73BrGcqTg1vNPOo4d004giOgkITd1u69Yct/pMKEdJh1+DOJNxCrItIS5/QycHxNiYo1vNpDYSjRyTTM3awIgy/ZK//p3nHfJsqjGhlkPijkClqzOL3DmjqTuFpvCFeLcEcMh8aVLVECyaW48bw=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "66c81978-be4c-4e50-9815-95f4cdbd4a8c", "name": "packer-6784dd55-014e-8cfe-e298-d4d936bf312f", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ac06b5eb-7546-4f57-9ffb-5425d6bb291b", "hostname": "packer-6784dd55-014e-8cfe-e298-d4d936bf312f", "image": {"id": "bc50e86c-a6c7-401a-8fbb-2ef17ce87aee", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "f1efdd5c-375b-431e-ac06-daaf1518369b", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-10-07T11:39:08.941837+00:00", "modification_date": "2024-10-07T11:39:08.941837+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "id": "8b91f397-ca67-4359-a6b7-0c0fadb7b055", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ac06b5eb-7546-4f57-9ffb-5425d6bb291b", "server": {"id": "66c81978-be4c-4e50-9815-95f4cdbd4a8c", "name": "packer-6784dd55-014e-8cfe-e298-d4d936bf312f"}, "size": 10000000000, "state": "available", "creation_date": "2025-01-13T09:31:07.495552+00:00", "modification_date": "2025-01-13T09:31:07.495552+00:00", "tags": [], "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDFxjPw96Mwa7ojJcIDhpX3HbShBQ46L3pZ3iBMatgPH2NQtMbVor4dKP5KeyWShaoukh6XGVs81sglBnFJW3ajB2rl44DS2bO+0tQnFygTXjOb478+MBP/dfmgFkBKy4UzcdVu6NKlneCmgKAi55D52OR+4DPwIQsdg2M/Z+l3WxZ6KPSI/iA45U8MjudefL3yOT0kVfw4F7JApCof5HN6rACeQ9NYuJNIh5Ow8G901rao/XclzQtc6YxCvHxLdiSg22vcTVelew7+aekYEoQDtxRrCkNHJaUu6gR/1ImeV/Hdq41Hw80ek8y+XhNIGy/kONoiCxJ2RnDwlDqr5AfMyQf1ez1xxjm6mzsOuqvw/pvawe2AFmL7PKn8LmBjzCcweaJyHfjjgVVd8AFJRnhOm4B+HMqMN+RPxMb0p4w9PXdNlhOa+A3vbUAytPviZmt9DVAiQofTLpce8Rgc4jjoQPyDhe0HzZ1SUl4wyjftd1YDtRHuQ9Pa6CYMZfUsBtIHiCKmcTzmdJHcTvWvvCkZr1q73BrGcqTg1vNPOo4d004giOgkITd1u69Yct/pMKEdJh1+DOJNxCrItIS5/QycHxNiYo1vNpDYSjRyTTM3awIgy/ZK//p3nHfJsqjGhlkPijkClqzOL3DmjqTuFpvCFeLcEcMh8aVLVECyaW48bw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:8c:fe:f3", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-01-13T09:31:07.495552+00:00", "modification_date": "2025-01-13T09:31:07.495552+00:00", "bootscript": null, "security_group": {"id": "390578d1-6df4-4e36-b1c6-2799cea30746", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/66c81978-be4c-4e50-9815-95f4cdbd4a8c
        status: 201 Created
        code: 201
        duration: 504.369208ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/66c81978-be4c-4e50-9815-95f4cdbd4a8c/action
        method: POST
      response:
        body: '{"task": {"id": "fe550818-a38b-4b6a-a81d-2fb69508e027", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/66c81978-be4c-4e50-9815-95f4cdbd4a8c/action", "href_result": "/servers/66c81978-be4c-4e50-9815-95f4cdbd4a8c", "started_at": "2025-01-13T09:31:08.038537+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/fe550818-a38b-4b6a-a81d-2fb69508e027
        status: 202 Accepted
        code: 202
        duration: 261.288084ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/66c81978-be4c-4e50-9815-95f4cdbd4a8c
        method: GET
      response:
        body: '{"server": {"id": "66c81978-be4c-4e50-9815-95f4cdbd4a8c", "name": "packer-6784dd55-014e-8cfe-e298-d4d936bf312f", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/247f2d44-1754-4c88-9130-32dc35bad182
        method: GET
      response:
        body: '{"image": {"id": "247f2d44-1754-4c88-9130-32dc35bad182", "name": "packer-e2e-simple", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ac06b5eb-7546-4f57-9ffb-5425d6bb291b", "root_volume": {"id": "ff522daf-6ccd-4d82-aec4-a6b22634ac45", "name": "packer-e2e-simple_snap_0", "volume_type": "unified", "size": 10000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-01-13T09:31:51.401650+00:00", "modification_date": "2025-01-13T09:31:51.401650+00:00", "default_bootscript": null, "from_server": "66c81978-be4c-4e50-9815-95f4cdbd4a8c", "state": "creating", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.0825ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/8b91f397-ca67-4359-a6b7-0c0fadb7b055
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 253.631625ms
