---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images?name=packer-e2e-complete&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-complete>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 5.66499925s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots?name=packer-e2e-complete-snapshot&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=packer-e2e-complete-snapshot>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 279.326125ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_jammy&order_by=type_asc&type=unknown_type&zone=fr-par-2
        method: GET
      response:
        body: '{"local_images":[{"id":"1c5f319f-1243-40a4-91f0-4ff5d6ddf0f6", "arch":"arm64", "zone":"fr-par-2", "compatible_commercial_types":["AMP2-C1", "AMP2-C2", "AMP2-C4", "AMP2-C8", "AMP2-C12", "AMP2-C24", "AMP2-C48", "AMP2-C60", "COPARM1-2C-8G", "COPARM1-4C-16G", "COPARM1-8C-32G", "COPARM1-16C-64G", "COPARM1-32C-128G"], "label":"ubuntu_jammy", "type":"instance_local"}, {"id":"fa80ce3c-a765-4d4d-9b96-c5af6cf3f302", "arch":"x86_64", "zone":"fr-par-2", "compatible_commercial_types":["DEV1-L", "DEV1-M", "DEV1-S", "DEV1-XL", "GP1-L", "GP1-M", "GP1-S", "GP1-XL", "GP1-XS", "START1-L", "START1-M", "START1-S", "START1-XS", "VC1L", "VC1M", "VC1S", "X64-120GB", "X64-15GB", "X64-30GB", "X64-60GB", "ENT1-XXS", "ENT1-XS", "ENT1-S", "ENT1-M", "ENT1-L", "ENT1-XL", "ENT1-2XL", "PRO2-XXS", "PRO2-XS", "PRO2-S", "PRO2-M", "PRO2-L", "PLAY2-MICRO", "PLAY2-NANO", [...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-6784dd14-29b4-6df4-c5f9-90717c4a9f11","commercial_type":"PLAY2-PICO","image":"fa80ce3c-a765-4d4d-9b96-c5af6cf3f302","volumes":{"0":{"size":42000000000,"volume_type":"b_ssd"}},"boot_type":"local","project":"ac06b5eb-7546-4f57-9ffb-5425d6bb291b","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDZvv+sOz2y1g6thdSOya2WBkYWFL6I1IqB4erLeQdhviy94RXWFFfHAODJmZXXd9tbQLN5dZcxLmEalLEcbTfJsUEUwS3XBjeUqSz/9MjrblKd6cYQqaquCsEuJX5gZLhaPVNCT0mDUQH7Vu/EI506r2Nab1N6gjulOYjLEz1NX020mM25/gvEPLoSK8dnWUl9TH2v6RJhTLHQAPmoOvx+aXBnuG8NzQqAabf+8ALh4fAuFK6chdGGgXyBAjcJAp6Hvv5LdEMvhHa1iSXZugfT5wSLXi6lHqF9uy4WjhtZSeKQhsTDgz7HVJRf223jewLjvD4kqEWX3AnldAstnLHf2dUzAyHS9chtukj7fCiZ68bFTf/3aVyHQt2+t6/9ekglXi1SDEEuD6AGBdIncrmhLXlRLtrcZ53xLgd9BpECC8cW/gyWGV6LhdOUJuoQu2NL5NBN4cFXTdeY5l6XN6OQ65b/pKhKYvzzy3iK7RXuMnJyi3za2piXi5C/Xi0Mrk3f5THdelwWQPSnEvXheDnmftEvlZ0VyGv4M1FaKYZdf0Jn/SIo9YAyrWDuPD5fMZnC1OdMC/hRNjAWQPCmia/WJ54I9AkGevDLAiNArXaS5E1znf4xPHtgu3LSFr0hPpWtgGWLgYL/PR689cLo2ch/1wQ6CesL3QZ9frOZz0lXNQ=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"server": {"id": "95cea6d7-d6b2-49af-9dff-a475a1c336c3", "name": "packer-6784dd14-29b4-6df4-c5f9-90717c4a9f11", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ac06b5eb-7546-4f57-9ffb-5425d6bb291b", "hostname": "packer-6784dd14-29b4-6df4-c5f9-90717c4a9f11", "image": {"id": "fa80ce3c-a765-4d4d-9b96-c5af6cf3f302", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "7cad0678-e28a-4260-b772-e0e21ba6aad8", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-10-07T11:39:14.478234+00:00", "modification_date": "2024-10-07T11:39:14.478234+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-2"}, "volumes": {"0": {"boot": false, "id": "e770b5d2-a812-47ca-8523-8897eb7834e6", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ac06b5eb-7546-4f57-9ffb-5425d6bb291b", "server": {"id": "95cea6d7-d6b2-49af-9dff-a475a1c336c3", "name": "packer-6784dd14-29b4-6df4-c5f9-90717c4a9f11"}, "size": 42000000000, "state": "available", "creation_date": "2025-01-13T09:30:04.814833+00:00", "modification_date": "2025-01-13T09:30:04.814833+00:00", "tags": [], "zone": "fr-par-2"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDZvv+sOz2y1g6thdSOya2WBkYWFL6I1IqB4erLeQdhviy94RXWFFfHAODJmZXXd9tbQLN5dZcxLmEalLEcbTfJsUEUwS3XBjeUqSz/9MjrblKd6cYQqaquCsEuJX5gZLhaPVNCT0mDUQH7Vu/EI506r2Nab1N6gjulOYjLEz1NX020mM25/gvEPLoSK8dnWUl9TH2v6RJhTLHQAPmoOvx+aXBnuG8NzQqAabf+8ALh4fAuFK6chdGGgXyBAjcJAp6Hvv5LdEMvhHa1iSXZugfT5wSLXi6lHqF9uy4WjhtZSeKQhsTDgz7HVJRf223jewLjvD4kqEWX3AnldAstnLHf2dUzAyHS9chtukj7fCiZ68bFTf/3aVyHQt2+t6/9ekglXi1SDEEuD6AGBdIncrmhLXlRLtrcZ53xLgd9BpECC8cW/gyWGV6LhdOUJuoQu2NL5NBN4cFXTdeY5l6XN6OQ65b/pKhKYvzzy3iK7RXuMnJyi3za2piXi5C/Xi0Mrk3f5THdelwWQPSnEvXheDnmftEvlZ0VyGv4M1FaKYZdf0Jn/SIo9YAyrWDuPD5fMZnC1OdMC/hRNjAWQPCmia/WJ54I9AkGevDLAiNArXaS5E1znf4xPHtgu3LSFr0hPpWtgGWLgYL/PR689cLo2ch/1wQ6CesL3QZ9frOZz0lXNQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:66:f1:4f", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-01-13T09:30:04.814833+00:00", "modification_date": "2025-01-13T09:30:04.814833+00:00", "bootscript": null, "security_group": {"id": "ce63557f-7f6b-4554-b0b5-1cfdcef63111", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/95cea6d7-d6b2-49af-9dff-a475a1c336c3
        status: 201 Created
        code: 201
        duration: 736.200958ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/95cea6d7-d6b2-49af-9dff-a475a1c336c3/action
        method: POST
      response:
        body: '{"task": {"id": "c91a6dce-b778-4c87-9cca-a1172b387d33", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/95cea6d7-d6b2-49af-9dff-a475a1c336c3/action", "href_result": "/servers/95cea6d7-d6b2-49af-9dff-a475a1c336c3", "started_at": "2025-01-13T09:30:05.469285+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/tasks/c91a6dce-b778-4c87-9cca-a1172b387d33
        status: 202 Accepted
        code: 202
        duration: 452.887208ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/95cea6d7-d6b2-49af-9dff-a475a1c336c3
        method: GET
      response:
        body: '{"server": {"id": "95cea6d7-d6b2-49af-9dff-a475a1c336c3", "name": "packer-6784dd14-29b4-6df4-c5f9-90717c4a9f11", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"action":"backup","name":"packer-e2e-complete","volumes":{"e770b5d2-a812-47ca-8523-8897eb7834e6":{"volume_type":"unified"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/95cea6d7-d6b2-49af-9dff-a475a1c336c3/action
        method: POST
      response:
        body: '{"task": {"id": "7f9b0f7c-fb85-4a71-817e-5367676c26f0", "description": "instance_backup", "status": "pending", "href_from": "/servers/95cea6d7-d6b2-49af-9dff-a475a1c336c3/action", "href_result": "/images/938c98c5-344e-4043-a1c4-ce9114e64a98", "started_at": "2025-01-13T09:30:54.600898+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/tasks/7f9b0f7c-fb85-4a71-817e-5367676c26f0
        status: 202 Accepted
        code: 202
        duration: 411.756041ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images/938c98c5-344e-4043-a1c4-ce9114e64a98
        method: GET
      response:
        body: '{"image": {"id": "938c98c5-344e-4043-a1c4-ce9114e64a98", "name": "packer-e2e-complete", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ac06b5eb-7546-4f57-9ffb-5425d6bb291b", "root_volume": {"id": "e571b26e-c18a-4146-8086-cfc7b56ff229", "name": "packer-e2e-complete_snap_0", "volume_type": "unified", "size": 42000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-01-13T09:30:54.300081+00:00", "modification_date": "2025-01-13T09:30:54.300081+00:00", "default_bootscript": null, "from_server": "95cea6d7-d6b2-49af-9dff-a475a1c336c3", "state": "creating", "tags": [], "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 110.6785ms
[...]
