---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-simple&page=1&project=ac06b5eb-7546-4f57-9ffb-5425d6bb291b
        method: GET
      response:
        body: '{"images": [{"id": "247f2d44-1754-4c88-9130-32dc35bad182", "name": "packer-e2e-simple", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ac06b5eb-7546-4f57-9ffb-5425d6bb291b", "root_volume": {"id": "ff522daf-6ccd-4d82-aec4-a6b22634ac45", "name": "packer-e2e-simple_snap_0", "volume_type": "unified", "size": 10000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-01-13T09:31:51.401650+00:00", "modification_date": "2025-01-13T09:31:51.401650+00:00", "default_bootscript": null, "from_server": "66c81978-be4c-4e50-9815-95f4cdbd4a8c", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-simple&project=ac06b5eb-7546-4f57-9ffb-5425d6bb291b>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.888183125s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes
        method: GET
      response:
        body: '{"volumes": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=0&per_page=100&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 315.853542ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes?order_by=created_at_asc&project_id=ac06b5eb-7546-4f57-9ffb-5425d6bb291b
        method: GET
      response:
        body: '{"volumes":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.403417ms
