---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-root-volume-local
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume-local&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-root-volume-local>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 428.329861ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": [{"id": "040de054-2855-426c-a8db-f224be7f2058", "name": "packer-e2e-root-volume-local_snap_0", "volume_type": "l_ssd", "creation_date": "2025-11-12T14:23:01.653225+00:00", "modification_date": "2025-11-12T14:32:10.634612+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state": "available", "base_volume": null, "tags": [], "zone": "fr-par-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 120.583996ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-6928895d-1bbd-36ac-7615-b2811dbd5fcb","commercial_type":"GP1-XS","image":"ubuntu_jammy","volumes":{"0":{"size":20000000000,"volume_type":"l_ssd"}},"boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDZNXgRJiw6/Yz29D4qV9vbXtzcqmmGb55k2dKXo2UKw1gU/3bRAhOxBeSLVW2yolPkBHBXQYubBmSVawQW1Ns7C86QpfUB8dWtC5yVDita9buZeOVSNdfJwihTvT4Mt1Zi2mY6HxfUaKkP985B86BBZltcelEx32DzpDsUieXm212q6yqdn4OIivao1FC7WxcVpzVQxDjw3ccDRkJCphcPnaTd9KCzOWlOSBDR2Ns+ap9pGPAl0KgHCDD9gBt69MzKF+xUtmBNQAK65aVjSG+oYa/2OaHlJAPVvT/FdjbSpJHyzWVslBT/qjmV3pX4AVPAcn6My4fyQfiRPtzeXm20zFawXOLGXxLaxvo4kcLxPhyVHo7Fc+f6SiyfZOEXmyPPpWeCpNP32AgY5iPP993EJpWoj3Bs91d5/fJHclwDiy+pj4uYBS6NtNVPq2/w9ReoWg8fttyTkfhdgHQTUtIBus8Twol8QjVfajazlJGX6nvSOASFK+CZzJ+AB2sEk5dQL4RRewH5KYSV6hSq9++V8MOcAZCHQMv/aDcQaAzZuFfFNQftB2DSB19L/Ts7J3FpCS9yfp5jSHjd8+4O/q2ZGkDffjYDEe+pB9f3mL3cgrnPPNVoRLCZxrepFtFS/ki+oUb+gVV1qEwi1KwPqqX7qljtT+X2Tf8g1IYjXRaZfQ=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "2ffd7336-edc0-4b18-b91b-809528269c43", "name": "packer-6928895d-1bbd-36ac-7615-b2811dbd5fcb", "arch": "x86_64", "commercial_type": "GP1-XS", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-6928895d-1bbd-36ac-7615-b2811dbd5fcb", "image": {"id": "ec31d73d-ca36-4536-adf4-0feb76d30379", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "1973043b-32c4-4d52-baf4-5c99b42b4e39", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-09-12T09:11:46.109401+00:00", "modification_date": "2025-09-12T09:11:46.109401+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "id": "3eb1c4f6-06fc-4dc1-9ff0-76e272ec59db", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "2ffd7336-edc0-4b18-b91b-809528269c43", "name": "packer-6928895d-1bbd-36ac-7615-b2811dbd5fcb"}, "size": 20000000000, "state": "available", "creation_date": "2025-11-27T17:24:46.165830+00:00", "modification_date": "2025-11-27T17:24:46.165830+00:00", "tags": [], "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDZNXgRJiw6/Yz29D4qV9vbXtzcqmmGb55k2dKXo2UKw1gU/3bRAhOxBeSLVW2yolPkBHBXQYubBmSVawQW1Ns7C86QpfUB8dWtC5yVDita9buZeOVSNdfJwihTvT4Mt1Zi2mY6HxfUaKkP985B86BBZltcelEx32DzpDsUieXm212q6yqdn4OIivao1FC7WxcVpzVQxDjw3ccDRkJCphcPnaTd9KCzOWlOSBDR2Ns+ap9pGPAl0KgHCDD9gBt69MzKF+xUtmBNQAK65aVjSG+oYa/2OaHlJAPVvT/FdjbSpJHyzWVslBT/qjmV3pX4AVPAcn6My4fyQfiRPtzeXm20zFawXOLGXxLaxvo4kcLxPhyVHo7Fc+f6SiyfZOEXmyPPpWeCpNP32AgY5iPP993EJpWoj3Bs91d5/fJHclwDiy+pj4uYBS6NtNVPq2/w9ReoWg8fttyTkfhdgHQTUtIBus8Twol8QjVfajazlJGX6nvSOASFK+CZzJ+AB2sEk5dQL4RRewH5KYSV6hSq9++V8MOcAZCHQMv/aDcQaAzZuFfFNQftB2DSB19L/Ts7J3FpCS9yfp5jSHjd8+4O/q2ZGkDffjYDEe+pB9f3mL3cgrnPPNVoRLCZxrepFtFS/ki+oUb+gVV1qEwi1KwPqqX7qljtT+X2Tf8g1IYjXRaZfQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:d6:dc:d5", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-11-27T17:24:46.165830+00:00", "modification_date": "2025-11-27T17:24:46.165830+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2ffd7336-edc0-4b18-b91b-809528269c43
        status: 201 Created
        code: 201
        duration: 493.908299ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2ffd7336-edc0-4b18-b91b-809528269c43/action
        method: POST
      response:
        body: '{"task": {"id": "d0b42dde-9f50-4515-9a75-8af5d8e8f6d7", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/2ffd7336-edc0-4b18-b91b-809528269c43/action", "href_result": "/servers/2ffd7336-edc0-4b18-b91b-809528269c43", "started_at": "2025-11-27T17:24:46.825864+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/d0b42dde-9f50-4515-9a75-8af5d8e8f6d7
        status: 202 Accepted
        code: 202
        duration: 342.693727ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2ffd7336-edc0-4b18-b91b-809528269c43
        method: GET
      response:
        body: '{"server": {"id": "2ffd7336-edc0-4b18-b91b-809528269c43", "name": "packer-6928895d-1bbd-36ac-7615-b2811dbd5fcb", "arch": "x86_64", "commercial_type": "GP1-XS", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-[...]
[...]
    - id: 23
      request:
        host: api.scaleway.com
        body: '{"name":"packer-1764264285","volume_id":"3eb1c4f6-06fc-4dc1-9ff0-76e272ec59db","project":"19a4819b-24bf-4d44-969f-935ef0061b71","volume_type":"l_ssd"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"snapshot": {"id": "884c97e9-8c13-4a6a-bcb2-a8dc5b622788", "name": "packer-1764264285", "volume_type": "l_ssd", "creation_date": "2025-11-27T17:25:58.679445+00:00", "modification_date": "2025-11-27T17:25:58.679445+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 20000000000, "state": "available", "base_volume": {"id": "3eb1c4f6-06fc-4dc1-9ff0-76e272ec59db", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": [], "zone": "fr-par-1", "error_details": null}, "task": {"id": "f149402a-b281-4353-bbef-8096db6b7097", "description": "volume_snapshot", "status": "pending", "href_from": "/snapshots", "href_result": "snapshots/884c97e9-8c13-4a6a-bcb2-a8dc5b622788", "started_at": "2025-11-27T17:25:58.898343+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 313.966119ms
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-root-volume-local","root_volume":"884c97e9-8c13-4a6a-bcb2-a8dc5b622788","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "1212800b-1a73-4e83-bab3-73db60a20006", "name": "packer-e2e-root-volume-local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "884c97e9-8c13-4a6a-bcb2-a8dc5b622788", "name": "packer-1764264285", "volume_type": "l_ssd", "size": 20000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:25:59.020341+00:00", "modification_date": "2025-11-27T17:25:59.020341+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/1212800b-1a73-4e83-bab3-73db60a20006
        status: 201 Created
        code: 201
        duration: 170.024888ms
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/1212800b-1a73-4e83-bab3-73db60a20006
        method: GET
      response:
        body: '{"image": {"id": "1212800b-1a73-4e83-bab3-73db60a20006", "name": "packer-e2e-root-volume-local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "884c97e9-8c13-4a6a-bcb2-a8dc5b622788", "name": "packer-1764264285", "volume_type": "l_ssd", "size": 20000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:25:59.020341+00:00", "modification_date": "2025-11-27T17:25:59.020341+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.345274ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/3eb1c4f6-06fc-4dc1-9ff0-76e272ec59db
        method: GET
      response:
        body: '{"volume": {"id": "3eb1c4f6-06fc-4dc1-9ff0-76e272ec59db", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-11-27T17:24:46.165830+00:00", "modification_date": "2025-11-27T17:25:59.190731+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.334344ms
[...]
