---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-complete
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images?name=packer-e2e-complete&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-complete>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 282.488706ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 131.773911ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 76.757311ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"named-extra-volume-1","perf_iops":5000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","from_empty":{"size":10000000000},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/nl-ams-1/volumes
        method: POST
      response:
        body: '{"id":"3a0cf77b-594e-4fdc-ad27-28408b7bebe8","name":"named-extra-volume-1","type":"sbs_5k","size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:12:10.189554Z","updated_at":"2026-06-02T17:12:10.189554Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.119411ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tmp-server","commercial_type":"DEV1-M","image":"ubuntu_jammy","volumes":{"0":{"size":12000000000,"volume_type":"l_ssd"},"1":{"id":"3a0cf77b-594e-4fdc-ad27-28408b7bebe8","volume_type":"sbs_volume"},"2":{"id":"727e3666-764d-4e2f-bcb0-b4cb968c3333","volume_type":"sbs_volume"},"3":{"id":"e581e6ff-271c-4335-afa7-8388cc746a46","volume_type":"sbs_volume"}},"boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["packer-build","tmp-server","AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDA3q1lnR7+5xjXTL0EyIH6D5fYz+1MgdFkyQfUbXK/xMF3ll8CA8rS5DdhwsArfo7vabaazndRtkuc6G0Tk1Abx5vrNdbR5NN/0UFe00VN+wsw21DLxRxmj5hMrfNG0JMCuINz8WgP/IUgrJ78fuJ+r29MjLW0vzR8+dGLis79as7YaGYpA63XLz84ClMPmK/7HOET3JELWgYGFSDceIPeHX9rZts6G4VhJhbPotMgcjfx6Dwvd6aPEziNmPssa6tWJm4hUav+DB/kItqpQb7QZHcb5S3tvsf74xoaEuXtyzHdRd/fHx8xzFl2hDs5paP7r+xFva7nu03/g/XJz0wl3alvbqnnXo+ljGwLK5W7LDdd6JWHpoFBVETKAbymKJ5RnOM0o0kzDChzI/6UcqeQPFl6rSungoo2CpusTV3oAF2OvXxsD8IDLlSvEheC7wT++ATWuMKil6nD/Wbn/faO1jm41NpawFkUniMz1Y7zKCR8YRDNAh3n5SFwbKZ+lhBMbx9vlCtVhf2c3sL722F9kx8YCKFGZOocc98OoN5eq3QZ2+uLMTphfgoUjocG7TjaX6EJV0AwcfJEnou8IuNooENF7UdXziAR7PmECCopun11KD2OvN8oaPfmUQIHFtTtT1FnGgJRDsTOkeGOWBuYFi4uxfCgxqSGDF5oUJH/Mw=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers
        method: POST
      response:
        body: '{"server": {"id": "718e4d45-81e6-444c-aaaf-f4c0324a48c0", "name": "packer-tmp-server", "arch": "x86_64", "commercial_type": "DEV1-M", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server", "image": {"id": "301c3494-3fa8-4a35-aaf7-13acd617a0a4", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "79effaea-adab-4399-985f-89811062d7c7", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-05-12T15:05:47.058619+00:00", "modification_date": "2026-05-12T15:05:47.058619+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "nl-ams-1"}, "volumes": {"0": {"boot": false, "id": "052c733b-5561-4a91-9a83-4a81c8599ac6", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "718e4d45-81e6-444c-aaaf-f4c0324a48c0", "name": "packer-tmp-server"}, "size": 12000000000, "state": "available", "creation_date": "2026-06-02T17:12:10.756055+00:00", "modification_date": "2026-06-02T17:12:10.756055+00:00", "tags": [], "zone": "nl-ams-1"}, "1": {"boot": false, "volume_type": "sbs_volume", "id": "3a0cf77b-594e-4fdc-ad27-28408b7bebe8", "state": "availab[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers/718e4d45-81e6-444c-aaaf-f4c0324a48c0/action
        method: POST
      response:
        body: '{"task": {"id": "c8f200d8-46be-42d4-857c-0b699976c7b8", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/718e4d45-81e6-444c-aaaf-f4c0324a48c0/action", "href_result": "/servers/718e4d45-81e6-444c-aaaf-f4c0324a48c0", "started_at": "2026-06-02T17:12:12.020700+00:00", "terminated_at": null, "progress": 0, "zone": "nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/tasks/c8f200d8-46be-42d4-857c-0b699976c7b8
        status: 202 Accepted
        code: 202
        duration: 509.001667ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers/718e4d45-81e6-444c-aaaf-f4c0324a48c0
        method: GET
      response:
        body: '{"server": {"id": "718e4d45-81e6-444c-aaaf-f4c0324a48c0", "name": "packer-tmp-server", "arch": "x86_64", "commercial_type": "DEV1-M", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "[...]
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"volume_id":"3a0cf77b-594e-4fdc-ad27-28408b7bebe8","name":"packer-1780420329","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["test","packer","complete"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots
        method: POST
      response:
        body: '{"id":"c3cf2146-4a3a-46f5-83f6-d1fb58ef4c23","name":"packer-1780420329","parent_volume":{"id":"3a0cf77b-594e-4fdc-ad27-28408b7bebe8","name":"named-extra-volume-1","type":"sbs_5k","status":"in_use"},"size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:13:35.111445Z","updated_at":"2026-06-02T17:13:35.111445Z","references":[],"status":"creating","tags":["test","packer","complete"],"class":"sbs","zone":"nl-ams-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 162.063115ms
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots/c3cf2146-4a3a-46f5-83f6-d1fb58ef4c23
        method: GET
      response:
        body: '{"id":"c3cf2146-4a3a-46f5-83f6-d1fb58ef4c23","name":"packer-1780420329","parent_volume":{"id":"3a0cf77b-594e-4fdc-ad27-28408b7bebe8","name":"named-extra-volume-1","type":"sbs_5k","status":"in_use"},"size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:13:35.111445Z","updated_at":"2026-06-02T17:13:35.111445Z","references":[{"id":"bc68f2fb-d74d-4ffb-8b60-d966ca07f297","product_resource_type":"internal","product_resource_id":"00000000-0000-0000-0000-000000000000","created_at":"2026-06-02T17:13:35.162339Z","type":"unknown_type","status":"attached"}],"status":"creating","tags":["test","packer","complete"],"class":"sbs","zone":"nl-ams-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.772542ms
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"name":"named-snap-root-volume-0","volume_id":"052c733b-5561-4a91-9a83-4a81c8599ac6","tags":["test","packer","complete"],"project":"19a4819b-24bf-4d44-969f-935ef0061b71","volume_type":"l_ssd"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
        method: POST
      response:
        body: '{"snapshot": {"id": "78b1d2a1-e607-498e-bc18-5317af6fdb11", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "creation_date": "2026-06-02T17:13:50.977152+00:00", "modification_date": "2026-06-02T17:13:50.977152+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 12000000000, "state": "available", "base_volume": {"id": "052c733b-5561-4a91-9a83-4a81c8599ac6", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": ["test", "packer", "complete"], "zone": "nl-ams-1", "error_details": null}, "task": {"id": "cd77b81f-2c3e-4d63-a950-76b54329ccfb", "description": "volume_snapshot", "status": "pending", "href_from": "/snapshots", "href_result": "snapshots/78b1d2a1-e607-498e-bc18-5317af6fdb11", "started_at": "2026-06-02T17:13:51.136164+00:00", "terminated_at": null, "progress": 0, "zone": "nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 282.409942ms
    - id: 38
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-complete","root_volume":"78b1d2a1-e607-498e-bc18-5317af6fdb11","arch":"x86_64","extra_volumes":{"1":{"id":"c3cf2146-4a3a-46f5-83f6-d1fb58ef4c23"},"2":{"id":"11ae3867-02f7-472e-b966-43b397efc926"},"3":{"id":"a22b5977-fd17-4b38-98c4-ca760ed91f3a"}},"project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["test","packer","complete"],"public":false}'
        headers:
            Content-Type:
              [...]
    - id: 39
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/6d100f83-b1ca-4374-97d0-56b353d26a12
        method: GET
      response:
        body: '{"image": {"id": "6d100f83-b1ca-4374-97d0-56b353d26a12", "name": "packer-e2e-complete", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "78b1d2a1-e607-498e-bc18-5317af6fdb11", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "size": 12000000000}, "extra_volumes": {"3": {"volume_type": "sbs_snapshot", "id": "a22b5977-fd17-4b38-98c4-ca760ed91f3a", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "11ae3867-02f7-472e-b966-43b397efc926", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "c3cf2146-4a3a-46f5-83f6-d1fb58ef4c23", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-06-02T17:13:51.280221+00:00", "modification_date": "2026-06-02T17:13:51.280221+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 132.050344ms
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"tags":["test","packer","complete"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes/052c733b-5561-4a91-9a83-4a81c8599ac6
        method: PATCH
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"052c733b-5561-4a91-9a83-4a81c8599ac6","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 46.176587ms
    - id: 41
      request:
        host: api.scaleway.com
        body: '{"tags":["test","packer","complete"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/052c733b-5561-4a91-9a83-4a81c8599ac6
        method: PATCH
      response:
        body: '{"volume": {"id": "052c733b-5561-4a91-9a83-4a81c8599ac6", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "718e4d45-81e6-444c-aaaf-f4c0324a48c0", "name": "packer-tmp-server"}, "size": 12000000000, "state": "available", "creation_date": "2026-06-02T17:12:10.756055+00:00", "modification_date": "2026-06-02T17:13:51.853239+00:00", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 123.94133ms
    - id: 42
      request:
        host: api.scaleway.com
        body: '{"tags":["test","packer","complete"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes/3a0cf77b-594e-4fdc-ad27-28408b7bebe8
        method: PATCH
      response:
        body: '{"id":"3a0cf77b-594e-4fdc-ad27-28408b7bebe8","name":"named-extra-volume-1","type":"sbs_5k","size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:12:10.189554Z","updated_at":"2026-06-02T17:12:10.842021Z","references":[{"id":"755a3a97-b1c2-4ba2-b6b0-1fc904054e21","product_resource_type":"instance_server","product_resource_id":"718e4d45-81e6-444c-aaaf-f4c0324a48c0","created_at":"2026-06-02T17:12:10.842021Z","type":"exclusive","status":"attached"}],"parent_snapshot_id":null,"status":"in_use","tags":["test","packer","complete"],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.993155ms
[...]
