---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-complete
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images?name=packer-e2e-complete&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "6d100f83-b1ca-4374-97d0-56b353d26a12", "name": "packer-e2e-complete", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "78b1d2a1-e607-498e-bc18-5317af6fdb11", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "size": 12000000000}, "extra_volumes": {"3": {"volume_type": "sbs_snapshot", "id": "a22b5977-fd17-4b38-98c4-ca760ed91f3a", "size": 0, "name": ""}, "2": {"volume_type": "sbs_snapshot", "id": "11ae3867-02f7-472e-b966-43b397efc926", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "c3cf2146-4a3a-46f5-83f6-d1fb58ef4c23", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2026-06-02T17:13:51.280221+00:00", "modification_date": "2026-06-02T17:13:51.280221+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-complete&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 243.627535ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots/11ae3867-02f7-472e-b966-43b397efc926
        method: GET
      response:
        body: '{"id":"11ae3867-02f7-472e-b966-43b397efc926","name":"packer-1780420329","parent_volume":{"id":"727e3666-764d-4e2f-bcb0-b4cb968c3333","name":"packer-6a1f0ee9-b364-8c98-5775-f8cb0702c7ec","type":"sbs_15k","status":"in_use"},"size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:13:40.415809Z","updated_at":"2026-06-02T17:13:51.438467Z","references":[{"id":"c149d75e-7e09-40ad-8fe9-6b0d78f01234","product_resource_type":"instance_image","product_resource_id":"6d100f83-b1ca-4374-97d0-56b353d26a12","created_at":"2026-06-02T17:13:51.438467Z","type":"link","status":"attached"}],"status":"in_use","tags":["test","packer","complete"],"class":"sbs","zone":"nl-ams-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.098222ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - named-snap-root
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots?name=named-snap-root&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots": [{"id": "78b1d2a1-e607-498e-bc18-5317af6fdb11", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "creation_date": "2026-06-02T17:13:50.977152+00:00", "modification_date": "2026-06-02T17:13:50.977152+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 12000000000, "state": "available", "base_volume": {"id": "052c733b-5561-4a91-9a83-4a81c8599ac6", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": ["test", "packer", "complete"], "zone": "nl-ams-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&name=named-snap-root&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 151.189419ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"c3cf2146-4a3a-46f5-83f6-d1fb58ef4c23","name":"packer-1780420329","parent_volume":{"id":"3a0cf77b-594e-4fdc-ad27-28408b7bebe8","name":"named-extra-volume-1","type":"sbs_5k","status":"in_use"},"size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:13:35.111445Z","updated_at":"2026-06-02T17:13:51.367728Z","references":[],"status":"in_use","tags":["test","packer","complete"],"class":"sbs","zone":"nl-ams-1","public":false},{"id":"11ae3867-02f7-472e-b966-43b397efc926","name":"packer-1780420329","parent_volume":{"id":"727e3666-764d-4e2f-bcb0-b4cb968c3333","name":"packer-6a1f0ee9-b364-8c98-5775-f8cb0702c7ec","type":"sbs_15k","status":"in_use"},"size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:13:40.415809Z","updated_at":"2026-06-02T17:13:51.438467Z","references":[],"status":"in_use","tags":["test","packer","complete"],"class":"sbs","zone":"nl-ams-1","public":false}],"total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.248778ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named-snap-extra
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=named-snap-extra&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"a22b5977-fd17-4b38-98c4-ca760ed91f3a","name":"named-snap-extra-volume-3","parent_volume":{"id":"e581e6ff-271c-4335-afa7-8388cc746a46","name":"packer-6a1f0ee9-1498-c81d-b472-6adda1177e47","type":"sbs_5k","status":"in_use"},"size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:13:45.736500Z","updated_at":"2026-06-02T17:13:51.494646Z","references":[],"status":"in_use","tags":["test","packer","complete"],"class":"sbs","zone":"nl-ams-1","public":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.731358ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - Ubuntu
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes?name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes": [{"id": "052c733b-5561-4a91-9a83-4a81c8599ac6", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "718e4d45-81e6-444c-aaaf-f4c0324a48c0", "name": "packer-tmp-server"}, "size": 12000000000, "state": "available", "creation_date": "2026-06-02T17:12:10.756055+00:00", "modification_date": "2026-06-02T17:13:51.853239+00:00", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 102.368507ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named-extra-volume
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=named-extra-volume&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"3a0cf77b-594e-4fdc-ad27-28408b7bebe8","name":"named-extra-volume-1","type":"sbs_5k","size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:12:10.189554Z","updated_at":"2026-06-02T17:12:10.842021Z","references":[{"id":"755a3a97-b1c2-4ba2-b6b0-1fc904054e21","product_resource_type":"instance_server","product_resource_id":"718e4d45-81e6-444c-aaaf-f4c0324a48c0","created_at":"2026-06-02T17:12:10.842021Z","type":"exclusive","status":"attached"}],"parent_snapshot_id":null,"status":"in_use","tags":["test","packer","complete"],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"nl-ams-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.443183ms
    - id: 10
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-tmp-server
            order:
                - creation_date_desc
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers?name=packer-tmp-server&order=creation_date_desc&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"servers": [{"id": "718e4d45-81e6-444c-aaaf-f4c0324a48c0", "name": "packer-tmp-server", "arch": "x86_64", "commercial_type": "DEV1-M", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server", "image": {"id": "301c3494-3fa8-4a35-aaf7-13acd617a0a4", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "79effaea-adab-4399-985f-89811062d7c7", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-05-12T15:05:47.058619+00:00", "modification_date": "2026-05-12T15:05:47.058619+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "nl-ams-1"}, "volumes": {"0": {"boot": false, "id": "052c733b-5561-4a91-9a83-4a81c8599ac6", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "718e4d45-81e6-444c-aaaf-f4c0324a48c0", "name": "packer-tmp-server"}, "size": 12000000000, "state": "available", "creation_date": "2026-06-02T17:12:10.756055+00:00", "modification_date": "2026-06-02T17:13:51.853239+00:00", "tags": ["test"[...]
    - id: 13
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-tmp-server
            order:
                - creation_date_desc
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers?name=packer-tmp-server&order=creation_date_desc&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        met[...]
    - id: 14
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers/718e4d45-81e6-444c-aaaf-f4c0324a48c0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 420.885764ms
[...]
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/6d100f83-b1ca-4374-97d0-56b353d26a12
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 629.521109ms
    - id: 17
      request:
        host: api.scaleway.com
        form:
            name:
                - named
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots?name=named&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots": [{"id": "78b1d2a1-e607-498e-bc18-5317af6fdb11", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "creation_date": "2026-06-02T17:13:50.977152+00:00", "modification_date": "2026-06-02T17:13:50.977152+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 12000000000, "state": "available", "base_volume": {"id": "052c733b-5561-4a91-9a83-4a81c8599ac6", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": ["test", "packer", "complete"], "zone": "nl-ams-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&name=named&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 134.395505ms
    - id: 18
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/78b1d2a1-e607-498e-bc18-5317af6fdb11
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 170.080296ms
    - id: 19
      request:
        host: api.scaleway.com
        form:
            name:
                - Ubuntu
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes?name=Ubuntu&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes": [{"id": "052c733b-5561-4a91-9a83-4a81c8599ac6", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "export_uri": null, "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": null, "size": 12000000000, "state": "available", "creation_date": "2026-06-02T17:12:10.756055+00:00", "modification_date": "2026-06-02T17:13:53.997965+00:00", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 107.597644ms
    - id: 20
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/052c733b-5561-4a91-9a83-4a81c8599ac6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 135.363887ms
    - id: 21
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&page=1[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&p[...]
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes/727e3666-764d-4e2f-bcb0-b4cb968c3333
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 110.746076ms
[...]
    - id: 27
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=named&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"a22b5977-fd17-4b38-98c4-ca760ed91f3a","name":"named-snap-extra-volume-3","parent_volume":null,"size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:13:45.736500Z","updated_at":"2026-06-02T17:13:54.987915Z","references":[],"status":"available","tags":["test","packer","complete"],"class":"sbs","zone":"nl-ams-1","public":false}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 58.33993ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=named&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"3a0cf77b-594e-4fdc-ad27-28408b7bebe8","name":"named-extra-volume-1","type":"sbs_5k","size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T17:12:10.189554Z","updated_at":"2026-06-02T17:13:54.271239Z","references":[],"parent_snapshot_id":null,"status":"available","tags":["test","packer","complete"],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":"2026-06-02T17:13:54.271239Z","kms_key_id":null,"zone":"nl-ams-1"}],"total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.860443ms
[...]
