---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-root-volume-sbs
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume-sbs&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "1fb595c5-5f27-40ec-bce3-b56d2b7b6c1d", "name": "packer-e2e-root-volume-sbs", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "3ca37fcd-97f6-4391-b960-2fad53b31740", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:27:12.487744+00:00", "modification_date": "2025-11-27T17:27:12.487744+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-root-volume-sbs&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 245.605265ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/3ca37fcd-97f6-4391-b960-2fad53b31740
        method: GET
      response:
        body: '{"id":"3ca37fcd-97f6-4391-b960-2fad53b31740", "name":"packer-1764264361", "parent_volume":null, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:27:05.503035Z", "updated_at":"2025-11-27T17:27:12.525987Z", "references":[{"id":"8edd15f1-d3d4-49eb-b796-3bd882647643", "product_resource_type":"instance_image", "product_resource_id":"1fb595c5-5f27-40ec-bce3-b56d2b7b6c1d", "created_at":"2025-11-27T17:27:12.525987Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.81268ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"3ca37fcd-97f6-4391-b960-2fad53b31740", "name":"packer-1764264361", "parent_volume":null, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:27:05.503035Z", "updated_at":"2025-11-27T17:27:12.525987Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.364882ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=0&per_page=100&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 61.309391ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.12361ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/1fb595c5-5f27-40ec-bce3-b56d2b7b6c1d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 390.777442ms
    - id: 7
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"3ca37fcd-97f6-4391-b960-2fad53b31740", "name":"packer-1764264361", "parent_volume":null, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:27:05.503035Z", "updated_at":"2025-11-27T17:27:12.525987Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.454763ms
[...]
