---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1&project=65a3940d-94a0-4a0b-932e-eedae2a6a98e
        method: GET
      response:
        body: '{"images": [{"id": "b1902138-85b3-4de7-a502-d50f1e93c92f", "name": "packer-e2e-block", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "65a3940d-94a0-4a0b-932e-eedae2a6a98e", "root_volume": {"volume_type": "sbs_snapshot", "id": "f7a0bcef-728b-4f5f-b0c2-45d859448169", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "13522482-24b6-4bca-93a1-0489e7e420b6", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-02-07T13:53:34.012424+00:00", "modification_date": "2025-02-07T13:53:34.012424+00:00", "default_bootscript": null, "from_server": "6df5fd61-5b4d-4a70-877b-04a45c01d70d", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-block&project=65a3940d-94a0-4a0b-932e-eedae2a6a98e>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 463.178792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=65a3940d-94a0-4a0b-932e-eedae2a6a98e
        method: GET
      response:
        body: '{"volumes": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=0&per_page=100&project=65a3940d-94a0-4a0b-932e-eedae2a6a98e>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 59.24775ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes?order_by=created_at_asc&project_id=65a3940d-94a0-4a0b-932e-eedae2a6a98e
        method: GET
      response:
        body: '{"volumes":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.387125ms
