---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1&project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"images": [{"id": "3d85957d-5b0a-4f7d-ab2f-719188eb9f8f", "name": "packer-e2e-block", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "root_volume": {"volume_type": "sbs_snapshot", "id": "dad059d6-6dde-498f-9f87-4f657d06dea9", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "10e765f3-33ad-49c1-add4-188102d1f71d", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-04-07T07:39:13.824910+00:00", "modification_date": "2025-04-07T07:39:13.824910+00:00", "default_bootscript": null, "from_server": "82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-block&project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 198.418486ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"volumes": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=0&per_page=100&project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 113.311892ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes?order_by=created_at_asc&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"volumes":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.368324ms
