---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1&project=c2ca17f6-8d17-4179-b9ba-98b70afa882f
        method: GET
      response:
        body: '{"images": [{"id": "3bd77a2f-99b8-4649-b114-f685255d1564", "name": "packer-e2e-block", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "c2ca17f6-8d17-4179-b9ba-98b70afa882f", "root_volume": {"volume_type": "sbs_snapshot", "id": "7bf18661-8a2e-4a51-a1f7-2f4e59042901", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "a5d8fba7-332c-486f-b645-98f8f4aeacda", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-02-07T12:45:17.665043+00:00", "modification_date": "2025-02-07T12:45:17.665043+00:00", "default_bootscript": null, "from_server": "fd1fb5a8-6840-4730-a2e1-274308d7ba66", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-block&project=c2ca17f6-8d17-4179-b9ba-98b70afa882f>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 537.406916ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=c2ca17f6-8d17-4179-b9ba-98b70afa882f
        method: GET
      response:
        body: '{"volumes": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=0&per_page=100&project=c2ca17f6-8d17-4179-b9ba-98b70afa882f>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 75.002875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes?order_by=created_at_asc&project_id=c2ca17f6-8d17-4179-b9ba-98b70afa882f
        method: GET
      response:
        body: '{"volumes":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.906708ms
