---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-complete
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images?name=packer-e2e-complete&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "911efd53-5dce-4899-8c3f-84346acc192f", "name": "packer-e2e-complete", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "8ad2f9c3-7802-45e3-ad45-6b56d65f4f59", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "size": 12000000000}, "extra_volumes": {"2": {"volume_type": "sbs_snapshot", "id": "f8cb373c-487f-4909-9a17-a29f3613ed28", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "e1d8c1b1-003e-4b92-8802-eb88ec7a86ac", "size": 0, "name": ""}, "3": {"volume_type": "sbs_snapshot", "id": "8afe97a2-26c5-4567-84ad-5431f6eb8834", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:24:40.148524+00:00", "modification_date": "2025-11-27T17:24:40.148524+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-complete&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 233.534858ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots/f8cb373c-487f-4909-9a17-a29f3613ed28
        method: GET
      response:
        body: '{"id":"f8cb373c-487f-4909-9a17-a29f3613ed28", "name":"packer-1764264198", "parent_volume":{"id":"42bd9c06-eeca-4538-ba34-66b70952ad89", "name":"packer-69288906-3ad2-c23e-9a59-6fcf82029d73", "type":"sbs_15k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:24:29.447409Z", "updated_at":"2025-11-27T17:24:40.316749Z", "references":[{"id":"dd246206-3f19-41c5-8f74-6a241bd6dce6", "product_resource_type":"instance_image", "product_resource_id":"911efd53-5dce-4899-8c3f-84346acc192f", "created_at":"2025-11-27T17:24:40.316749Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":["test", "packer", "complete"], "class":"sbs", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 94.091403ms
[...]
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - named-snap-root
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots?name=named-snap-root&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots": [{"id": "8ad2f9c3-7802-45e3-ad45-6b56d65f4f59", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "creation_date": "2025-11-27T17:24:23.714819+00:00", "modification_date": "2025-11-27T17:24:23.714819+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 12000000000, "state": "available", "base_volume": {"id": "d918e0be-6366-480f-bdb1-66a0a0e1aa89", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": ["test", "packer", "complete"], "zone": "nl-ams-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&name=named-snap-root&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 134.489098ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"e1d8c1b1-003e-4b92-8802-eb88ec7a86ac", "name":"packer-1764264198", "parent_volume":{"id":"9939ac0a-5947-4850-8ebc-ece0b6b7f251", "name":"named-extra-volume-1", "type":"sbs_5k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:24:24.095275Z", "updated_at":"2025-11-27T17:24:40.233930Z", "references":[], "status":"in_use", "tags":["test", "packer", "complete"], "class":"sbs", "zone":"nl-ams-1"}, {"id":"f8cb373c-487f-4909-9a17-a29f3613ed28", "name":"packer-1764264198", "parent_volume":{"id":"42bd9c06-eeca-4538-ba34-66b70952ad89", "name":"packer-69288906-3ad2-c23e-9a59-6fcf82029d73", "type":"sbs_15k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:24:29.447409Z", "updated_at":"2025-11-27T17:24:40.316749Z", "references":[], "status":"in_use", "tags":["test", "packer", "complete"], "class":"sbs", "zone":"nl-ams-1"}], "total_count":2}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.42503ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named-snap-extra
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=named-snap-extra&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"8afe97a2-26c5-4567-84ad-5431f6eb8834", "name":"named-snap-extra-volume-3", "parent_volume":{"id":"e16f0842-78c5-46aa-9a19-6318b759b4e1", "name":"packer-69288906-c998-23bf-62a4-802aa233c2cc", "type":"sbs_5k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:24:34.799449Z", "updated_at":"2025-11-27T17:24:40.387862Z", "references":[], "status":"in_use", "tags":["test", "packer", "complete"], "class":"sbs", "zone":"nl-ams-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.237785ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - Ubuntu
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes?name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes": [{"id": "d918e0be-6366-480f-bdb1-66a0a0e1aa89", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": null, "size": 12000000000, "state": "available", "creation_date": "2025-11-27T17:23:19.962028+00:00", "modification_date": "2025-11-27T17:24:41.179424+00:00", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.73416ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named-extra-volume
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=named-extra-volume&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"9939ac0a-5947-4850-8ebc-ece0b6b7f251", "name":"named-extra-volume-1", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:19.533073Z", "updated_at":"2025-11-27T17:24:41.468297Z", "references":[], "parent_snapshot_id":null, "status":"available", "tags":["test", "packer", "complete"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:24:41.468297Z", "zone":"nl-ams-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.229901ms
    - id: 10
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
[...]
[...]
    - id: 13
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/911efd53-5dce-4899-8c3f-84346acc192f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 484.787945ms
    - id: 14
      request:
        host: api.scaleway.com
        form:
            name:
                - named
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots?name=named&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots": [{"id": "8ad2f9c3-7802-45e3-ad45-6b56d65f4f59", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "creation_date": "2025-11-27T17:24:23.714819+00:00", "modification_date": "2025-11-27T17:24:23.714819+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 12000000000, "state": "available", "base_volume": {"id": "d918e0be-6366-480f-bdb1-66a0a0e1aa89", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": ["test", "packer", "complete"], "zone": "nl-ams-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&name=named&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 139.555406ms
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots/8ad2f9c3-7802-45e3-ad45-6b56d65f4f59
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 134.195989ms
    - id: 16
      request:
        host: api.scaleway.com
        form:
            name:
                - Ubuntu
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes?name=Ubuntu&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes": [{"id": "d918e0be-6366-480f-bdb1-66a0a0e1aa89", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": null, "size": 12000000000, "state": "available", "creation_date": "2025-11-27T17:23:19.962028+00:00", "modification_date": "2025-11-27T17:24:41.179424+00:00", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 88.54765ms
    - id: 17
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/d918e0be-6366-480f-bdb1-66a0a0e1aa89
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 181.030013ms
    - id: 18
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&page=1[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&p[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes/42bd9c06-eeca-4538-ba34-66b70952ad89
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 90.973101ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&name=named&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"8afe97a2-26c5-4567-84ad-5431f6eb8834", "name":"named-snap-extra-volume-3", "parent_volume":null, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:24:34.799449Z", "updated_at":"2025-11-27T17:24:43.692310Z", "references":[], "status":"available", "tags":["test", "packer", "complete"], "class":"sbs", "zone":"nl-ams-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.905634ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes?include_deleted=false&name=named&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"9939ac0a-5947-4850-8ebc-ece0b6b7f251", "name":"named-extra-volume-1", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:19.533073Z", "updated_at":"2025-11-27T17:24:41.468297Z", "references":[], "parent_snapshot_id":null, "status":"available", "tags":["test", "packer", "complete"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:24:41.468297Z", "zone":"nl-ams-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.349883ms
[...]
