---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images?name=packer-e2e-complete&page=1&project=ac06b5eb-7546-4f57-9ffb-5425d6bb291b
        method: GET
      response:
        body: '{"images": [{"id": "938c98c5-344e-4043-a1c4-ce9114e64a98", "name": "packer-e2e-complete", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ac06b5eb-7546-4f57-9ffb-5425d6bb291b", "root_volume": {"id": "e571b26e-c18a-4146-8086-cfc7b56ff229", "name": "packer-e2e-complete_snap_0", "volume_type": "unified", "size": 42000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-01-13T09:30:54.300081+00:00", "modification_date": "2025-01-13T09:30:54.300081+00:00", "default_bootscript": null, "from_server": "95cea6d7-d6b2-49af-9dff-a475a1c336c3", "state": "available", "tags": [], "zone": "fr-par-2"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-complete&project=ac06b5eb-7546-4f57-9ffb-5425d6bb291b>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 516.486709ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots?name=packer-e2e-complete-snapshot&project=ac06b5eb-7546-4f57-9ffb-5425d6bb291b
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=packer-e2e-complete-snapshot&project=ac06b5eb-7546-4f57-9ffb-5425d6bb291b>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 487.224833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes?name=Ubuntu+22.04+Jammy+Jellyfish&project=ac06b5eb-7546-4f57-9ffb-5425d6bb291b
        method: GET
      response:
        body: '{"volumes": [{"id": "e770b5d2-a812-47ca-8523-8897eb7834e6", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "ac06b5eb-7546-4f57-9ffb-5425d6bb291b", "server": null, "size": 42000000000, "state": "available", "creation_date": "2025-01-13T09:30:04.814833+00:00", "modification_date": "2025-01-13T09:30:59.869954+00:00", "tags": [], "zone": "fr-par-2"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=Ubuntu+22.04+Jammy+Jellyfish&project=ac06b5eb-7546-4f57-9ffb-5425d6bb291b>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 111.247334ms
