---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-block>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 466.491959ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1738936367&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1738936367>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 179.780583ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-block-vol1","perf_iops":5000,"project_id":"65a3940d-94a0-4a0b-932e-eedae2a6a98e","from_empty":{"size":20000000000},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"ea106043-f4d3-477d-bc21-10f1a3267c28","name":"packer-e2e-block-vol1","type":"sbs_5k","size":20000000000,"project_id":"65a3940d-94a0-4a0b-932e-eedae2a6a98e","created_at":"2025-02-07T13:52:49.776781Z","updated_at":"2025-02-07T13:52:49.776781Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 153.889458ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67a6102f-be5d-bedf-aa32-2de808a0cc3e","commercial_type":"PRO2-XXS","image":"ubuntu_jammy","volumes":{"1":{"id":"ea106043-f4d3-477d-bc21-10f1a3267c28","volume_type":"sbs_volume"}},"boot_type":"local","project":"65a3940d-94a0-4a0b-932e-eedae2a6a98e","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCmyX1FU6yTCgQUXoFXk2ySy/TM6fMZAqi4IKZziPsNggK3xUqUJai4YoJWhZXuq/YMBosj+MNUNt6GEg74tpXTYfqEHvsWIwtON2u5nPDPmkqV47mEod2Pt8XiRwz4iSumm/sGXDeyBwD2qVy2AA29I+YdzO5J2R/b5CIxL79pVzgHZquBFf7h0aZBbiQsIsGytdfh8yq72G/4F8T7lpJhOk/Nt2CZrihkEg9uzSwAic5n2WSyFwTXwJSt130mwZTt421quKZ2FcApJOp5R9Cj3x3l8NsbLfmvpYt1r5mvaGRWbS9RO/XEq/nxmcFxTqYeV1aGiEi6K80i3CB4mZUe/Hu/A1vC/0sHNMazuWZ26xqKIG2nRuRy4iZK22dKrhM3waoqv240J9ol0vXs69lfmsk8HsXSXKrfLJTCIHX6DG88CTtiyfebmyGnVOMPoTw9TS9vLM5pJyZ+oLUygaZTRdxUK1rUytmOnjZk5Iv8odilYdUL2p16PloJv4Eb3sDbgvm1GQe8SADVOT+hGQaBNiFVTwQ32fAcSkkncq5v38i81K+xrX3Ws3UCADO2JERiRY7rmcJoMeUz06H+g0XIWGgCtNhpWrgo9E9K51rfa6Itw+zQXee8wnr0qBriSSO424zKscsPO0bQSGPDUVpmDmddQRt5haYllpU0/5pviw=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "6df5fd61-5b4d-4a70-877b-04a45c01d70d", "name": "packer-67a6102f-be5d-bedf-aa32-2de808a0cc3e", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "65a3940d-94a0-4a0b-932e-eedae2a6a98e", "hostname": "packer-67a6102f-be5d-bedf-aa32-2de808a0cc3e", "image": {"id": "1fb9bfa4-68c3-4d6f-a362-8913a1af27b0", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "4eb9437f-8993-444a-b564-f7654add2131", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-10-07T11:39:13.069801+00:00", "modification_date": "2024-10-07T11:39:13.069801+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "bedc4584-bee2-4985-8a83-f5832ba7c022", "zone": "fr-par-1"}, "1": {"boot": false, "volume_type": "sbs_volume", "id": "ea106043-f4d3-477d-bc21-10f1a3267c28", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCmyX1FU6yTCgQUXoFXk2ySy/TM6fMZAqi4IKZziPsNggK3xUqUJai4YoJWhZXuq/YMBosj+MNUNt6GEg74tpXTYfqEHvsWIwtON2u5nPDPmkqV47mEod2Pt8XiRwz4iSumm/sGXDeyBwD2qVy2AA29I+YdzO5J2R/b5CIxL79pVzgHZquBFf7h0aZBbiQsIsGytdfh8yq72G/4F8T7lpJhOk/Nt2CZrihkEg9uzSwAic5n2WSyFwTXwJSt130mwZTt421quKZ2FcApJOp5R9Cj3x3l8NsbLfmvpYt1r5mvaGRWbS9RO/XEq/nxmcFxTqYeV1aGiEi6K80i3CB4mZUe/Hu/A1vC/0sHNMazuWZ26xqKIG2nRuRy4iZK22dKrhM3waoqv240J9ol0vXs69lfmsk8HsXSXKrfLJTCIHX6DG88CTtiyfebmyGnVOMPoTw9TS9vLM5pJyZ+oLUygaZTRdxUK1rUytmOnjZk5Iv8odilYdUL2p16PloJv4Eb3sDbgvm1GQe8SADVOT+hGQaBNiFVTwQ32fAcSkkncq5v38i81K+xrX3Ws3UCADO2JERiRY7rmcJoMeUz06H+g0XIWGgCtNhpWrgo9E9K51rfa6Itw+zQXee8wnr0qBriSSO424zKscsPO0bQSGPDUVpmDmddQRt5haYllpU0/5pviw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:92:9e:8b", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-02-07T13:52:50.440382+00:00", "modification_date": "2025-02-07T13:52:50.440382+00:00", "bootscript": null, "security_group": {"id": "76c04048-c19b-420b-9576-0f5c9d201d9a", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/6df5fd61-5b4d-4a70-877b-04a45c01d70d
        status: 201 Created
        code: 201
        duration: 1.343603666s
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/6df5fd61-5b4d-4a70-877b-04a45c01d70d/action
        method: POST
      response:
        body: '{"task": {"id": "8b63ed58-5728-4f56-a49e-6d6b5d8b2fee", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/6df5fd61-5b4d-4a70-877b-04a45c01d70d/action", "href_result": "/servers/6df5fd61-5b4d-4a70-877b-04a45c01d70d", "started_at": "2025-02-07T13:52:51.418602+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/8b63ed58-5728-4f56-a49e-6d6b5d8b2fee
        status: 202 Accepted
        code: 202
        duration: 304.366292ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/6df5fd61-5b4d-4a70-877b-04a45c01d70d
        method: GET
      response:
        body: '{"server": {"id": "6df5fd61-5b4d-4a70-877b-04a45c01d70d", "name": "packer-67a6102f-be5d-bedf-aa32-2de808a0cc3e", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"action":"backup","name":"packer-e2e-block","volumes":{"bedc4584-bee2-4985-8a83-f5832ba7c022":{},"ea106043-f4d3-477d-bc21-10f1a3267c28":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/6df5fd61-5b4d-4a70-877b-04a45c01d70d/action
        method: POST
      response:
        body: '{"task": {"id": "3d041e81-1030-40b6-aae8-c887d6d2d04e", "description": "instance_backup", "status": "pending", "href_from": "/servers/6df5fd61-5b4d-4a70-877b-04a45c01d70d/action", "href_result": "/images/b1902138-85b3-4de7-a502-d50f1e93c92f", "started_at": "2025-02-07T13:53:34.628194+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/3d041e81-1030-40b6-aae8-c887d6d2d04e
        status: 202 Accepted
        code: 202
        duration: 665.943792ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b1902138-85b3-4de7-a502-d50f1e93c92f
        method: GET
      response:
        body: '{"image": {"id": "b1902138-85b3-4de7-a502-d50f1e93c92f", "name": "packer-e2e-block", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "65a3940d-94a0-4a0b-932e-eedae2a6a98e", "root_volume": {"volume_type": "sbs_snapshot", "id": "f7a0bcef-728b-4f5f-b0c2-45d859448169", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "13522482-24b6-4bca-93a1-0489e7e420b6", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-02-07T13:53:34.012424+00:00", "modification_date": "2025-02-07T13:53:34.012424+00:00", "default_bootscript": null, "from_server": "6df5fd61-5b4d-4a70-877b-04a45c01d70d", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 83.829042ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/bedc4584-bee2-4985-8a83-f5832ba7c022
        method: GET
      response:
        body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume", "resource_id": "bedc4584-bee2-4985-8a83-f5832ba7c022"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.091167ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/bedc4584-bee2-4985-8a83-f5832ba7c022
        method: GET
      response:
        body: '{"id":"bedc4584-bee2-4985-8a83-f5832ba7c022","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","size":10000000000,"project_id":"65a3940d-94a0-4a0b-932e-eedae2a6a98e","created_at":"2025-02-07T13:52:50.580259Z","updated_at":"2025-02-07T13:53:35.250724Z","references":[],"parent_snapshot_id":"4eb9437f-8993-444a-b564-f7654add2131","status":"available","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":"2025-02-07T13:53:35.250724Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.04525ms
[...]
