---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-block>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 193.427034ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1744011504&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1744011504>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 93.252165ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-block-vol1","perf_iops":5000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","from_empty":{"size":20000000000},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"ea67f373-a6ea-4c57-9af3-d13981d92cb3","name":"packer-e2e-block-vol1","type":"sbs_5k","size":20000000000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2025-04-07T07:38:29.318344Z","updated_at":"2025-04-07T07:38:29.318344Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.365475ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67f380f0-7a06-e425-cf56-b56192e9a03b","commercial_type":"PRO2-XXS","image":"ubuntu_jammy","volumes":{"1":{"id":"ea67f373-a6ea-4c57-9af3-d13981d92cb3","volume_type":"sbs_volume"}},"boot_type":"local","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCrE+GlzaTyn/fl5YwE1Vg2eWzVOfEwDJhkfkOTf0rfeC9CDdJA+XoVcYPJLOmiutpwcN81wCQ8dHGp3hN3kb+Taj57mpL0Bv3ZoHAcEL5IhcFsOfhYgvLiSWlUAYkJSQrl+l6GXzL0+oXRaXkeaJXBKdnsU4/8quhD6DWgEIVH7x8Yj3ldMHZame6y0wWvt9UGwbLMUqu2zrU6EX7kwJ03lOJIwnLRzrRPpycEsxrRmMdVNowV/00vhfq+2ui64CzqPaxNDlgYSOAsQcjeq8y2OFBxDLPkD1kvZ7+8uC2/P+JBIACJjKXY05ReSuIAs0YynSXdARS/L2UxYxN6p8ak4QZaGzjG09tyI45Ema3zuJtApxAZI9iBYmV0yhdcl1sIS09Cs1vLo4k2d9tIfa9pQjkFaMWT3sUnhEYYCKKd+n/uA1Df30NJCzCiUWPe1a0ZdDUKCXOQ4egJ603Y+8qfxySKsCGXAbVNuB+8VhtfQ5uku7/UbxpRnDslflzfh/rC9fKvRkZ0Nnvrp4Vfo5wN+nY+HZAH+BD+gEgT8ohqHprwjPAlIZQrS7/DoW0zFpGqqMhBCG951w7070VeGeLJOQRGP9IeUBVaYQ+pqPfOfim8BBaq5sCGVISFrQCrasQLTEH8IhbeLLzprfyifXatf1OJE4ivgwg/TQ5561RSEw=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d", "name": "packer-67f380f0-7a06-e425-cf56-b56192e9a03b", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "hostname": "packer-67f380f0-7a06-e425-cf56-b56192e9a03b", "image": {"id": "63d40353-5519-46d0-9172-ccf4885954e1", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "905845fc-a6eb-4401-8e9d-5810071b7119", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-02-03T13:22:53.227105+00:00", "modification_date": "2025-02-03T13:22:53.227105+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "f77bd661-4d2f-4151-9811-af0bf1449fff", "zone": "fr-par-1"}, "1": {"boot": false, "volume_type": "sbs_volume", "id": "ea67f373-a6ea-4c57-9af3-d13981d92cb3", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCrE+GlzaTyn/fl5YwE1Vg2eWzVOfEwDJhkfkOTf0rfeC9CDdJA+XoVcYPJLOmiutpwcN81wCQ8dHGp3hN3kb+Taj57mpL0Bv3ZoHAcEL5IhcFsOfhYgvLiSWlUAYkJSQrl+l6GXzL0+oXRaXkeaJXBKdnsU4/8quhD6DWgEIVH7x8Yj3ldMHZame6y0wWvt9UGwbLMUqu2zrU6EX7kwJ03lOJIwnLRzrRPpycEsxrRmMdVNowV/00vhfq+2ui64CzqPaxNDlgYSOAsQcjeq8y2OFBxDLPkD1kvZ7+8uC2/P+JBIACJjKXY05ReSuIAs0YynSXdARS/L2UxYxN6p8ak4QZaGzjG09tyI45Ema3zuJtApxAZI9iBYmV0yhdcl1sIS09Cs1vLo4k2d9tIfa9pQjkFaMWT3sUnhEYYCKKd+n/uA1Df30NJCzCiUWPe1a0ZdDUKCXOQ4egJ603Y+8qfxySKsCGXAbVNuB+8VhtfQ5uku7/UbxpRnDslflzfh/rC9fKvRkZ0Nnvrp4Vfo5wN+nY+HZAH+BD+gEgT8ohqHprwjPAlIZQrS7/DoW0zFpGqqMhBCG951w7070VeGeLJOQRGP9IeUBVaYQ+pqPfOfim8BBaq5sCGVISFrQCrasQLTEH8IhbeLLzprfyifXatf1OJE4ivgwg/TQ5561RSEw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:a3:2b:a3", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-04-07T07:38:29.631305+00:00", "modification_date": "2025-04-07T07:38:29.631305+00:00", "bootscript": null, "security_group": {"id": "6b9803c6-af6d-4401-bc48-4c90517e5f60", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": []}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d
        status: 201 Created
        code: 201
        duration: 1.159707019s
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d/action
        method: POST
      response:
        body: '{"task": {"id": "6be9d8b3-472a-45d0-916c-f1edb6dfd56b", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d/action", "href_result": "/servers/82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d", "started_at": "2025-04-07T07:38:31.079601+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/6be9d8b3-472a-45d0-916c-f1edb6dfd56b
        status: 202 Accepted
        code: 202
        duration: 612.583593ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d
        method: GET
      response:
        body: '{"server": {"id": "82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d", "name": "packer-67f380f0-7a06-e425-cf56-b56192e9a03b", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "564aa517-68b0-4fd7-8c8c-d21c4[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"action":"backup","name":"packer-e2e-block","volumes":{"ea67f373-a6ea-4c57-9af3-d13981d92cb3":{},"f77bd661-4d2f-4151-9811-af0bf1449fff":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d/action
        method: POST
      response:
        body: '{"task": {"id": "0daa0e7e-4aec-48e3-90fd-d10a2734f3d3", "description": "instance_backup", "status": "pending", "href_from": "/servers/82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d/action", "href_result": "/images/3d85957d-5b0a-4f7d-ab2f-719188eb9f8f", "started_at": "2025-04-07T07:39:14.765821+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/0daa0e7e-4aec-48e3-90fd-d10a2734f3d3
        status: 202 Accepted
        code: 202
        duration: 990.737533ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/3d85957d-5b0a-4f7d-ab2f-719188eb9f8f
        method: GET
      response:
        body: '{"image": {"id": "3d85957d-5b0a-4f7d-ab2f-719188eb9f8f", "name": "packer-e2e-block", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "root_volume": {"volume_type": "sbs_snapshot", "id": "dad059d6-6dde-498f-9f87-4f657d06dea9", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "10e765f3-33ad-49c1-add4-188102d1f71d", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-04-07T07:39:13.824910+00:00", "modification_date": "2025-04-07T07:39:13.824910+00:00", "default_bootscript": null, "from_server": "82f66ae2-fdd2-4f26-91be-91bbe6a0bb9d", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.328719ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/f77bd661-4d2f-4151-9811-af0bf1449fff
        method: GET
      response:
        body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume", "resource_id": "f77bd661-4d2f-4151-9811-af0bf1449fff"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 30.481313ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/f77bd661-4d2f-4151-9811-af0bf1449fff
        method: GET
      response:
        body: '{"id":"f77bd661-4d2f-4151-9811-af0bf1449fff","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","size":10000000000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2025-04-07T07:38:29.734416Z","updated_at":"2025-04-07T07:39:15.268313Z","references":[],"parent_snapshot_id":"905845fc-a6eb-4401-8e9d-5810071b7119","status":"available","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":"2025-04-07T07:39:15.268313Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 128.2855ms
[...]
