---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-windows
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-windows&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-windows>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 484.488034ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 177.919978ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":null, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"1d6c36f5-bffb-40f1-89e4-2674e08a9c67", "name":"image-windows-configured_snap_0", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:34.066522Z", "updated_at":"2025-11-10T15:53:34.066522Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"996b58eb-6c76-4cca-a1f1-2ada8042d02a", "name":"snp-nice-kilby", "parent_volume":{"id":"48dab899-d6b3-4261-91d4-ec3f3e65bf46", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-06-09T18:16:53.192083Z", "updated_at":"2026-06-09T18:16:53.192083Z", "references":[], "status":"available", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.265609ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tmp-server-windows","commercial_type":"POP2-2C-8G-WIN","image":"windows_server_2022","boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["with-ssh","AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDGT+Btf8pmcRSpPtgT/bnOwKBz/uMld7uLBVt6Aun2KgoGqDz6+k0CMN0h6qN5A5pFN0ZuArnKod7lkuSoiuC5uZkzutmISBofNkYibmq9M/ry17aRDqdWKBrPQ8XGf+s2iFmSXb4JP45ntUpm1p5tQ7Frm38DDZ0T/zJ3wX+3NYW0SUw4OEvSjf9z2OlVZmE3mJ3bfAVgZFCu1MivrzyI5c+tSiECIexbAENCy90osRaaCC8PlFV8n+Y3QcTPNvlVa5RKxZW2Q6QIUvrW2BdsTa+1GIhjgzBMWkpSunHCCK+VDXKf5t1QgCqioz4YqR5m0C6nA4bzSK3fCu8NY4heZua0TBEpcP9lQVigK4QuhT1n7UwGi16uA3L8pUcvnkRbxGdieLqPLENGPSwisFDDmFJU2KANnrwKE4dJCuN3CAZ8uQmdKTBYBZRjHqq0oDeAs9UoLDLgLQcJdyT/H4DILFgeg/xU/BvBCWN+5eAiZh7TKMttNACewE3BfMF52GtarqdqSYe7V4HZb7qXzndpQ3AJtgYgJe3PORJKDRPtiSXXlOeKQb9N3DE5rn/23NO2YJKcUeN1CmDBuIs+mdi6joRewZToWVq+Ehs3oNYwe422BX7Pn3VKGSN2o+qYfd5HyAGiPg70MIS8PRA+wP8MVIUk0YjNNJjx5ZUnv0rtOw=="],"admin_password_encryption_ssh_key_id":"e66ef69a-42f4-466a-ae4c-f716cb96fd3c"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "34982bdb-b329-4f38-9f3d-4ce28bb04c84", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "2ab63260-8127-47d1-b522-fb31f07a2aec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-04-16T13:51:55.046000+00:00", "modification_date": "2026-04-16T13:51:55.046000+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "897e58b5-c600-4953-a66b-0461155d9994", "state": "available", "zone": "fr-par-1"}}, "tags": ["with-ssh", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDGT+Btf8pmcRSpPtgT/bnOwKBz/uMld7uLBVt6Aun2KgoGqDz6+k0CMN0h6qN5A5pFN0ZuArnKod7lkuSoiuC5uZkzutmISBofNkYibmq9M/ry17aRDqdWKBrPQ8XGf+s2iFmSXb4JP45ntUpm1p5tQ7Frm38DDZ0T/zJ3wX+3NYW0SUw4OEvSjf9z2OlVZmE3mJ3bfAVgZFCu1MivrzyI5c+tSiECIexbAENCy90osRaaCC8PlFV8n+Y3QcTPNvlVa5RKxZW2Q6QIUvrW2BdsTa+1GIhjgzBMWkpSunHCCK+VDXKf5t1QgCqioz4YqR5m0C6nA4bzSK3fCu8NY4heZua0TBEpcP9lQVigK4QuhT1n7UwGi16uA3L8pUcvnkRbxGdieLqPLENGPSwisFDDmFJU2KANnrwKE4dJCuN3CAZ8uQmdKTBYBZRjHqq0oDeAs9UoLDLgLQcJdyT/H4DILFgeg/xU/BvBCWN+5eAiZh7TKMttNACewE3BfMF52GtarqdqSYe7V4HZb7qXzndpQ3AJtgYgJe3PORJKDRPtiSXXlOeKQb9N3DE5rn/23NO2YJKcUeN1CmDBuIs+mdi6joRewZToWVq+Ehs3oNYwe422BX7Pn3VKGSN2o+qYfd5HyAGiPg70MIS8PRA+wP8MVIUk0YjNNJjx5ZUnv0rtOw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:17:e5:7b", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-11T11:49:58.108917+00:00", "modification_date": "2026-06-11T11:49:58.108917+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "34982bdb-b329-4f38-9f3d-4ce28bb04c84.pub.instances.scw.cloud", "admin_password_encryption_ssh_key_id": "e66ef69a-42f4-466a-ae4c-f716cb96fd3c"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/34982bdb-b329-4f38-9f3d-4ce28bb04c84
        status: 201 Created
        code: 201
        duration: 735.087432ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/34982bdb-b329-4f38-9f3d-4ce28bb04c84/action
        method: POST
      response:
        body: '{"task": {"id": "a96f2446-e25f-4986-b9dd-9322199b2d5b", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/34982bdb-b329-4f38-9f3d-4ce28bb04c84/action", "href_result": "/servers/34982bdb-b329-4f38-9f3d-4ce28bb04c84", "started_at": "2026-06-11T11:49:59.096578+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/a96f2446-e25f-4986-b9dd-9322199b2d5b
        status: 202 Accepted
        code: 202
        duration: 484.856643ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/34982bdb-b329-4f38-9f3d-4ce28bb04c84
        method: GET
      response:
        body: '{"server": {"id": "34982bdb-b329-4f38-9f3d-4ce28bb04c84", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-[...]
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"volume_id":"897e58b5-c600-4953-a66b-0461155d9994","name":"snp-quirky-khorana","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"e6cb74fe-a69d-4d3a-a436-55e5805c0be7", "name":"snp-quirky-khorana", "parent_volume":{"id":"897e58b5-c600-4953-a66b-0461155d9994", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-11T11:52:38.643252Z", "updated_at":"2026-06-11T11:52:38.643252Z", "references":[], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 154.699773ms
    - id: 41
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/e6cb74fe-a69d-4d3a-a436-55e5805c0be7
        method: GET
      response:
        body: '{"id":"e6cb74fe-a69d-4d3a-a436-55e5805c0be7", "name":"snp-quirky-khorana", "parent_volume":{"id":"897e58b5-c600-4953-a66b-0461155d9994", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-11T11:52:38.643252Z", "updated_at":"2026-06-11T11:52:38.643252Z", "references":[{"id":"899258c9-c83c-4872-ab9c-7cc4601f948b", "product_resource_type":"internal", "product_resource_id":"00000000-0000-0000-0000-000000000000", "created_at":"2026-06-11T11:52:38.689206Z", "type":"unknown_type", "status":"attached"}], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.116135ms
[...]
    - id: 43
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-windows","root_volume":"e6cb74fe-a69d-4d3a-a436-55e5805c0be7","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "73e7b9e0-22eb-4855-b833-31f79534d97b", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "e6cb74fe-a69d-4d3a-a436-55e5805c0be7", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-11T11:52:43.884829+00:00", "modification_date": "2026-06-11T11:52:43.884829+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/73e7b9e0-22eb-4855-b833-31f79534d97b
        status: 201 Created
        code: 201
        duration: 264.484325ms
    - id: 44
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/73e7b9e0-22eb-4855-b833-31f79534d97b
        method: GET
      response:
        body: '{"image": {"id": "73e7b9e0-22eb-4855-b833-31f79534d97b", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "e6cb74fe-a69d-4d3a-a436-55e5805c0be7", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-11T11:52:43.884829+00:00", "modification_date": "2026-06-11T11:52:43.884829+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.192448ms
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/897e58b5-c600-4953-a66b-0461155d9994
        method: PATCH
      response:
        body: '{"id":"897e58b5-c600-4953-a66b-0461155d9994", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-11T11:49:58.343232Z", "updated_at":"2026-06-11T11:49:58.343232Z", "references":[{"id":"08b61290-a04b-4300-afa4-0b91c56a8c66", "product_resource_type":"instance_server", "product_resource_id":"34982bdb-b329-4f38-9f3d-4ce28bb04c84", "created_at":"2026-06-11T11:49:58.343232Z", "type":"exclusive", "status":"attached"}], "parent_snapshot_id":"2ab63260-8127-47d1-b522-fb31f07a2aec", "status":"in_use", "tags":["devtools", "provider", "packer"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.049681ms
