---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume-sbs&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-root-volume-sbs>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 259.170116ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1744011557&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1744011557>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 106.658994ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67f38125-7361-578d-ac95-1f7741fef455","commercial_type":"PLAY2-PICO","image":"ubuntu_jammy","volumes":{"0":{"size":50000000000,"volume_type":"sbs_volume"}},"boot_type":"local","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDMCMZv4jwu0LkssG0Yn9vnt7RvlhwJXr7kpO644gZTp2diKb4DJ0F/SNYmjrEc7MscTqUVWhZoDGUzngJ7cBS53HnS9J3by0yZN1+R77QTiFl7LHcf1vemNClmSEOas6ts+mG+rWBZSd0MoMbHdgvqNU/imZfqZ6WRJq1Xg7xkAxrE6GFxgy6n7HFbCNA/b+GnucncPjwjLPiVoP3vpwDZkCpyBG1cI7Vtu/Wv6Aqchi9z+btfZKAk3e2Vr9K5KOekbiPxFaF9ZKuvs5wQk3GeYHMlFpiCCa/spHlQDSNE55EjpzZzRYoLyd+A9Qo45oq5vXSC4XPYE4zmeh17UKIryHZcmo8yVDFrLNzUUhWt+YcJ+gvUz0ZJ8OkkC4cqNecyNTBHnzGy18QYiOxd4BBfbuxhubTDUmP4adjuf1QIzO125VVNOCkF8pwRdFu05eg0RxmJvZlVBg15+JTE6YI19cC4nHvcCSOCg4tPYOHICfG9AxhScxcvJ0OGjxHd492xU5igIkzgAPdN7P+7lS2Y72k+fGa83Ru/8ROUW9LYfWfYV4qk7Zwa592tYeYXNwy2dPurs/rEg/zLSMpqow0AFrimrdX2fzw/s5WyA/+D81xhzsZDyft+RAKHME1+kKdOch/LIjFJBhNWMS62tMcvbDqeC0TmdIvmvGoe1d/JRQ=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "697420cd-a996-4dd4-90cd-4c912bc5bf7a", "name": "packer-67f38125-7361-578d-ac95-1f7741fef455", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "hostname": "packer-67f38125-7361-578d-ac95-1f7741fef455", "image": {"id": "63d40353-5519-46d0-9172-ccf4885954e1", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "905845fc-a6eb-4401-8e9d-5810071b7119", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-02-03T13:22:53.227105+00:00", "modification_date": "2025-02-03T13:22:53.227105+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "6e853a8c-f74e-42f5-88ca-c309b7818594", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDMCMZv4jwu0LkssG0Yn9vnt7RvlhwJXr7kpO644gZTp2diKb4DJ0F/SNYmjrEc7MscTqUVWhZoDGUzngJ7cBS53HnS9J3by0yZN1+R77QTiFl7LHcf1vemNClmSEOas6ts+mG+rWBZSd0MoMbHdgvqNU/imZfqZ6WRJq1Xg7xkAxrE6GFxgy6n7HFbCNA/b+GnucncPjwjLPiVoP3vpwDZkCpyBG1cI7Vtu/Wv6Aqchi9z+btfZKAk3e2Vr9K5KOekbiPxFaF9ZKuvs5wQk3GeYHMlFpiCCa/spHlQDSNE55EjpzZzRYoLyd+A9Qo45oq5vXSC4XPYE4zmeh17UKIryHZcmo8yVDFrLNzUUhWt+YcJ+gvUz0ZJ8OkkC4cqNecyNTBHnzGy18QYiOxd4BBfbuxhubTDUmP4adjuf1QIzO125VVNOCkF8pwRdFu05eg0RxmJvZlVBg15+JTE6YI19cC4nHvcCSOCg4tPYOHICfG9AxhScxcvJ0OGjxHd492xU5igIkzgAPdN7P+7lS2Y72k+fGa83Ru/8ROUW9LYfWfYV4qk7Zwa592tYeYXNwy2dPurs/rEg/zLSMpqow0AFrimrdX2fzw/s5WyA/+D81xhzsZDyft+RAKHME1+kKdOch/LIjFJBhNWMS62tMcvbDqeC0TmdIvmvGoe1d/JRQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:a3:2b:ad", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-04-07T07:39:21.912938+00:00", "modification_date": "2025-04-07T07:39:21.912938+00:00", "bootscript": null, "security_group": {"id": "6b9803c6-af6d-4401-bc48-4c90517e5f60", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": []}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/697420cd-a996-4dd4-90cd-4c912bc5bf7a
        status: 201 Created
        code: 201
        duration: 737.957199ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"perf_iops":15000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/6e853a8c-f74e-42f5-88ca-c309b7818594
        method: PATCH
      response:
        body: '{"id":"6e853a8c-f74e-42f5-88ca-c309b7818594","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","size":50000000000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2025-04-07T07:39:22.025857Z","updated_at":"2025-04-07T07:39:22.025857Z","references":[{"id":"00c62cf6-b153-4b1d-8cd0-a892d987f08b","product_resource_type":"instance_server","product_resource_id":"697420cd-a996-4dd4-90cd-4c912bc5bf7a","created_at":"2025-04-07T07:39:22.025857Z","type":"exclusive","status":"attached"}],"parent_snapshot_id":"905845fc-a6eb-4401-8e9d-5810071b7119","status":"updating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.873607ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/697420cd-a996-4dd4-90cd-4c912bc5bf7a/action
        method: POST
      response:
        body: '{"task": {"id": "98477f5c-834e-47fd-8f78-96aaba74f58b", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/697420cd-a996-4dd4-90cd-4c912bc5bf7a/action", "href_result": "/servers/697420cd-a996-4dd4-90cd-4c912bc5bf7a", "started_at": "2025-04-07T07:39:23.282693+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/98477f5c-834e-47fd-8f78-96aaba74f58b
        status: 202 Accepted
        code: 202
        duration: 899.060445ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/697420cd-a996-4dd4-90cd-4c912bc5bf7a
        method: GET
      response:
        body: '{"server": {"id": "697420cd-a996-4dd4-90cd-4c912bc5bf7a", "name": "packer-67f38125-7361-578d-ac95-1f7741fef455", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "564aa517-68b0-4fd7-8c8c-d21[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/3c544bd6-eed0-40d1-96a7-7e7772fdbee1
        method: GET
      response:
        body: '{"image": {"id": "3c544bd6-eed0-40d1-96a7-7e7772fdbee1", "name": "packer-e2e-root-volume-sbs", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "root_volume": {"volume_type": "sbs_snapshot", "id": "2dc0b14d-83be-4c00-8cc0-87b495a492a3", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-04-07T07:40:05.536874+00:00", "modification_date": "2025-04-07T07:40:05.536874+00:00", "default_bootscript": null, "from_server": "697420cd-a996-4dd4-90cd-4c912bc5bf7a", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 73.3998ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/6e853a8c-f74e-42f5-88ca-c309b7818594
        method: GET
      response:
        body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume", "resource_id": "6e853a8c-f74e-42f5-88ca-c309b7818594"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.661479ms
[...]
