---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-block>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 367.040792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1739201751&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1739201751>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 175.760416ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-block-vol1","perf_iops":5000,"project_id":"b577a333-d52a-4d86-9310-b413d5fe9bb1","from_empty":{"size":20000000000},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"530d0f22-79a8-4ee7-94cd-92aa46642c9d","name":"packer-e2e-block-vol1","type":"sbs_5k","size":20000000000,"project_id":"b577a333-d52a-4d86-9310-b413d5fe9bb1","created_at":"2025-02-10T15:35:56.279368Z","updated_at":"2025-02-10T15:35:56.279368Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 166.860875ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67aa1cd7-2661-f03d-6fe9-b3ebef43410b","commercial_type":"PRO2-XXS","image":"ubuntu_jammy","volumes":{"1":{"id":"530d0f22-79a8-4ee7-94cd-92aa46642c9d","volume_type":"sbs_volume"}},"boot_type":"local","project":"b577a333-d52a-4d86-9310-b413d5fe9bb1","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC2Yyyy1gDN4ixip/N7LGZ7Ghk87o2Cw0vRWmkqQ3mFYHMSHrZZwrZT6jI/Z3AMZsKXd3RfKnjbjA54Ggb1Qe36U3g0ht0HJ7mBsLQoFM3NDgaxnVnATm+fbU2sJNfyxKmyrNJjF5QM6YHHna1Eb6S4Dbh6qqtySbKrWiAvryTZqjS39EnBIuiSSOjkSBtlKNFnmd4xyRIyzwjPBRTDJahSxkLeiTGFGsFi/fhZ3U5n15JlRW+tQnOGrxJVvtrSqcTXegkDRKDoa1fbIT5GfdPQHrxzbPcJRgSX7FRHZ4uQSGllvLGH9pQthAc1JgY871ujjkMv3E+NSqZOHuhz5R78CndlwDM8R6f+qWQ0j+SlQ+qEIozMUHC0vTyhq6X2g4CDWwo1ANq7CyPN6g3kHCMr3NeE6nxIwLojBoYTp0YbzsdGsaykR7s1h0liBhFJ+NCq+694O6NZ98+SS6/poprd+lraSLdE9QgU28iBoJSMoITpSW9Uf4dxG16nmfO2UPr0WKlenM/+qN2YUHF+c93tgiiX0p3DW2hRaGWKtTfKi1j/KT1dchQRRAr0KQmjZO5pPviBJXBPCuPnhj8wQMkimaVIrbvqc3Zp9mjfPFPabMNiRoWVGTXKAs+OCuYilafNvEESslfl2gttnMEEXLitKvMenmOjbmG86qVtZtxbBQ=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "c12a0843-fb85-4985-9441-2dc15014ed13", "name": "packer-67aa1cd7-2661-f03d-6fe9-b3ebef43410b", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "b577a333-d52a-4d86-9310-b413d5fe9bb1", "hostname": "packer-67aa1cd7-2661-f03d-6fe9-b3ebef43410b", "image": {"id": "1fb9bfa4-68c3-4d6f-a362-8913a1af27b0", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "4eb9437f-8993-444a-b564-f7654add2131", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-10-07T11:39:13.069801+00:00", "modification_date": "2024-10-07T11:39:13.069801+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "34b8befc-f3e2-47eb-8d5a-14a5a28bfb8c", "zone": "fr-par-1"}, "1": {"boot": false, "volume_type": "sbs_volume", "id": "530d0f22-79a8-4ee7-94cd-92aa46642c9d", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC2Yyyy1gDN4ixip/N7LGZ7Ghk87o2Cw0vRWmkqQ3mFYHMSHrZZwrZT6jI/Z3AMZsKXd3RfKnjbjA54Ggb1Qe36U3g0ht0HJ7mBsLQoFM3NDgaxnVnATm+fbU2sJNfyxKmyrNJjF5QM6YHHna1Eb6S4Dbh6qqtySbKrWiAvryTZqjS39EnBIuiSSOjkSBtlKNFnmd4xyRIyzwjPBRTDJahSxkLeiTGFGsFi/fhZ3U5n15JlRW+tQnOGrxJVvtrSqcTXegkDRKDoa1fbIT5GfdPQHrxzbPcJRgSX7FRHZ4uQSGllvLGH9pQthAc1JgY871ujjkMv3E+NSqZOHuhz5R78CndlwDM8R6f+qWQ0j+SlQ+qEIozMUHC0vTyhq6X2g4CDWwo1ANq7CyPN6g3kHCMr3NeE6nxIwLojBoYTp0YbzsdGsaykR7s1h0liBhFJ+NCq+694O6NZ98+SS6/poprd+lraSLdE9QgU28iBoJSMoITpSW9Uf4dxG16nmfO2UPr0WKlenM/+qN2YUHF+c93tgiiX0p3DW2hRaGWKtTfKi1j/KT1dchQRRAr0KQmjZO5pPviBJXBPCuPnhj8wQMkimaVIrbvqc3Zp9mjfPFPabMNiRoWVGTXKAs+OCuYilafNvEESslfl2gttnMEEXLitKvMenmOjbmG86qVtZtxbBQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:93:2b:0d", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-02-10T15:35:56.681054+00:00", "modification_date": "2025-02-10T15:35:56.681054+00:00", "bootscript": null, "security_group": {"id": "0a1339e8-9a2a-4650-badf-eb97dda33105", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c12a0843-fb85-4985-9441-2dc15014ed13
        status: 201 Created
        code: 201
        duration: 1.323946917s
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c12a0843-fb85-4985-9441-2dc15014ed13/action
        method: POST
      response:
        body: '{"task": {"id": "3e92484b-9e12-4749-8ae5-1ef621e0479f", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/c12a0843-fb85-4985-9441-2dc15014ed13/action", "href_result": "/servers/c12a0843-fb85-4985-9441-2dc15014ed13", "started_at": "2025-02-10T15:35:58.127814+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/3e92484b-9e12-4749-8ae5-1ef621e0479f
        status: 202 Accepted
        code: 202
        duration: 505.100083ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c12a0843-fb85-4985-9441-2dc15014ed13
        method: GET
      response:
        body: '{"server": {"id": "c12a0843-fb85-4985-9441-2dc15014ed13", "name": "packer-67aa1cd7-2661-f03d-6fe9-b3ebef43410b", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/37a6357e-f971-4fbf-a80d-1fc6b7cc328a
        method: GET
      response:
        body: '{"image": {"id": "37a6357e-f971-4fbf-a80d-1fc6b7cc328a", "name": "packer-e2e-block", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "b577a333-d52a-4d86-9310-b413d5fe9bb1", "root_volume": {"volume_type": "sbs_snapshot", "id": "c9e1d66a-a330-4636-9419-b5f660df4d6e", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "1057e812-e695-43b1-be59-75d40c4433bd", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-02-10T15:36:41.434137+00:00", "modification_date": "2025-02-10T15:36:41.434137+00:00", "default_bootscript": null, "from_server": "c12a0843-fb85-4985-9441-2dc15014ed13", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.89425ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/530d0f22-79a8-4ee7-94cd-92aa46642c9d
        method: GET
      response:
        body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume", "resource_id": "530d0f22-79a8-4ee7-94cd-92aa46642c9d"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 31.479584ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/530d0f22-79a8-4ee7-94cd-92aa46642c9d
        method: GET
      response:
        body: '{"id":"530d0f22-79a8-4ee7-94cd-92aa46642c9d","name":"packer-e2e-block-vol1","type":"sbs_5k","size":20000000000,"project_id":"b577a333-d52a-4d86-9310-b413d5fe9bb1","created_at":"2025-02-10T15:35:56.279368Z","updated_at":"2025-02-10T15:36:43.276018Z","references":[],"parent_snapshot_id":null,"status":"available","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":"2025-02-10T15:36:43.276018Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.550917ms
[...]
