---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-block>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 1.081705833s
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1738932260&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1738932260>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 203.581417ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-block-vol1","perf_iops":5000,"project_id":"c2ca17f6-8d17-4179-b9ba-98b70afa882f","from_empty":{"size":20000000000},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"e5d0c685-b81f-4c04-ade6-a46057f6e0a9","name":"packer-e2e-block-vol1","type":"sbs_5k","size":20000000000,"project_id":"c2ca17f6-8d17-4179-b9ba-98b70afa882f","created_at":"2025-02-07T12:44:23.151118Z","updated_at":"2025-02-07T12:44:23.151118Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 107.759041ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67a60024-75c1-ba3d-4032-ba230b835ab0","commercial_type":"PRO2-XXS","image":"ubuntu_jammy","volumes":{"1":{"id":"e5d0c685-b81f-4c04-ade6-a46057f6e0a9","volume_type":"sbs_volume"}},"boot_type":"local","project":"c2ca17f6-8d17-4179-b9ba-98b70afa882f","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDEazZBnTwhR0+jRgXRgyb3M2vP9vSYWSgPPceuSjEUb74/Px8Q4J6q0p1FLjOOGQndI5HfVsB/kt/K03c0RkLttjJ/lNokrnjrJFhlL2Hgu/snbO5Sgm2HV7V2YfgpflVv+fey+zqYbqUzftqOFU5hPve+K5hP2maFdr6InPUCZzH+TPqCs2w3IqE7ZnStbphD2Apbgu+1TsOP4GnPIidL9zlMWzMcjWIiENpEig2nNtY0zTfLyT6AXhMDBYZMXUbZFLN59xxODw4hL7Y2OLJ4ps9y6Gar/FE+PZGB+zg02IxOi1sDJUZt5SKsi4kJnrBLmd8F3lkSUOOdvMDTDgnwt3/f7qDbGWeU2TtAJPiU5YNI3bBgip43FkfQad5PQNoXSUGQv3WycN4/TtKkR5km8Blz0Acdcdv7rmYzCB/RaFcpBgmWzydk71omBmD37EGr0itpiYNdL1DTLN+A01nIu0kjlVypnRjZ05ZkIf0Gfy5QT7Ivpcw418PU1M7OJubXEEQkeaBeZb05xlGbjokcz4cplwfAs1YZ6UjiV2F2MijxNaBJwkiAC4MNL4ppQq6QM6neXVwDwzjr1okPA8RdYcRd9j51Qar0SF3l4Naexm4bg3TecMksN+oHKud9K4oRXujT+lC0uV76dd+hSfayfJU+qsxteKqYnuD9pO0CFQ=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "fd1fb5a8-6840-4730-a2e1-274308d7ba66", "name": "packer-67a60024-75c1-ba3d-4032-ba230b835ab0", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "c2ca17f6-8d17-4179-b9ba-98b70afa882f", "hostname": "packer-67a60024-75c1-ba3d-4032-ba230b835ab0", "image": {"id": "1fb9bfa4-68c3-4d6f-a362-8913a1af27b0", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "4eb9437f-8993-444a-b564-f7654add2131", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-10-07T11:39:13.069801+00:00", "modification_date": "2024-10-07T11:39:13.069801+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "907ad7f0-5536-47bd-bde4-10ee70e36506", "zone": "fr-par-1"}, "1": {"boot": false, "volume_type": "sbs_volume", "id": "e5d0c685-b81f-4c04-ade6-a46057f6e0a9", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDEazZBnTwhR0+jRgXRgyb3M2vP9vSYWSgPPceuSjEUb74/Px8Q4J6q0p1FLjOOGQndI5HfVsB/kt/K03c0RkLttjJ/lNokrnjrJFhlL2Hgu/snbO5Sgm2HV7V2YfgpflVv+fey+zqYbqUzftqOFU5hPve+K5hP2maFdr6InPUCZzH+TPqCs2w3IqE7ZnStbphD2Apbgu+1TsOP4GnPIidL9zlMWzMcjWIiENpEig2nNtY0zTfLyT6AXhMDBYZMXUbZFLN59xxODw4hL7Y2OLJ4ps9y6Gar/FE+PZGB+zg02IxOi1sDJUZt5SKsi4kJnrBLmd8F3lkSUOOdvMDTDgnwt3/f7qDbGWeU2TtAJPiU5YNI3bBgip43FkfQad5PQNoXSUGQv3WycN4/TtKkR5km8Blz0Acdcdv7rmYzCB/RaFcpBgmWzydk71omBmD37EGr0itpiYNdL1DTLN+A01nIu0kjlVypnRjZ05ZkIf0Gfy5QT7Ivpcw418PU1M7OJubXEEQkeaBeZb05xlGbjokcz4cplwfAs1YZ6UjiV2F2MijxNaBJwkiAC4MNL4ppQq6QM6neXVwDwzjr1okPA8RdYcRd9j51Qar0SF3l4Naexm4bg3TecMksN+oHKud9K4oRXujT+lC0uV76dd+hSfayfJU+qsxteKqYnuD9pO0CFQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:92:9a:2b", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-02-07T12:44:23.629502+00:00", "modification_date": "2025-02-07T12:44:23.629502+00:00", "bootscript": null, "security_group": {"id": "3b079218-4b48-4894-808e-063abf8848ed", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fd1fb5a8-6840-4730-a2e1-274308d7ba66
        status: 201 Created
        code: 201
        duration: 1.103397917s
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fd1fb5a8-6840-4730-a2e1-274308d7ba66/action
        method: POST
      response:
        body: '{"task": {"id": "5c89c27a-c876-4fd9-91c1-783846e603cd", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/fd1fb5a8-6840-4730-a2e1-274308d7ba66/action", "href_result": "/servers/fd1fb5a8-6840-4730-a2e1-274308d7ba66", "started_at": "2025-02-07T12:44:24.487707+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/5c89c27a-c876-4fd9-91c1-783846e603cd
        status: 202 Accepted
        code: 202
        duration: 304.529209ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fd1fb5a8-6840-4730-a2e1-274308d7ba66
        method: GET
      response:
        body: '{"server": {"id": "fd1fb5a8-6840-4730-a2e1-274308d7ba66", "name": "packer-67a60024-75c1-ba3d-4032-ba230b835ab0", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50[...]
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"action":"backup","name":"packer-e2e-block","volumes":{"907ad7f0-5536-47bd-bde4-10ee70e36506":{},"e5d0c685-b81f-4c04-ade6-a46057f6e0a9":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/fd1fb5a8-6840-4730-a2e1-274308d7ba66/action
        method: POST
      response:
        body: '{"task": {"id": "bba6e169-c53a-4a90-b4c2-741debd8dabe", "description": "instance_backup", "status": "pending", "href_from": "/servers/fd1fb5a8-6840-4730-a2e1-274308d7ba66/action", "href_result": "/images/3bd77a2f-99b8-4649-b114-f685255d1564", "started_at": "2025-02-07T12:45:18.685042+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/bba6e169-c53a-4a90-b4c2-741debd8dabe
        status: 202 Accepted
        code: 202
        duration: 1.12466625s
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/3bd77a2f-99b8-4649-b114-f685255d1564
        method: GET
      response:
        body: '{"image": {"id": "3bd77a2f-99b8-4649-b114-f685255d1564", "name": "packer-e2e-block", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "c2ca17f6-8d17-4179-b9ba-98b70afa882f", "root_volume": {"volume_type": "sbs_snapshot", "id": "7bf18661-8a2e-4a51-a1f7-2f4e59042901", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "a5d8fba7-332c-486f-b645-98f8f4aeacda", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-02-07T12:45:17.665043+00:00", "modification_date": "2025-02-07T12:45:17.665043+00:00", "default_bootscript": null, "from_server": "fd1fb5a8-6840-4730-a2e1-274308d7ba66", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.710333ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/907ad7f0-5536-47bd-bde4-10ee70e36506
        method: DELETE
      response:
        body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume", "resource_id": "907ad7f0-5536-47bd-bde4-10ee70e36506"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 39.404709ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/907ad7f0-5536-47bd-bde4-10ee70e36506
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 180.386542ms
[...]
