---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-simple
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-simple&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-simple>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 359.457871ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 113.651517ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0","name":"snap-windows-configured","parent_volume":null,"size":25000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-10-21T16:49:55.784568Z","updated_at":"2025-10-21T16:49:55.784568Z","references":[],"status":"available","tags":[],"class":"sbs","zone":"fr-par-1","public":false},{"id":"27653438-1c9b-40b3-b734-985080000738","name":"snap-windows-configured-larger","parent_volume":null,"size":40000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-11-10T15:53:12.265541Z","updated_at":"2025-11-10T15:53:12.265541Z","references":[],"status":"available","tags":[],"class":"sbs","zone":"fr-par-1","public":false},{"id":"1d6c36f5-bffb-40f1-89e4-2674e08a9c67","name":"image-windows-configured_snap_0","parent_volume":null,"size":40000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2025-11-10T15:53:34.066522Z","updated_at":"2025-11-10T15:53:34.066522Z","references":[],"status":"in_use","tags":[],"class":"sbs","zone":"fr-par-1","public":false},{"id":"1f083742-68b5-4553-828d-5b0a26f01305","name":"foo","parent_volume":null,"size":10000000000,"project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","created_at":"2026-06-02T14:20:56.153314Z","updated_at":"2026-06-02T14:36:39.345013Z","references":[],"status":"available","tags":["custom","packer"],"class":"sbs","zone":"fr-par-1","public":false}],"total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.304094ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-6a1f025d-9a97-e6c4-019b-ad414ad322cf","commercial_type":"PRO2-XXS","image":"ubuntu_jammy","boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer","AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDnw/eL2k430IJEXNzgQBI52zPklP511RtKNnqXiPbnGeViFBSaspUwQbR+5rSjK/XlO7WCJzat94mZ/JAtF+m+by7TFRGBI6u4aWDJfjBP3HD1vIhStp9jV1Rhe0oz7uEXW80EZW9gCR3IDIzVpiaWmdCHV2lkEDB+llnBo0RktAdJ8QZI3f5z+rhHSKmmsd2sk5T61BhU0jEu/8o++f5C12uc/scSeKRjaRzSi8zo6tbxnOoogLEyaSj8kyPMjKf7Wymld1OOMrqzlgOMfopV7vEG/Dx6vivNDevzNMlYBPTdZqJwcIGxQID6K+MLI7yiC/fxRaWtXWHvz6JwF+R1lVHnnf7JEi77vkUZ44QnMGdbgBlEJo107EEEJAC+jpULuxu28oxvNIzIS/hioZoBFw4Xvez/vhxKhxWAFCo4VNnAKw87fm5ex/Cn1CW3XOdctTgX7dCW8TmK2Trnxs1L1maSgibxjG3+eGr+rSjzcDfS6Kr31SKWsADAwa/oSQQV34ThZZ23nrmVP80amDLn/1AnFpY8z3yIewXslPUXg0mMsjWC24IChdvXdShZv7xhhyyoIQDnfkAVbZgJa4aNDVQag+ci1gKGEQ+gNu5Wft6PK+SU/wkcdDjtEZ23X41R77i1GQ2TivYucJMPlzYMLoGX6DM6tevlOlnOvEcvuQ=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "4c30fb58-64ed-4a58-9d52-976e749d04ce", "name": "packer-6a1f025d-9a97-e6c4-019b-ad414ad322cf", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-6a1f025d-9a97-e6c4-019b-ad414ad322cf", "image": {"id": "4481c662-2357-432f-b0fd-dd6470c08c49", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "c75ef419-9a29-4fda-bd73-5de42af425b0", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-05-12T15:06:26.845576+00:00", "modification_date": "2026-05-12T15:06:26.845576+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "7cb27a97-52b4-4587-9495-8491d2359af8", "state": "available", "zone": "fr-par-1"}}, "tags": ["devtools", "provider", "packer", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDnw/eL2k430IJEXNzgQBI52zPklP511RtKNnqXiPbnGeViFBSaspUwQbR+5rSjK/XlO7WCJzat94mZ/JAtF+m+by7TFRGBI6u4aWDJfjBP3HD1vIhStp9jV1Rhe0oz7uEXW80EZW9gCR3IDIzVpiaWmdCHV2lkEDB+llnBo0RktAdJ8QZI3f5z+rhHSKmmsd2sk5T61BhU0jEu/8o++f5C12uc/scSeKRjaRzSi8zo6tbxnOoogLEyaSj8kyPMjKf7Wymld1OOMrqzlgOMfopV7vEG/Dx6vivNDevzNMlYBPTdZqJwcIGxQID6K+MLI7yiC/fxRaWtXWHvz6JwF+R1lVHnnf7JEi77vkUZ44QnMGdbgBlEJo107EEEJAC+jpULuxu28oxvNIzIS/hioZoBFw4Xvez/vhxKhxWAFCo4VNnAKw87fm5ex/Cn1CW3XOdctTgX7dCW8TmK2Trnxs1L1maSgibxjG3+eGr+rSjzcDfS6Kr31SKWsADAwa/oSQQV34ThZZ23nrmVP80amDLn/1AnFpY8z3yIewXslPUXg0mMsjWC24IChdvXdShZv7xhhyyoIQDnfkAVbZgJa4aNDVQag+ci1gKGEQ+gNu5Wft6PK+SU/wkcdDjtEZ23X41R77i1GQ2TivYucJMPlzYMLoGX6DM6tevlOlnOvEcvuQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:15:24:1b", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-02T16:18:38.723794+00:00", "modification_date": "2026-06-02T16:18:38.723794+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "4c30fb58-64ed-4a58-9d52-976e749d04ce.pub.instances.scw.cloud"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4c30fb58-64ed-4a58-9d52-976e749d04ce
        status: 201 Created
        code: 201
        duration: 524.458684ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4c30fb58-64ed-4a58-9d52-976e749d04ce/action
        method: POST
      response:
        body: '{"task": {"id": "41d9f74d-1b77-4bd0-b941-3b5d7ed7df0e", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/4c30fb58-64ed-4a58-9d52-976e749d04ce/action", "href_result": "/servers/4c30fb58-64ed-4a58-9d52-976e749d04ce", "started_at": "2026-06-02T16:18:39.572134+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/41d9f74d-1b77-4bd0-b941-3b5d7ed7df0e
        status: 202 Accepted
        code: 202
        duration: 483.11868ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4c30fb58-64ed-4a58-9d52-976e749d04ce
        method: GET
      response:
        body: '{"server": {"id": "4c30fb58-64ed-4a58-9d52-976e749d04ce", "name": "packer-6a1f025d-9a97-e6c4-019b-ad414ad322cf", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24b[...]
[...]
    - id: 15
      request:
        host: api.scaleway.com
        body: '{"volume_id":"7cb27a97-52b4-4587-9495-8491d2359af8","name":"snp-dreamy-booth","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"9330c98b-e509-47ad-b605-dd51520ab11b","name":"snp-dreamy-booth","parent_volume":{"id":"7cb27a97-52b4-4587-9495-8491d2359af8","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","status":"in_use"},"size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T16:19:10.980776Z","updated_at":"2026-06-02T16:19:10.980776Z","references":[],"status":"creating","tags":["devtools","provider","packer"],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.586102ms
    - id: 16
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/9330c98b-e509-47ad-b605-dd51520ab11b
        method: GET
      response:
        body: '{"id":"9330c98b-e509-47ad-b605-dd51520ab11b","name":"snp-dreamy-booth","parent_volume":{"id":"7cb27a97-52b4-4587-9495-8491d2359af8","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","status":"in_use"},"size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T16:19:10.980776Z","updated_at":"2026-06-02T16:19:10.980776Z","references":[],"status":"creating","tags":["devtools","provider","packer"],"class":"sbs","zone":"fr-par-1","public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.223058ms
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-simple","root_volume":"9330c98b-e509-47ad-b605-dd51520ab11b","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "ae952dae-ddbd-4f5a-bf08-2a6e86938818", "name": "packer-e2e-simple", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "9330c98b-e509-47ad-b605-dd51520ab11b", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-02T16:19:16.347152+00:00", "modification_date": "2026-06-02T16:19:16.347152+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/ae952dae-ddbd-4f5a-bf08-2a6e86938818
        status: 201 Created
        code: 201
        duration: 242.212466ms
    - id: 19
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/ae952dae-ddbd-4f5a-bf08-2a6e86938818
        method: GET
      response:
        body: '{"image": {"id": "ae952dae-ddbd-4f5a-bf08-2a6e86938818", "name": "packer-e2e-simple", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "9330c98b-e509-47ad-b605-dd51520ab11b", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-02T16:19:16.347152+00:00", "modification_date": "2026-06-02T16:19:16.347152+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.576543ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/7cb27a97-52b4-4587-9495-8491d2359af8
        method: PATCH
      response:
        body: '{"id":"7cb27a97-52b4-4587-9495-8491d2359af8","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T16:18:38.871329Z","updated_at":"2026-06-02T16:18:38.871329Z","references":[{"id":"a7b2f7ea-ea46-4c73-91ce-4032a75a90fb","product_resource_type":"instance_server","product_resource_id":"4c30fb58-64ed-4a58-9d52-976e749d04ce","created_at":"2026-06-02T16:18:38.871329Z","type":"exclusive","status":"attached"}],"parent_snapshot_id":"c75ef419-9a29-4fda-bd73-5de42af425b0","status":"in_use","tags":["devtools","provider","packer"],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"kms_key_id":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 160.800921ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/7cb27a97-52b4-4587-9495-8491d2359af8
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "7cb27a97-52b4-4587-9495-8491d2359af8"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 38.436985ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/7cb27a97-52b4-4587-9495-8491d2359af8
        method: GET
      response:
        body: '{"id":"7cb27a97-52b4-4587-9495-8491d2359af8","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","size":10000000000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","created_at":"2026-06-02T16:18:38.871329Z","updated_at":"2026-06-02T16:19:17.007747Z","references":[],"parent_snapshot_id":"c75ef419-9a29-4fda-bd73-5de42af425b0","status":"available","tags":["devtools","provider","packer"],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":"2026-06-02T16:19:17.007747Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.878754ms
[...]
