---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-simple&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-simple>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 717.637417ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1738936470&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1738936470>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 146.438833ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67a61096-91f3-ff78-2b6a-b57a76dcc715","commercial_type":"PRO2-XXS","image":"ubuntu_jammy","boot_type":"local","project":"65a3940d-94a0-4a0b-932e-eedae2a6a98e","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC8q0A3k9OnA5o28rzCV+hSgbxYAfMnuEoRmT660gByV824i7kN/TV/APz+hOSjBveS6n6yJmSTdJSWzP45oEuOJjqqlbiNhU2zcQZwVGvK0v/BUNrsDIcQHNCCpetLcztDfREDVAuUymMgCOIzGJWDlvtCsbByhUQoSMerehcZu5CXYBFQImVXTA1Yq91nKDoDyAET9ZvTBsebmXODkCcNI0yUHnJ9GaKY+c9ynpfmyncqnPXCN6Gl77xb6snW936ozKwKeneFK0rMqUuMzKE3HN/2R6x0N3gMKA7qaTtQoo4SPLsublOpxEeA3xBBKGAoShoXiI4c22DV/wfXEg6GS/iPJnHjpuO2ERCTB2un+JWII/F4Vpf44He6GsEX5PfWukl8pthWJC2UOYHt8XGyPGhSHjNtHZ3HsjD+pVLbQ/5XXIV9zE5gaYF9hrR+EYaiHp8wpII3Un19bm+oeLEoRQceHTDX8W1/8o+7nRj6KU0j7qumgEj4k3ydCyF7k3pPZMM0ZMN6xD5EfxBmUCMafsgUJUKQP6mBnOUoP/9JJYGmA9RP9SY5jP5OxeKWQMS359Sw4sr/tuJ43O8qIucKwEmbBbyB02RXSLGfbk/HXx5mf5OmeMdVKr3pN5oHqUPOv5pLDyhFWgFX6QS/pd+UsL8CAM7mI5YrW4jmSOXagw=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "1e410c03-4f3e-408f-bd64-afc4761ad60d", "name": "packer-67a61096-91f3-ff78-2b6a-b57a76dcc715", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "65a3940d-94a0-4a0b-932e-eedae2a6a98e", "hostname": "packer-67a61096-91f3-ff78-2b6a-b57a76dcc715", "image": {"id": "1fb9bfa4-68c3-4d6f-a362-8913a1af27b0", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "4eb9437f-8993-444a-b564-f7654add2131", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-10-07T11:39:13.069801+00:00", "modification_date": "2024-10-07T11:39:13.069801+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "e70056f2-ccfb-4c2a-8077-fb39a023a619", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC8q0A3k9OnA5o28rzCV+hSgbxYAfMnuEoRmT660gByV824i7kN/TV/APz+hOSjBveS6n6yJmSTdJSWzP45oEuOJjqqlbiNhU2zcQZwVGvK0v/BUNrsDIcQHNCCpetLcztDfREDVAuUymMgCOIzGJWDlvtCsbByhUQoSMerehcZu5CXYBFQImVXTA1Yq91nKDoDyAET9ZvTBsebmXODkCcNI0yUHnJ9GaKY+c9ynpfmyncqnPXCN6Gl77xb6snW936ozKwKeneFK0rMqUuMzKE3HN/2R6x0N3gMKA7qaTtQoo4SPLsublOpxEeA3xBBKGAoShoXiI4c22DV/wfXEg6GS/iPJnHjpuO2ERCTB2un+JWII/F4Vpf44He6GsEX5PfWukl8pthWJC2UOYHt8XGyPGhSHjNtHZ3HsjD+pVLbQ/5XXIV9zE5gaYF9hrR+EYaiHp8wpII3Un19bm+oeLEoRQceHTDX8W1/8o+7nRj6KU0j7qumgEj4k3ydCyF7k3pPZMM0ZMN6xD5EfxBmUCMafsgUJUKQP6mBnOUoP/9JJYGmA9RP9SY5jP5OxeKWQMS359Sw4sr/tuJ43O8qIucKwEmbBbyB02RXSLGfbk/HXx5mf5OmeMdVKr3pN5oHqUPOv5pLDyhFWgFX6QS/pd+UsL8CAM7mI5YrW4jmSOXagw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:92:9e:a9", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-02-07T13:54:33.499296+00:00", "modification_date": "2025-02-07T13:54:33.499296+00:00", "bootscript": null, "security_group": {"id": "76c04048-c19b-420b-9576-0f5c9d201d9a", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1e410c03-4f3e-408f-bd64-afc4761ad60d
        status: 201 Created
        code: 201
        duration: 1.338121s
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1e410c03-4f3e-408f-bd64-afc4761ad60d/action
        method: POST
      response:
        body: '{"task": {"id": "5f80df76-42ff-47a6-9402-ffe91ec07fcb", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/1e410c03-4f3e-408f-bd64-afc4761ad60d/action", "href_result": "/servers/1e410c03-4f3e-408f-bd64-afc4761ad60d", "started_at": "2025-02-07T13:54:34.553289+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/5f80df76-42ff-47a6-9402-ffe91ec07fcb
        status: 202 Accepted
        code: 202
        duration: 510.583542ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1e410c03-4f3e-408f-bd64-afc4761ad60d
        method: GET
      response:
        body: '{"server": {"id": "1e410c03-4f3e-408f-bd64-afc4761ad60d", "name": "packer-67a61096-91f3-ff78-2b6a-b57a76dcc715", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50[...]
[...]
    - id: 16
      request:
        host: api.scaleway.com
        body: '{"action":"backup","name":"packer-e2e-simple","volumes":{"e70056f2-ccfb-4c2a-8077-fb39a023a619":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/1e410c03-4f3e-408f-bd64-afc4761ad60d/action
        method: POST
      response:
        body: '{"task": {"id": "1e30dd95-afa2-42c0-9a9a-667d3d4a0b27", "description": "instance_backup", "status": "pending", "href_from": "/servers/1e410c03-4f3e-408f-bd64-afc4761ad60d/action", "href_result": "/images/24fcdd8e-b440-4a4f-9328-1e7116fa0e5c", "started_at": "2025-02-07T13:55:17.242110+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/1e30dd95-afa2-42c0-9a9a-667d3d4a0b27
        status: 202 Accepted
        code: 202
        duration: 579.393709ms
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/24fcdd8e-b440-4a4f-9328-1e7116fa0e5c
        method: GET
      response:
        body: '{"image": {"id": "24fcdd8e-b440-4a4f-9328-1e7116fa0e5c", "name": "packer-e2e-simple", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "65a3940d-94a0-4a0b-932e-eedae2a6a98e", "root_volume": {"volume_type": "sbs_snapshot", "id": "f9804316-e919-4840-9f24-71fd727e3262", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-02-07T13:55:16.761993+00:00", "modification_date": "2025-02-07T13:55:16.761993+00:00", "default_bootscript": null, "from_server": "1e410c03-4f3e-408f-bd64-afc4761ad60d", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.733416ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/e70056f2-ccfb-4c2a-8077-fb39a023a619
        method: GET
      response:
        body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume", "resource_id": "e70056f2-ccfb-4c2a-8077-fb39a023a619"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 43.859166ms
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/e70056f2-ccfb-4c2a-8077-fb39a023a619
        method: GET
      response:
        body: '{"id":"e70056f2-ccfb-4c2a-8077-fb39a023a619","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","size":10000000000,"project_id":"65a3940d-94a0-4a0b-932e-eedae2a6a98e","created_at":"2025-02-07T13:54:33.632945Z","updated_at":"2025-02-07T13:55:17.711695Z","references":[],"parent_snapshot_id":"4eb9437f-8993-444a-b564-f7654add2131","status":"snapshotting","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":"2025-02-07T13:55:17.711695Z","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.831583ms
[...]
