---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-windows
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-windows&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-windows>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 405.650429ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 121.973242ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":null, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"1d6c36f5-bffb-40f1-89e4-2674e08a9c67", "name":"image-windows-configured_snap_0", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:34.066522Z", "updated_at":"2025-11-10T15:53:34.066522Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"1f083742-68b5-4553-828d-5b0a26f01305", "name":"foo", "parent_volume":null, "size":10000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-06-02T14:20:56.153314Z", "updated_at":"2026-06-02T14:36:39.345013Z", "references":[], "status":"available", "tags":["custom", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.439256ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tmp-server-windows","commercial_type":"POP2-2C-8G-WIN","image":"windows_server_2022","boot_type":"local","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["with-ssh","AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCiEQ4ktGeuRborFo1WWXovtXz1mVp4Pv6qu0ohtlaPiRb1bp3XUOjCw/LcGNhza0nGlO8pLiXQwWIh+uARq/6vx0A6Uc0kYUtie+8QVKM4qGNfvMeL3m2PswxpsfR8rAYYm6CDgaj0UY4oguPjyJ9wIy2IhB5SHOVsvaTYxSgsRrTQROPyFa2m5T+ogn5kg+ZuzoBsbF1GAcnP/LMHsAXgkrdBeJX37ixcwHIxfkLpvyg7XBBLFOE5HfEplcYtXaStlfoPq0oys7qG2QytGAfMb1a0+1qh1XgHTFhT31TwYNQWpa94i5UvFCNdLte+j7Zl9/aPTI7O4fSqhUIk93xeAj7YVQkdaq6f9zVqS39eIJ35kEfU6tYAO/tnPlSDY1+Jf6RC+DASXBCf3abLcXuYRLKOJQ5mKSv1D7vKG/QihkxsPTiP5QDh5gZQL0lNZo8HJToioCawkowSfyJK0y/tfubWNuyQewM+T+VyZQZY7L28JRqnIMiNJj5lnkxd2OQOBR1sTXgaDlSeyZ8CzxNHJRnayNL2fgSusPqGY5pDqLII+46izw+dbShZG1nT0IbN735YH3xQoEAlV7wcOLc+z6zYaxvns6N2wyLWO0hEhpWpvn8sSvYxhxzPTlGF7houuy0PwgnANGUx8Ockb1nnvSBrUhOsWK/2otBdFrwq2w=="],"admin_password_encryption_ssh_key_id":"fb7d0171-e477-4186-b59e-b02b9ade96a5"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "4a7876f3-d6c9-4b5e-8477-007d1920fe27", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "2ab63260-8127-47d1-b522-fb31f07a2aec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-04-16T13:51:55.046000+00:00", "modification_date": "2026-04-16T13:51:55.046000+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "1fc3d7fe-3e76-4cf2-b72f-37c7eee2cfd6", "state": "available", "zone": "fr-par-1"}}, "tags": ["with-ssh", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCiEQ4ktGeuRborFo1WWXovtXz1mVp4Pv6qu0ohtlaPiRb1bp3XUOjCw/LcGNhza0nGlO8pLiXQwWIh+uARq/6vx0A6Uc0kYUtie+8QVKM4qGNfvMeL3m2PswxpsfR8rAYYm6CDgaj0UY4oguPjyJ9wIy2IhB5SHOVsvaTYxSgsRrTQROPyFa2m5T+ogn5kg+ZuzoBsbF1GAcnP/LMHsAXgkrdBeJX37ixcwHIxfkLpvyg7XBBLFOE5HfEplcYtXaStlfoPq0oys7qG2QytGAfMb1a0+1qh1XgHTFhT31TwYNQWpa94i5UvFCNdLte+j7Zl9/aPTI7O4fSqhUIk93xeAj7YVQkdaq6f9zVqS39eIJ35kEfU6tYAO/tnPlSDY1+Jf6RC+DASXBCf3abLcXuYRLKOJQ5mKSv1D7vKG/QihkxsPTiP5QDh5gZQL0lNZo8HJToioCawkowSfyJK0y/tfubWNuyQewM+T+VyZQZY7L28JRqnIMiNJj5lnkxd2OQOBR1sTXgaDlSeyZ8CzxNHJRnayNL2fgSusPqGY5pDqLII+46izw+dbShZG1nT0IbN735YH3xQoEAlV7wcOLc+z6zYaxvns6N2wyLWO0hEhpWpvn8sSvYxhxzPTlGF7houuy0PwgnANGUx8Ockb1nnvSBrUhOsWK/2otBdFrwq2w=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:16:e0:3d", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-08T15:08:10.976513+00:00", "modification_date": "2026-06-08T15:08:10.976513+00:00", "bootscript": null, "security_group": {"id": "da505169-540e-4c2b-b0da-c854139224e0", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "4a7876f3-d6c9-4b5e-8477-007d1920fe27.pub.instances.scw.cloud", "admin_password_encryption_ssh_key_id": "fb7d0171-e477-4186-b59e-b02b9ade96a5"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4a7876f3-d6c9-4b5e-8477-007d1920fe27
        status: 201 Created
        code: 201
        duration: 626.778912ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4a7876f3-d6c9-4b5e-8477-007d1920fe27/action
        method: POST
      response:
        body: '{"task": {"id": "ba6243ff-ecb0-4cc6-bcf9-e2e64ea04a80", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/4a7876f3-d6c9-4b5e-8477-007d1920fe27/action", "href_result": "/servers/4a7876f3-d6c9-4b5e-8477-007d1920fe27", "started_at": "2026-06-08T15:08:11.851088+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/ba6243ff-ecb0-4cc6-bcf9-e2e64ea04a80
        status: 202 Accepted
        code: 202
        duration: 412.695665ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/4a7876f3-d6c9-4b5e-8477-007d1920fe27
        method: GET
      response:
        body: '{"server": {"id": "4a7876f3-d6c9-4b5e-8477-007d1920fe27", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-[...]
[...]
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"volume_id":"1fc3d7fe-3e76-4cf2-b72f-37c7eee2cfd6","name":"snp-priceless-fermat","project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"2521596d-e028-4cc3-8795-4641ab2d59a4", "name":"snp-priceless-fermat", "parent_volume":{"id":"1fc3d7fe-3e76-4cf2-b72f-37c7eee2cfd6", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-06-08T15:10:36.301744Z", "updated_at":"2026-06-08T15:10:36.301744Z", "references":[], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 142.858873ms
    - id: 38
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2521596d-e028-4cc3-8795-4641ab2d59a4
        method: GET
      response:
        body: '{"id":"2521596d-e028-4cc3-8795-4641ab2d59a4", "name":"snp-priceless-fermat", "parent_volume":{"id":"1fc3d7fe-3e76-4cf2-b72f-37c7eee2cfd6", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-06-08T15:10:36.301744Z", "updated_at":"2026-06-08T15:10:36.301744Z", "references":[{"id":"77999b9b-05aa-4411-8e7b-9228278de4ce", "product_resource_type":"internal", "product_resource_id":"00000000-0000-0000-0000-000000000000", "created_at":"2026-06-08T15:10:36.366363Z", "type":"unknown_type", "status":"attached"}], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.309234ms
[...]
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-windows","root_volume":"2521596d-e028-4cc3-8795-4641ab2d59a4","arch":"x86_64","project":"fa1e3217-dc80-42ac-85c3-3f034b78b552","tags":["devtools","provider","packer"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "2889c034-f973-4efd-96e4-57c02ce798d5", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "2521596d-e028-4cc3-8795-4641ab2d59a4", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-08T15:10:41.562690+00:00", "modification_date": "2026-06-08T15:10:41.562690+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/2889c034-f973-4efd-96e4-57c02ce798d5
        status: 201 Created
        code: 201
        duration: 304.193294ms
    - id: 41
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/2889c034-f973-4efd-96e4-57c02ce798d5
        method: GET
      response:
        body: '{"image": {"id": "2889c034-f973-4efd-96e4-57c02ce798d5", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "root_volume": {"volume_type": "sbs_snapshot", "id": "2521596d-e028-4cc3-8795-4641ab2d59a4", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-08T15:10:41.562690+00:00", "modification_date": "2026-06-08T15:10:41.562690+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.498793ms
    - id: 42
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/1fc3d7fe-3e76-4cf2-b72f-37c7eee2cfd6
        method: PATCH
      response:
        body: '{"id":"1fc3d7fe-3e76-4cf2-b72f-37c7eee2cfd6", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-06-08T15:08:11.170499Z", "updated_at":"2026-06-08T15:08:11.170499Z", "references":[{"id":"a67138ab-59e5-4cec-b5b8-8231c58b273a", "product_resource_type":"instance_server", "product_resource_id":"4a7876f3-d6c9-4b5e-8477-007d1920fe27", "created_at":"2026-06-08T15:08:11.170499Z", "type":"exclusive", "status":"attached"}], "parent_snapshot_id":"2ab63260-8127-47d1-b522-fb31f07a2aec", "status":"in_use", "tags":["devtools", "provider", "packer"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 233.781021ms
