---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume&page=1
        method: GET
      response:
        body: '{"images": [{"id": "3c544bd6-eed0-40d1-96a7-7e7772fdbee1", "name": "packer-e2e-root-volume-sbs", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "root_volume": {"volume_type": "sbs_snapshot", "id": "2dc0b14d-83be-4c00-8cc0-87b495a492a3", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-04-07T07:40:05.536874+00:00", "modification_date": "2025-04-07T07:40:05.536874+00:00", "default_bootscript": null, "from_server": "697420cd-a996-4dd4-90cd-4c912bc5bf7a", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-root-volume>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 194.14836ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1744011607&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1744011607>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 79.095638ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67f38157-ab12-bc69-fe3f-6cf9db9832c1","commercial_type":"PLAY2-PICO","image":"ubuntu_jammy","volumes":{"0":{"size":50000000000,"volume_type":"b_ssd"}},"boot_type":"local","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC+i5o5gEd+V9TM7kzX+Su12G8WUGf8RTDbXWTwzHAjjjQWv4xuFdCkZShwlTDhBudNyVaJxhCAfwgrsTJKi5OV+mN7n3VrT0TzgLlL7E6noaToj3EIMu79mDvP5ZZCAAcW1WqayM412h6VweX2Ij5VYaILEIZX8MGbiN2L2AR7V/TMg56wX4x65p3SHJWh2RDnoxGAbj9rmuwNKMbsWpJX7l3+CB4bNDdS65vcgZA8c/Ye7lwm/0pd/RFNnqi85hh2pJB6CoXJg8OpgBVk0EcsFzFTTtvEFmCwqRn7FBsODFViz/h7Okd0TDXt8uUbFVvSGEyKHOjNDTY70IN8F3Y1kdwuOmlWhg++hZ3KjZr1R84gd+W1am1qba8+SXHMrgFmO4C8R3GCmzcgpv+LgwDl5FaXhTP6o4URdfPlZXR/Wtc/qzM4SNxJnX+/XYSl8CyxJ4OyFk+WvIExNwB3/bibXEmvsVi+O7q0uMnqLO84BciaIDhLTNvViv6LiOD9UM2/PGp5RksVIViEtM2Up5P91wS4T+8LXJrpJcvmoPj0ty5c9ZWyGD1qzua3MztJ2GBqAdpJNnyaiiTEgkQdlWrq5Xz6P8V0vpqh9JXHtfc7a8202eXXU/BudkYnEPoXxQxVYriK3aM5FG1VkedLxlV3SFSJMriWcUGp72WQV4RZYw=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "81916d31-a4b1-4b84-866d-997de8ac0486", "name": "packer-67f38157-ab12-bc69-fe3f-6cf9db9832c1", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "hostname": "packer-67f38157-ab12-bc69-fe3f-6cf9db9832c1", "image": {"id": "e17b585e-c52f-44b0-97f6-07c18bb5bb86", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "8a8a8e59-526e-4da1-ac2b-2b7bb088e9be", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-02-03T13:22:29.238802+00:00", "modification_date": "2025-02-03T13:22:29.238802+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "id": "db70b30c-bb3c-4615-b6d9-fc81986aeb04", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "server": {"id": "81916d31-a4b1-4b84-866d-997de8ac0486", "name": "packer-67f38157-ab12-bc69-fe3f-6cf9db9832c1"}, "size": 50000000000, "state": "available", "creation_date": "2025-04-07T07:40:11.476900+00:00", "modification_date": "2025-04-07T07:40:11.476900+00:00", "tags": [], "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC+i5o5gEd+V9TM7kzX+Su12G8WUGf8RTDbXWTwzHAjjjQWv4xuFdCkZShwlTDhBudNyVaJxhCAfwgrsTJKi5OV+mN7n3VrT0TzgLlL7E6noaToj3EIMu79mDvP5ZZCAAcW1WqayM412h6VweX2Ij5VYaILEIZX8MGbiN2L2AR7V/TMg56wX4x65p3SHJWh2RDnoxGAbj9rmuwNKMbsWpJX7l3+CB4bNDdS65vcgZA8c/Ye7lwm/0pd/RFNnqi85hh2pJB6CoXJg8OpgBVk0EcsFzFTTtvEFmCwqRn7FBsODFViz/h7Okd0TDXt8uUbFVvSGEyKHOjNDTY70IN8F3Y1kdwuOmlWhg++hZ3KjZr1R84gd+W1am1qba8+SXHMrgFmO4C8R3GCmzcgpv+LgwDl5FaXhTP6o4URdfPlZXR/Wtc/qzM4SNxJnX+/XYSl8CyxJ4OyFk+WvIExNwB3/bibXEmvsVi+O7q0uMnqLO84BciaIDhLTNvViv6LiOD9UM2/PGp5RksVIViEtM2Up5P91wS4T+8LXJrpJcvmoPj0ty5c9ZWyGD1qzua3MztJ2GBqAdpJNnyaiiTEgkQdlWrq5Xz6P8V0vpqh9JXHtfc7a8202eXXU/BudkYnEPoXxQxVYriK3aM5FG1VkedLxlV3SFSJMriWcUGp72WQV4RZYw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:a3:2b:b9", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-04-07T07:40:11.476900+00:00", "modification_date": "2025-04-07T07:40:11.476900+00:00", "bootscript": null, "security_group": {"id": "6b9803c6-af6d-4401-bc48-4c90517e5f60", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": []}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/81916d31-a4b1-4b84-866d-997de8ac0486
        status: 201 Created
        code: 201
        duration: 713.402357ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/81916d31-a4b1-4b84-866d-997de8ac0486/action
        method: POST
      response:
        body: '{"task": {"id": "a026210b-d755-4613-b2a2-b2679d1d7ce0", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/81916d31-a4b1-4b84-866d-997de8ac0486/action", "href_result": "/servers/81916d31-a4b1-4b84-866d-997de8ac0486", "started_at": "2025-04-07T07:40:12.703630+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/a026210b-d755-4613-b2a2-b2679d1d7ce0
        status: 202 Accepted
        code: 202
        duration: 881.893632ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/81916d31-a4b1-4b84-866d-997de8ac0486
        method: GET
      response:
        body: '{"server": {"id": "81916d31-a4b1-4b84-866d-997de8ac0486", "name": "packer-67f38157-ab12-bc69-fe3f-6cf9db9832c1", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "564aa517-68b0-4fd7-8c8c-d21[...]
[...]
    - id: 18
      request:
        host: api.scaleway.com
        body: '{"action":"backup","name":"packer-e2e-root-volume","volumes":{"db70b30c-bb3c-4615-b6d9-fc81986aeb04":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/81916d31-a4b1-4b84-866d-997de8ac0486/action
        method: POST
      response:
        body: '{"task": {"id": "5002f3b2-7c98-4066-9f16-5c70878d7a9c", "description": "instance_backup", "status": "pending", "href_from": "/servers/81916d31-a4b1-4b84-866d-997de8ac0486/action", "href_result": "/images/e7c804ad-6475-4463-ba82-778aec88c9bb", "started_at": "2025-04-07T07:41:05.289230+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/5002f3b2-7c98-4066-9f16-5c70878d7a9c
        status: 202 Accepted
        code: 202
        duration: 552.805047ms
    - id: 19
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/e7c804ad-6475-4463-ba82-778aec88c9bb
        method: GET
      response:
        body: '{"image": {"id": "e7c804ad-6475-4463-ba82-778aec88c9bb", "name": "packer-e2e-root-volume", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "root_volume": {"id": "46b41472-a61e-4e17-a641-2042e1d10ee2", "name": "packer-e2e-root-volume_snap_0", "volume_type": "b_ssd", "size": 50000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-04-07T07:41:04.834165+00:00", "modification_date": "2025-04-07T07:41:04.834165+00:00", "default_bootscript": null, "from_server": "81916d31-a4b1-4b84-866d-997de8ac0486", "state": "creating", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.989937ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/db70b30c-bb3c-4615-b6d9-fc81986aeb04
        method: GET
      response:
        body: '{"volume": {"id": "db70b30c-bb3c-4615-b6d9-fc81986aeb04", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "server": null, "size": 50000000000, "state": "available", "creation_date": "2025-04-07T07:40:11.476900+00:00", "modification_date": "2025-04-07T07:41:10.501554+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.479012ms
[...]
