---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-block>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 656.21775ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1738071638&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1738071638>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 187.925875ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-block-vol1","perf_iops":5000,"project_id":"3df5fc53-1c2c-49d6-bcb2-87b2bf0d6c10","from_empty":{"size":20000000000},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"45f0fdaa-9e88-4ae6-8a58-8b4eb0d36d04","name":"packer-e2e-block-vol1","type":"sbs_5k","size":20000000000,"project_id":"3df5fc53-1c2c-49d6-bcb2-87b2bf0d6c10","created_at":"2025-01-28T13:40:39.663029Z","updated_at":"2025-01-28T13:40:39.663029Z","references":[],"parent_snapshot_id":null,"status":"creating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 120.754166ms
    - id: 3
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/marketplace/v2/local-images?image_label=ubuntu_jammy&order_by=type_asc&type=unknown_type&zone=fr-par-1
        method: GET
      response:
        body: '{"local_images":[{"id":"2982a1c0-be7e-4114-af3d-a8af8aa7aec5","arch":"arm64","zone":"fr-par-1","compatible_commercial_types":["AMP2-C1","AMP2-C2","AMP2-C4","AMP2-C8","AMP2-C12","AMP2-C24","AMP2-C48","AMP2-C60","COPARM1-2C-8G","COPARM1-4C-16G","COPARM1-8C-32G","COPARM1-16C-64G","COPARM1-32C-128G"],"label":"ubuntu_jammy","type":"instance_local"},{"id":"bc50e86c-a6c7-401a-8fbb-2ef17ce87aee","arch":"x86_64","zone":"fr-par-1","compatible_commercial_types":["DEV1-L","DEV1-M","DEV1-S","DEV1-XL","GP1-L","GP1-M","GP1-S","GP1-XL","GP1-XS","START1-L","START1-M","START1-S","START1-XS","VC1L","VC1M","VC1S","X64-120GB","X64-15GB","X64-30GB","X64-60GB","ENT1-XXS","ENT1-XS","ENT1-S","ENT1-M","ENT1-L","ENT1-XL","ENT1-2XL","PRO2-XXS","PRO2-XS","PRO2-S","PRO2-M","PRO2-L","STARDUST1-S","PLAY2-MICRO","PLAY2-NANO","P[...]
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"packer-6798de56-240b-fae4-86d0-00d4b7691e9a","commercial_type":"PRO2-XXS","image":"bc50e86c-a6c7-401a-8fbb-2ef17ce87aee","volumes":{"1":{"id":"45f0fdaa-9e88-4ae6-8a58-8b4eb0d36d04","volume_type":"sbs_volume"}},"boot_type":"local","project":"3df5fc53-1c2c-49d6-bcb2-87b2bf0d6c10","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC1RCRGm04uk5jgq/w19AWbtO6ZxmVWDP1bv7LpEJioU2wV8G5MzoXAOkUTzbRATdUENobrVPMMayxqltPI6tDBd8I6DoAZAyd7WDcAM3l+uzopToQHlaQQS1kMGR5rDQbaj0WUwxLXKmZmJcYfOEvri0llIfCayLMofdKPNN8tAPQBv6UK5WiLjrH7PSw5l08yGK+ze0NxxTHqDx/4UUSOGOxAqoL6cmQhArQLzZTz5Houm5RkrtFNurhAp/2N9nFSSL3z96BgVeuCwkAWf5NkL8hFltvLHqgIbmI/gbdBtzoGZB9af8FoGYLK3z/dCUmhZ8OwJ1vmSJpdbyuOG0+2LhCpihPzcbIDfvVNhFZNs0D1MHJuaYhzXukh3g6OuomSmg/4EhCqExNA/wsUABO5tfMx5//EHDhU/z8AanzAAvqer/dSTaw6nCtozp7fONRw4xR+hAb3tysauwen1u0/BYEZj+WO5kxCHxRN6M0qMXxTGhzvr520TAST2AEj5UCwWjY2vW/aPOR35xQaR0ovnHmyfs32e5BxuKpcjdlZXfoS8ZgMXN5X2uu/qGgj01e9+a44JmJCY1cyL6AAt36jDhlHBzcBWdVDs2dKthkuVwTYH7BNVP1a47Mgxq8/Qt92jmrkl30cb6YWktdDga50u6mxGJnECHgQJRyNMIPbYQ=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b", "name": "packer-6798de56-240b-fae4-86d0-00d4b7691e9a", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "3df5fc53-1c2c-49d6-bcb2-87b2bf0d6c10", "hostname": "packer-6798de56-240b-fae4-86d0-00d4b7691e9a", "image": {"id": "bc50e86c-a6c7-401a-8fbb-2ef17ce87aee", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "f1efdd5c-375b-431e-ac06-daaf1518369b", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-10-07T11:39:08.941837+00:00", "modification_date": "2024-10-07T11:39:08.941837+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "id": "d3b78c5f-fd7b-46cd-8a8f-192147c2a5ff", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "3df5fc53-1c2c-49d6-bcb2-87b2bf0d6c10", "server": {"id": "c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b", "name": "packer-6798de56-240b-fae4-86d0-00d4b7691e9a"}, "size": 10000000000, "state": "available", "creation_date": "2025-01-28T13:40:40.196323+00:00", "modification_date": "2025-01-28T13:40:40.196323+00:00", "tags": [], "zone": "fr-par-1"}, "1": {"boot": false, "volume_type": "sbs_volume", "id": "45f0fdaa-9e88-4ae6-8a58-8b4eb0d36d04", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC1RCRGm04uk5jgq/w19AWbtO6ZxmVWDP1bv7LpEJioU2wV8G5MzoXAOkUTzbRATdUENobrVPMMayxqltPI6tDBd8I6DoAZAyd7WDcAM3l+uzopToQHlaQQS1kMGR5rDQbaj0WUwxLXKmZmJcYfOEvri0llIfCayLMofdKPNN8tAPQBv6UK5WiLjrH7PSw5l08yGK+ze0NxxTHqDx/4UUSOGOxAqoL6cmQhArQLzZTz5Houm5RkrtFNurhAp/2N9nFSSL3z96BgVeuCwkAWf5NkL8hFltvLHqgIbmI/gbdBtzoGZB9af8FoGYLK3z/dCUmhZ8OwJ1vmSJpdbyuOG0+2LhCpihPzcbIDfvVNhFZNs0D1MHJuaYhzXukh3g6OuomSmg/4EhCqExNA/wsUABO5tfMx5//EHDhU/z8AanzAAvqer/dSTaw6nCtozp7fONRw4xR+hAb3tysauwen1u0/BYEZj+WO5kxCHxRN6M0qMXxTGhzvr520TAST2AEj5UCwWjY2vW/aPOR35xQaR0ovnHmyfs32e5BxuKpcjdlZXfoS8ZgMXN5X2uu/qGgj01e9+a44JmJCY1cyL6AAt36jDhlHBzcBWdVDs2dKthkuVwTYH7BNVP1a47Mgxq8/Qt92jmrkl30cb6YWktdDga50u6mxGJnECHgQJRyNMIPbYQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:90:45:d3", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-01-28T13:40:40.196323+00:00", "modification_date": "2025-01-28T13:40:40.196323+00:00", "bootscript": null, "security_group": {"id": "2c4f1a72-b9ee-4d14-9bbd-dd5c04e83eaa", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b
        status: 201 Created
        code: 201
        duration: 915.982959ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b/action
        method: POST
      response:
        body: '{"task": {"id": "78b74efb-cd5d-4794-afe9-c8676d82c9fd", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b/action", "href_result": "/servers/c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b", "started_at": "2025-01-28T13:40:41.231461+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/78b74efb-cd5d-4794-afe9-c8676d82c9fd
        status: 202 Accepted
        code: 202
        duration: 650.972958ms
    - id: 6
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b
        method: GET
      response:
        body: '{"server": {"id": "c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b", "name": "packer-6798de56-240b-fae4-86d0-00d4b7691e9a", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"action":"backup","name":"packer-e2e-block","volumes":{"45f0fdaa-9e88-4ae6-8a58-8b4eb0d36d04":{},"d3b78c5f-fd7b-46cd-8a8f-192147c2a5ff":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b/action
        method: POST
      response:
        body: '{"task": {"id": "23b2b100-1690-4100-8ffb-03d1e8f3d53b", "description": "instance_backup", "status": "pending", "href_from": "/servers/c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b/action", "href_result": "/images/967ca867-3164-41a4-98d2-5971c5901bcc", "started_at": "2025-01-28T13:41:44.789700+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/23b2b100-1690-4100-8ffb-03d1e8f3d53b
        status: 202 Accepted
        code: 202
        duration: 550.103542ms
    - id: 23
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/967ca867-3164-41a4-98d2-5971c5901bcc
        method: GET
      response:
        body: '{"image": {"id": "967ca867-3164-41a4-98d2-5971c5901bcc", "name": "packer-e2e-block", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "3df5fc53-1c2c-49d6-bcb2-87b2bf0d6c10", "root_volume": {"id": "a8769235-13b3-4cdb-86fd-9d3757c14041", "name": "packer-e2e-block_snap_0", "volume_type": "b_ssd", "size": 10000000000}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "a193c5d7-d9f1-4c17-bf07-44f8a9c9553c", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-01-28T13:41:44.294450+00:00", "modification_date": "2025-01-28T13:41:44.294450+00:00", "default_bootscript": null, "from_server": "c5a1dbf7-5db6-4ad7-83b6-a98cc93c1f5b", "state": "creating", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.613542ms
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/d3b78c5f-fd7b-46cd-8a8f-192147c2a5ff
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 168.587083ms
    - id: 27
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/45f0fdaa-9e88-4ae6-8a58-8b4eb0d36d04
        method: DELETE
      response:
        body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume", "resource_id": "45f0fdaa-9e88-4ae6-8a58-8b4eb0d36d04"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 45.755125ms
    - id: 28
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/45f0fdaa-9e88-4ae6-8a58-8b4eb0d36d04
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 96.143ms
