---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-windows
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-windows&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-windows>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 394.848651ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 67.690471ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":null, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"1d6c36f5-bffb-40f1-89e4-2674e08a9c67", "name":"image-windows-configured_snap_0", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:34.066522Z", "updated_at":"2025-11-10T15:53:34.066522Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"1f083742-68b5-4553-828d-5b0a26f01305", "name":"foo", "parent_volume":null, "size":10000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-06-02T14:20:56.153314Z", "updated_at":"2026-06-02T14:36:39.345013Z", "references":[], "status":"available", "tags":["custom", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 50.873815ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tmp-server-windows","commercial_type":"POP2-2C-8G-WIN","image":"windows_server_2022","boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["with-ssh","AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC1d49VN0xchOvnkopCMd5ReJdauD3+glREK5yAJQ8a0CyuXuLmirvvN9Jh/lhA6TA+UhZ+6NZqgdQiKMLKI2UN322TmFW75Y6NktlrlhOnB3nrTWnmVz8hGMtb/k1Le2SM43jXUWA1hxlJ4k4ri51KUuiZBIpjmA/upICguz2JAQdnMJk1NkW0LK9Q+qfkka4G9BQuQm5KdG5aXUTohTLk8xAhvgaMjB1eRCOl92CmyNSGR0Kdkf6ga4qqLCGQ1rxhwoSOYLFTZJStEa2S8vi7uS5CmXeU16vlZuI3+1HiXO1N8y/EXwne0afj6SNOzhtPPqSaAZMX167CR0NflDX4HsCOD6MUXAunqMpZslHr+RW9SAgmsUD+k7GUtxOTIaqFBEO7dhpNBaQGaJ1CrvxYZoZG4VWyB2V+Ck9MYD4vJKW1JmuN7wJ4i9FpFeRTWGeqaJVlYMXxoCtDdTg8AERo4/eCskuegcCFdDpeZMlAFejeJwA2s4LHVK9DUz7VDeHhGe7g2qJA7zff++qyVp3J3TuuEtUX05nF1iut3UfAY88zHwjuH474jBOmR+JBqfUleWZ/CgYXAFsQXrA8wGZW36wqaZfrhwglbf/gk3m+xB9K0m4yuuGwFPskRQvROEtWjsBGcB5R+40jXvJo3jOLcQF2TbgfazLFR0h64E0apQ=="],"admin_password_encryption_ssh_key_id":"23d21665-cac8-489a-808b-ae320d3a4da1"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "2e6d2a73-acd8-4616-bc51-282cd7292b3c", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "2ab63260-8127-47d1-b522-fb31f07a2aec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-04-16T13:51:55.046000+00:00", "modification_date": "2026-04-16T13:51:55.046000+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "0ef97503-c5f0-45af-9cb0-b6533ee4f563", "state": "available", "zone": "fr-par-1"}}, "tags": ["with-ssh", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC1d49VN0xchOvnkopCMd5ReJdauD3+glREK5yAJQ8a0CyuXuLmirvvN9Jh/lhA6TA+UhZ+6NZqgdQiKMLKI2UN322TmFW75Y6NktlrlhOnB3nrTWnmVz8hGMtb/k1Le2SM43jXUWA1hxlJ4k4ri51KUuiZBIpjmA/upICguz2JAQdnMJk1NkW0LK9Q+qfkka4G9BQuQm5KdG5aXUTohTLk8xAhvgaMjB1eRCOl92CmyNSGR0Kdkf6ga4qqLCGQ1rxhwoSOYLFTZJStEa2S8vi7uS5CmXeU16vlZuI3+1HiXO1N8y/EXwne0afj6SNOzhtPPqSaAZMX167CR0NflDX4HsCOD6MUXAunqMpZslHr+RW9SAgmsUD+k7GUtxOTIaqFBEO7dhpNBaQGaJ1CrvxYZoZG4VWyB2V+Ck9MYD4vJKW1JmuN7wJ4i9FpFeRTWGeqaJVlYMXxoCtDdTg8AERo4/eCskuegcCFdDpeZMlAFejeJwA2s4LHVK9DUz7VDeHhGe7g2qJA7zff++qyVp3J3TuuEtUX05nF1iut3UfAY88zHwjuH474jBOmR+JBqfUleWZ/CgYXAFsQXrA8wGZW36wqaZfrhwglbf/gk3m+xB9K0m4yuuGwFPskRQvROEtWjsBGcB5R+40jXvJo3jOLcQF2TbgfazLFR0h64E0apQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:17:35:3b", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-09T13:13:04.035376+00:00", "modification_date": "2026-06-09T13:13:04.035376+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "2e6d2a73-acd8-4616-bc51-282cd7292b3c.pub.instances.scw.cloud", "admin_password_encryption_ssh_key_id": "23d21665-cac8-489a-808b-ae320d3a4da1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2e6d2a73-acd8-4616-bc51-282cd7292b3c
        status: 201 Created
        code: 201
        duration: 593.312794ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2e6d2a73-acd8-4616-bc51-282cd7292b3c/action
        method: POST
      response:
        body: '{"task": {"id": "691311b1-6a70-4e76-93b8-fc011ff183b2", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/2e6d2a73-acd8-4616-bc51-282cd7292b3c/action", "href_result": "/servers/2e6d2a73-acd8-4616-bc51-282cd7292b3c", "started_at": "2026-06-09T13:13:04.921390+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/691311b1-6a70-4e76-93b8-fc011ff183b2
        status: 202 Accepted
        code: 202
        duration: 441.10169ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/2e6d2a73-acd8-4616-bc51-282cd7292b3c
        method: GET
      response:
        body: '{"server": {"id": "2e6d2a73-acd8-4616-bc51-282cd7292b3c", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-[...]
[...]
    - id: 35
      request:
        host: api.scaleway.com
        body: '{"volume_id":"0ef97503-c5f0-45af-9cb0-b6533ee4f563","name":"snp-optimistic-khorana","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"5244a29e-1d26-49dd-b1e4-b12ce83b66eb", "name":"snp-optimistic-khorana", "parent_volume":{"id":"0ef97503-c5f0-45af-9cb0-b6533ee4f563", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T13:15:18.763936Z", "updated_at":"2026-06-09T13:15:18.763936Z", "references":[], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 183.744245ms
    - id: 36
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/5244a29e-1d26-49dd-b1e4-b12ce83b66eb
        method: GET
      response:
        body: '{"id":"5244a29e-1d26-49dd-b1e4-b12ce83b66eb", "name":"snp-optimistic-khorana", "parent_volume":{"id":"0ef97503-c5f0-45af-9cb0-b6533ee4f563", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T13:15:18.763936Z", "updated_at":"2026-06-09T13:15:18.763936Z", "references":[{"id":"4cffcbcb-a907-4020-9c5d-eae68f3b0b65", "product_resource_type":"internal", "product_resource_id":"00000000-0000-0000-0000-000000000000", "created_at":"2026-06-09T13:15:18.809673Z", "type":"unknown_type", "status":"attached"}], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.99283ms
[...]
    - id: 38
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-windows","root_volume":"5244a29e-1d26-49dd-b1e4-b12ce83b66eb","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "97754efc-6ae1-485b-a3ba-a4fafd02bebf", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "5244a29e-1d26-49dd-b1e4-b12ce83b66eb", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-09T13:15:24.033337+00:00", "modification_date": "2026-06-09T13:15:24.033337+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/97754efc-6ae1-485b-a3ba-a4fafd02bebf
        status: 201 Created
        code: 201
        duration: 261.74139ms
    - id: 39
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/97754efc-6ae1-485b-a3ba-a4fafd02bebf
        method: GET
      response:
        body: '{"image": {"id": "97754efc-6ae1-485b-a3ba-a4fafd02bebf", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "5244a29e-1d26-49dd-b1e4-b12ce83b66eb", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-09T13:15:24.033337+00:00", "modification_date": "2026-06-09T13:15:24.033337+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.617894ms
    - id: 40
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/0ef97503-c5f0-45af-9cb0-b6533ee4f563
        method: PATCH
      response:
        body: '{"id":"0ef97503-c5f0-45af-9cb0-b6533ee4f563", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T13:13:04.248048Z", "updated_at":"2026-06-09T13:13:04.248048Z", "references":[{"id":"b7c12790-3c5f-4479-8dc5-32695700896f", "product_resource_type":"instance_server", "product_resource_id":"2e6d2a73-acd8-4616-bc51-282cd7292b3c", "created_at":"2026-06-09T13:13:04.248048Z", "type":"exclusive", "status":"attached"}], "parent_snapshot_id":"2ab63260-8127-47d1-b522-fb31f07a2aec", "status":"in_use", "tags":["devtools", "provider", "packer"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 96.983816ms
