---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-windows
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-windows&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-windows>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 382.247713ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 83.140765ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":null, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"1d6c36f5-bffb-40f1-89e4-2674e08a9c67", "name":"image-windows-configured_snap_0", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:34.066522Z", "updated_at":"2025-11-10T15:53:34.066522Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"1f083742-68b5-4553-828d-5b0a26f01305", "name":"foo", "parent_volume":null, "size":10000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2026-06-02T14:20:56.153314Z", "updated_at":"2026-06-02T14:36:39.345013Z", "references":[], "status":"available", "tags":["custom", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":4}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.795064ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tmp-server-windows","commercial_type":"POP2-2C-8G-WIN","image":"windows_server_2022","boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["with-ssh","AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCYv9vgVtWbbPpq2qfGCHM/gQDkyUZ1GpYtTJ54PJS2vY9t5k6cC23aSV46+6tMVY3Ld3b6eeFJ06QcTdl1f8HSHzcDIYja2YAmAxZ+qAtCE4WvM2oUrcHpJBF0jhdfjhdGS+37HR7dHM4ZyjeFZP7+7jDmN/Hq/UIlyOqA+Ro4S0ejrL8PASrLBPmKyFKL7krilwDDbbDRRFxGpaBjSpU0iVe1FjJRml9F1bgEKQQKU8cx7YfVJ+4eDDOm4BVDju0Y5LDrhESu0736O+SYZCua79LCQGjRdbRgh89QbS8ywfCZ2d9LktFDfc7zGGK1r6oIYMyIDvEc83r3gzVSaygQrA22/XGAy96YKsu6BO3uQW4NbM42BpvK1Xs+KdBDicyYD6DmAelTrXT4c1EdyDy2/QajOoxIKZ26uQcCGypQXNo3mgh6mMkXrHacdTtu8kc2La9/li5nWgvcMkSafemRxrwvc0pz6yPSZ2loKIELSsnvILXOInKfenw7PgzmzMmpGKGK19zQbjxEX1tMP0XsH2QbgAnEO+OQvDxMTSL45lRJbE/A92o+nl2HhnNjU4bY52bVptS4eVlCBUyeM22cuxTmZo2Rx8n52IBYDEUAiCixpcRWnWW7ooO6Mur6pb670RA5vCnuzrtFUr3DK5N42bWUQDwz8h/uvokR3ePfBQ=="],"admin_password_encryption_ssh_key_id":"bd1e8ec7-1e3f-427d-99eb-03b221d27b9d"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "60a04a3b-bae5-4be6-8267-60f649670e23", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "2ab63260-8127-47d1-b522-fb31f07a2aec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-04-16T13:51:55.046000+00:00", "modification_date": "2026-04-16T13:51:55.046000+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2", "state": "available", "zone": "fr-par-1"}}, "tags": ["with-ssh", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCYv9vgVtWbbPpq2qfGCHM/gQDkyUZ1GpYtTJ54PJS2vY9t5k6cC23aSV46+6tMVY3Ld3b6eeFJ06QcTdl1f8HSHzcDIYja2YAmAxZ+qAtCE4WvM2oUrcHpJBF0jhdfjhdGS+37HR7dHM4ZyjeFZP7+7jDmN/Hq/UIlyOqA+Ro4S0ejrL8PASrLBPmKyFKL7krilwDDbbDRRFxGpaBjSpU0iVe1FjJRml9F1bgEKQQKU8cx7YfVJ+4eDDOm4BVDju0Y5LDrhESu0736O+SYZCua79LCQGjRdbRgh89QbS8ywfCZ2d9LktFDfc7zGGK1r6oIYMyIDvEc83r3gzVSaygQrA22/XGAy96YKsu6BO3uQW4NbM42BpvK1Xs+KdBDicyYD6DmAelTrXT4c1EdyDy2/QajOoxIKZ26uQcCGypQXNo3mgh6mMkXrHacdTtu8kc2La9/li5nWgvcMkSafemRxrwvc0pz6yPSZ2loKIELSsnvILXOInKfenw7PgzmzMmpGKGK19zQbjxEX1tMP0XsH2QbgAnEO+OQvDxMTSL45lRJbE/A92o+nl2HhnNjU4bY52bVptS4eVlCBUyeM22cuxTmZo2Rx8n52IBYDEUAiCixpcRWnWW7ooO6Mur6pb670RA5vCnuzrtFUr3DK5N42bWUQDwz8h/uvokR3ePfBQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:17:38:59", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-09T13:50:47.974794+00:00", "modification_date": "2026-06-09T13:50:47.974794+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "60a04a3b-bae5-4be6-8267-60f649670e23.pub.instances.scw.cloud", "admin_password_encryption_ssh_key_id": "bd1e8ec7-1e3f-427d-99eb-03b221d27b9d"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/60a04a3b-bae5-4be6-8267-60f649670e23
        status: 201 Created
        code: 201
        duration: 552.801614ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/60a04a3b-bae5-4be6-8267-60f649670e23/action
        method: POST
      response:
        body: '{"task": {"id": "8c1ee684-4016-4936-9def-57d420a1c25e", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/60a04a3b-bae5-4be6-8267-60f649670e23/action", "href_result": "/servers/60a04a3b-bae5-4be6-8267-60f649670e23", "started_at": "2026-06-09T13:50:48.763944+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/8c1ee684-4016-4936-9def-57d420a1c25e
        status: 202 Accepted
        code: 202
        duration: 396.153033ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/60a04a3b-bae5-4be6-8267-60f649670e23
        method: GET
      response:
        body: '{"server": {"id": "60a04a3b-bae5-4be6-8267-60f649670e23", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-[...]
[...]
    - id: 59
      request:
        host: api.scaleway.com
        body: '{"volume_id":"6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2","name":"snp-stoic-thompson","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"2f824525-3a0b-4295-b8ef-f71bd047ed99", "name":"snp-stoic-thompson", "parent_volume":{"id":"6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T13:55:06.605942Z", "updated_at":"2026-06-09T13:55:06.605942Z", "references":[], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.052181ms
    - id: 60
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2f824525-3a0b-4295-b8ef-f71bd047ed99
        method: GET
      response:
        body: '{"id":"2f824525-3a0b-4295-b8ef-f71bd047ed99", "name":"snp-stoic-thompson", "parent_volume":{"id":"6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T13:55:06.605942Z", "updated_at":"2026-06-09T13:55:06.605942Z", "references":[{"id":"4ae88649-9f22-4470-8ecc-ef4507e2143a", "product_resource_type":"internal", "product_resource_id":"00000000-0000-0000-0000-000000000000", "created_at":"2026-06-09T13:55:06.657921Z", "type":"unknown_type", "status":"attached"}], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.502868ms
[...]
    - id: 62
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-windows","root_volume":"2f824525-3a0b-4295-b8ef-f71bd047ed99","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "38297713-1eb6-4ca2-aba3-2c1524a5a3ac", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "2f824525-3a0b-4295-b8ef-f71bd047ed99", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-09T13:55:11.848629+00:00", "modification_date": "2026-06-09T13:55:11.848629+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/38297713-1eb6-4ca2-aba3-2c1524a5a3ac
        status: 201 Created
        code: 201
        duration: 254.75127ms
    - id: 63
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/38297713-1eb6-4ca2-aba3-2c1524a5a3ac
        method: GET
      response:
        body: '{"image": {"id": "38297713-1eb6-4ca2-aba3-2c1524a5a3ac", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "2f824525-3a0b-4295-b8ef-f71bd047ed99", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-09T13:55:11.848629+00:00", "modification_date": "2026-06-09T13:55:11.848629+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.137269ms
    - id: 64
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2
        method: PATCH
      response:
        body: '{"id":"6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T13:50:48.169996Z", "updated_at":"2026-06-09T13:50:48.169996Z", "references":[{"id":"89e7ae93-87a7-4e26-b247-fa2488af24b0", "product_resource_type":"instance_server", "product_resource_id":"60a04a3b-bae5-4be6-8267-60f649670e23", "created_at":"2026-06-09T13:50:48.169996Z", "type":"exclusive", "status":"attached"}], "parent_snapshot_id":"2ab63260-8127-47d1-b522-fb31f07a2aec", "status":"in_use", "tags":["devtools", "provider", "packer"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 101.220003ms
