---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-windows
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-windows&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-windows>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 531.600919ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": [{"id": "668e86be-92be-430f-9d16-93fb79babf45", "name": "tf-snap-sharp-newton", "volume_type": "l_ssd", "creation_date": "2026-05-18T10:00:42.970027+00:00", "modification_date": "2026-05-19T04:33:50.526706+00:00", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "105bdce1-64c0-48ab-899d-868455867ecf", "size": 10000000000, "state": "exporting", "base_volume": null, "tags": [], "zone": "fr-par-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 328.79705ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 136.626485ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tmp-server-windows","commercial_type":"POP2-2C-8G-WIN","image":"windows_server_2022","boot_type":"local","project":"60c2a82f-3d0c-45bf-8c69-62627e5abe4d","tags":["with-ssh","AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDQBgI6ypAmlD9GMLsoI5doaK5yBlKAEF/ycrNnjv/qttIVneAH7emka/xWytY0wVcwBCGHi5QOWFLjv4CKo0WNBNOMSagiIPj+JNxuithr3SL1y4Iezd7PKV9jK3s4f8ZLQz4bwXqCSr8L5jRy1pid0Lo1Jkxqhksp3tXW/eic3O3Prd7HW3SyoBZgL6PKWT/38tQK5kPQAAuyhf73WkrF4EVdOs0jXA1GtoRPXhA3GiIyxTj337yU8kJ6IPjGPLvgG6cZwSeAQ39qhC9Sxm2i6zBSS9cSGyqVO9e6L7CEI9m5mV6wQ/q3JbNrxJ/EqSIjH4IeUjOqFUgFC3g14x5xoid5pNv8+7YSu8q97y9LGcUkjb/lNgkzXXRQnWZGivxNNyD/Lj865tgdydoX+UJ2W/iR8BXdHVB0evBXMNnq0TTJgpLO8s7JX1uly4oCmAjHnmFfh5FSEwMx+hfPNgUBtRFQlAANhvztmApR9EckK/BKhGudbrtKgII9Fm5h+UZc1OmXqjFD2f/m4gFgV44RQvqmsFVVk4T9FNDxyOC2ZLieH6GhqmfFBd0i7BJhgXWzlm67DRNgkTValxNYgzPPXq0SAEeixQqR86afAnRA8go4xt61T7mM4752LNnXqXZTGcYMBoNH/Rym+r3jCU7LRuCN2nE7VWco/v8Ls+V8VQ=="],"admin_password_encryption_ssh_key_id":"c31f516d-ed85-4aca-bfd6-ca352060f536"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "a156ebcd-22f5-4a7a-96d0-cd19fef46c75", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "60c2a82f-3d0c-45bf-8c69-62627e5abe4d", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "2ab63260-8127-47d1-b522-fb31f07a2aec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-04-16T13:51:55.046000+00:00", "modification_date": "2026-04-16T13:51:55.046000+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "01cc5ff8-433f-432b-ad2b-68d57789829d", "state": "available", "zone": "fr-par-1"}}, "tags": ["with-ssh", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDQBgI6ypAmlD9GMLsoI5doaK5yBlKAEF/ycrNnjv/qttIVneAH7emka/xWytY0wVcwBCGHi5QOWFLjv4CKo0WNBNOMSagiIPj+JNxuithr3SL1y4Iezd7PKV9jK3s4f8ZLQz4bwXqCSr8L5jRy1pid0Lo1Jkxqhksp3tXW/eic3O3Prd7HW3SyoBZgL6PKWT/38tQK5kPQAAuyhf73WkrF4EVdOs0jXA1GtoRPXhA3GiIyxTj337yU8kJ6IPjGPLvgG6cZwSeAQ39qhC9Sxm2i6zBSS9cSGyqVO9e6L7CEI9m5mV6wQ/q3JbNrxJ/EqSIjH4IeUjOqFUgFC3g14x5xoid5pNv8+7YSu8q97y9LGcUkjb/lNgkzXXRQnWZGivxNNyD/Lj865tgdydoX+UJ2W/iR8BXdHVB0evBXMNnq0TTJgpLO8s7JX1uly4oCmAjHnmFfh5FSEwMx+hfPNgUBtRFQlAANhvztmApR9EckK/BKhGudbrtKgII9Fm5h+UZc1OmXqjFD2f/m4gFgV44RQvqmsFVVk4T9FNDxyOC2ZLieH6GhqmfFBd0i7BJhgXWzlm67DRNgkTValxNYgzPPXq0SAEeixQqR86afAnRA8go4xt61T7mM4752LNnXqXZTGcYMBoNH/Rym+r3jCU7LRuCN2nE7VWco/v8Ls+V8VQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:19:28:ef", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-15T16:46:33.061933+00:00", "modification_date": "2026-06-15T16:46:33.061933+00:00", "bootscript": null, "security_group": {"id": "b80b609b-38a1-40f7-b5a5-3b9149807a9d", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "a156ebcd-22f5-4a7a-96d0-cd19fef46c75.pub.instances.scw.cloud", "admin_password_encryption_ssh_key_id": "c31f516d-ed85-4aca-bfd6-ca352060f536"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a156ebcd-22f5-4a7a-96d0-cd19fef46c75
        status: 201 Created
        code: 201
        duration: 2.195348568s
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a156ebcd-22f5-4a7a-96d0-cd19fef46c75/action
        method: POST
      response:
        body: '{"task": {"id": "65ca6b72-b275-4405-8531-ca4fe203f63c", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/a156ebcd-22f5-4a7a-96d0-cd19fef46c75/action", "href_result": "/servers/a156ebcd-22f5-4a7a-96d0-cd19fef46c75", "started_at": "2026-06-15T16:46:34.240815+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/65ca6b72-b275-4405-8531-ca4fe203f63c
        status: 202 Accepted
        code: 202
        duration: 577.542985ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a156ebcd-22f5-4a7a-96d0-cd19fef46c75
        method: GET
      response:
        body: '{"server": {"id": "a156ebcd-22f5-4a7a-96d0-cd19fef46c75", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "60c2a82f-3d0c-45bf-8c69-[...]
[...]
    - id: 46
      request:
        host: api.scaleway.com
        body: '{"volume_id":"01cc5ff8-433f-432b-ad2b-68d57789829d","name":"snp-quizzical-pascal","project_id":"60c2a82f-3d0c-45bf-8c69-62627e5abe4d","tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"5340de70-3d9a-4dde-8fc6-f51a74f35288", "name":"snp-quizzical-pascal", "parent_volume":{"id":"01cc5ff8-433f-432b-ad2b-68d57789829d", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"60c2a82f-3d0c-45bf-8c69-62627e5abe4d", "created_at":"2026-06-15T16:49:48.727302Z", "updated_at":"2026-06-15T16:49:48.727302Z", "references":[], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 279.97579ms
    - id: 47
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/5340de70-3d9a-4dde-8fc6-f51a74f35288
        method: GET
      response:
        body: '{"id":"5340de70-3d9a-4dde-8fc6-f51a74f35288", "name":"snp-quizzical-pascal", "parent_volume":{"id":"01cc5ff8-433f-432b-ad2b-68d57789829d", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"60c2a82f-3d0c-45bf-8c69-62627e5abe4d", "created_at":"2026-06-15T16:49:48.727302Z", "updated_at":"2026-06-15T16:49:48.727302Z", "references":[], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 105.228844ms
[...]
    - id: 49
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-windows","root_volume":"5340de70-3d9a-4dde-8fc6-f51a74f35288","arch":"x86_64","project":"60c2a82f-3d0c-45bf-8c69-62627e5abe4d","tags":["devtools","provider","packer"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "6268e202-bf29-4ccf-b71e-9cc664f0e321", "name": "packer-e2e-windows", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "60c2a82f-3d0c-45bf-8c69-62627e5abe4d", "root_volume": {"volume_type": "sbs_snapshot", "id": "5340de70-3d9a-4dde-8fc6-f51a74f35288", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-15T16:49:54.314710+00:00", "modification_date": "2026-06-15T16:49:54.314710+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/6268e202-bf29-4ccf-b71e-9cc664f0e321
        status: 201 Created
        code: 201
        duration: 550.504795ms
    - id: 50
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/6268e202-bf29-4ccf-b71e-9cc664f0e321
        method: GET
      response:
        body: '{"image": {"id": "6268e202-bf29-4ccf-b71e-9cc664f0e321", "name": "packer-e2e-windows", "organization": "105bdce1-64c0-48ab-899d-868455867ecf", "project": "60c2a82f-3d0c-45bf-8c69-62627e5abe4d", "root_volume": {"volume_type": "sbs_snapshot", "id": "5340de70-3d9a-4dde-8fc6-f51a74f35288", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-15T16:49:54.314710+00:00", "modification_date": "2026-06-15T16:49:54.314710+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 223.534928ms
    - id: 51
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/01cc5ff8-433f-432b-ad2b-68d57789829d
        method: PATCH
      response:
        body: '{"id":"01cc5ff8-433f-432b-ad2b-68d57789829d", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "size":25000000000, "project_id":"60c2a82f-3d0c-45bf-8c69-62627e5abe4d", "created_at":"2026-06-15T16:46:33.369053Z", "updated_at":"2026-06-15T16:46:33.369053Z", "references":[{"id":"7d135163-dbff-4f34-a0d6-bd3fa391c4ee", "product_resource_type":"instance_server", "product_resource_id":"a156ebcd-22f5-4a7a-96d0-cd19fef46c75", "created_at":"2026-06-15T16:46:33.369053Z", "type":"exclusive", "status":"attached"}], "parent_snapshot_id":"2ab63260-8127-47d1-b522-fb31f07a2aec", "status":"in_use", "tags":["devtools", "provider", "packer"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 189.409808ms
