---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-complete
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images?name=packer-e2e-complete&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-complete>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 266.563655ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 123.085464ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.671185ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"named-extra-volume-1","perf_iops":5000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","from_empty":{"size":10000000000},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/nl-ams-1/volumes
        method: POST
      response:
        body: '{"id":"9939ac0a-5947-4850-8ebc-ece0b6b7f251", "name":"named-extra-volume-1", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:19.533073Z", "updated_at":"2025-11-27T17:23:19.533073Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 147.449543ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        body: '{"name":"packer-69288906-05d1-c9de-f183-64e6e70bca59","commercial_type":"DEV1-M","image":"ubuntu_jammy","volumes":{"0":{"size":12000000000,"volume_type":"l_ssd"},"1":{"id":"9939ac0a-5947-4850-8ebc-ece0b6b7f251","volume_type":"sbs_volume"},"2":{"id":"42bd9c06-eeca-4538-ba34-66b70952ad89","volume_type":"sbs_volume"},"3":{"id":"e16f0842-78c5-46aa-9a19-6318b759b4e1","volume_type":"sbs_volume"}},"boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCiZC0QAxroQ/HT1mOFFc5of8DAlH3nrYx24O8KzJbzZFzbo3j6VmwemiPJhkDv+bQX9o4MkQVID9L51wBwBEE6q2Dru2ZMURdqnD5M4tYP1OZ7fySCVlilZgZkboTji0YyL5rurUH9CThQLeMvje7X7avqjIfP8NiCAWMzH7QOoD+8u4AfBECoYrr0hv0a/5da+6XZXgjn+Ej4XJ/eRB0+9Kc9dufJUZ/eyAEVvtl5yCtEa9+Q9dYbUh27LjbbOqLkX5wyI85Lnpsz9X4T95GAKYIGnEU7ExDnR6yQq/f3j8QFOW0vJbyJPzTO+YSbLqYBLCZ/Lzdd/9MBLeYBZ3HJ/o65m395gLurqkgDfx1F/47zcClbcFvIaGMT9oC/Vs7J/imowkeQi4HhqcHNzHYHeMO1f7t7NkYmmm4nIqJba1rbylPi3HIJOHZULirtOoJ5BN1vO4X26YP9aDMaKO0HqHcvk8NuZ7sBQTeU2m/CBtmBDvIpSlt9ZfzEgrEUyE7JCwb/JN9AXTIFhTwWRXEGlIN3ZBfoRkheXm9g/CqyXgxss0fHrD2Zv4t68wH7QZZybu56ASKatqAva8Y9Y0y+tOYNpyEESQ8crG0ZOeS+IDG0h/Ex5C6ek+I9zu0f6GNitfWUsvrHVQICZ/PjF3ca99cBrANiUGxkhlVGSyOPSQ=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers
        method: POST
      response:
        body: '{"server": {"id": "3895e3c0-6bf5-4860-8109-950d96994904", "name": "packer-69288906-05d1-c9de-f183-64e6e70bca59", "arch": "x86_64", "commercial_type": "DEV1-M", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-69288906-05d1-c9de-f183-64e6e70bca59", "image": {"id": "f35eb2e8-a9cc-4b87-878c-68aec68e2cdf", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "bfa38aa1-d69a-4cf5-8461-f1c477249f86", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-09-12T09:11:14.656914+00:00", "modification_date": "2025-09-12T09:11:14.656914+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "nl-ams-1"}, "volumes": {"0": {"boot": false, "id": "d918e0be-6366-480f-bdb1-66a0a0e1aa89", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "3895e3c0-6bf5-4860-8109-950d96994904", "name": "packer-69288906-05d1-c9de-f183-64e6e70bca59"}, "size": 12000000000, "state": "available", "creation_date": "2025-11-27T17:23:19.962028+00:00", "modification_date": "2025-11-27T17:23:19.962028+00:00", "tags": [[...]
    - id: 7
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers/3895e3c0-6bf5-4860-8109-950d96994904/action
        method: POST
      response:
        body: '{"task": {"id": "f0fe2e06-4f17-4f5b-a056-732dfa30b255", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/3895e3c0-6bf5-4860-8109-950d96994904/action", "href_result": "/servers/3895e3c0-6bf5-4860-8109-950d96994904", "started_at": "2025-11-27T17:23:21.227074+00:00", "terminated_at": null, "progress": 0, "zone": "nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/nl-ams-1/tasks/f0fe2e06-4f17-4f5b-a056-732dfa30b255
        status: 202 Accepted
        code: 202
        duration: 450.779768ms
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/servers/3895e3c0-6bf5-4860-8109-950d96994904
        method: GET
      response:
        body: '{"server": {"id": "3895e3c0-6bf5-4860-8109-950d96994904", "name": "packer-69288906-05d1-c9de-f183-64e6e70bca59", "arch": "x86_64", "commercial_type": "DEV1-M", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-[...]
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"name":"named-snap-root-volume-0","volume_id":"d918e0be-6366-480f-bdb1-66a0a0e1aa89","tags":["test","packer","complete"],"project":"19a4819b-24bf-4d44-969f-935ef0061b71","volume_type":"l_ssd"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/snapshots
        method: POST
      response:
        body: '{"snapshot": {"id": "8ad2f9c3-7802-45e3-ad45-6b56d65f4f59", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "creation_date": "2025-11-27T17:24:23.714819+00:00", "modification_date": "2025-11-27T17:24:23.714819+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 12000000000, "state": "available", "base_volume": {"id": "d918e0be-6366-480f-bdb1-66a0a0e1aa89", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": ["test", "packer", "complete"], "zone": "nl-ams-1", "error_details": null}, "task": {"id": "4906799f-21c0-4eaf-97a1-306b8f4df4f2", "description": "volume_snapshot", "status": "pending", "href_from": "/snapshots", "href_result": "snapshots/8ad2f9c3-7802-45e3-ad45-6b56d65f4f59", "started_at": "2025-11-27T17:24:23.931899+00:00", "terminated_at": null, "progress": 0, "zone": "nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 348.514174ms
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"volume_id":"9939ac0a-5947-4850-8ebc-ece0b6b7f251","name":"packer-1764264198","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["test","packer","complete"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots
        method: POST
      response:
        body: '{"id":"e1d8c1b1-003e-4b92-8802-eb88ec7a86ac", "name":"packer-1764264198", "parent_volume":{"id":"9939ac0a-5947-4850-8ebc-ece0b6b7f251", "name":"named-extra-volume-1", "type":"sbs_5k", "status":"in_use"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:24:24.095275Z", "updated_at":"2025-11-27T17:24:24.095275Z", "references":[], "status":"creating", "tags":["test", "packer", "complete"], "class":"sbs", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 175.227864ms
    - id: 26
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/snapshots/e1d8c1b1-003e-4b92-8802-eb88ec7a86ac
        method: GET
      response:
        body: '{"id":"e1d8c1b1-003e-4b92-8802-eb88ec7a86ac", "name":"packer-1764264198", "parent_volume":{"id":"9939ac0a-5947-4850-8ebc-ece0b6b7f251", "name":"named-extra-volume-1", "type":"sbs_5k", "status":"in_use"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:24:24.095275Z", "updated_at":"2025-11-27T17:24:24.095275Z", "references":[{"id":"da6219f2-fb8c-49f8-989d-1cbe0e5ab488", "product_resource_type":"internal", "product_resource_id":"00000000-0000-0000-0000-000000000000", "created_at":"2025-11-27T17:24:24.142801Z", "type":"unknown_type", "status":"attached"}], "status":"creating", "tags":["test", "packer", "complete"], "class":"sbs", "zone":"nl-ams-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 103.267431ms
[...]
    - id: 34
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-complete","root_volume":"8ad2f9c3-7802-45e3-ad45-6b56d65f4f59","arch":"x86_64","extra_volumes":{"1":{"id":"e1d8c1b1-003e-4b92-8802-eb88ec7a86ac"},"2":{"id":"f8cb373c-487f-4909-9a17-a29f3613ed28"},"3":{"id":"8afe97a2-26c5-4567-84ad-5431f6eb8834"}},"project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["test","packer","complete"],"public":false}'
        headers:
            Content-Type:
              [...]
    - id: 35
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/images/911efd53-5dce-4899-8c3f-84346acc192f
        method: GET
      response:
        body: '{"image": {"id": "911efd53-5dce-4899-8c3f-84346acc192f", "name": "packer-e2e-complete", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "8ad2f9c3-7802-45e3-ad45-6b56d65f4f59", "name": "named-snap-root-volume-0", "volume_type": "l_ssd", "size": 12000000000}, "extra_volumes": {"2": {"volume_type": "sbs_snapshot", "id": "f8cb373c-487f-4909-9a17-a29f3613ed28", "size": 0, "name": ""}, "1": {"volume_type": "sbs_snapshot", "id": "e1d8c1b1-003e-4b92-8802-eb88ec7a86ac", "size": 0, "name": ""}, "3": {"volume_type": "sbs_snapshot", "id": "8afe97a2-26c5-4567-84ad-5431f6eb8834", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:24:40.148524+00:00", "modification_date": "2025-11-27T17:24:40.148524+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 126.429205ms
    - id: 36
      request:
        host: api.scaleway.com
        body: '{"tags":["test","packer","complete"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/nl-ams-1/volumes/d918e0be-6366-480f-bdb1-66a0a0e1aa89
        method: PATCH
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"d918e0be-6366-480f-bdb1-66a0a0e1aa89","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 40.508514ms
    - id: 37
      request:
        host: api.scaleway.com
        body: '{"tags":["test","packer","complete"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/nl-ams-1/volumes/d918e0be-6366-480f-bdb1-66a0a0e1aa89
        method: PATCH
      response:
        body: '{"volume": {"id": "d918e0be-6366-480f-bdb1-66a0a0e1aa89", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "3895e3c0-6bf5-4860-8109-950d96994904", "name": "packer-69288906-05d1-c9de-f183-64e6e70bca59"}, "size": 12000000000, "state": "available", "creation_date": "2025-11-27T17:23:19.962028+00:00", "modification_date": "2025-11-27T17:24:40.793711+00:00", "tags": ["test", "packer", "complete"], "zone": "nl-ams-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 116.864716ms
[...]
