---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-simple&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-simple>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 373.444243ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1744011671&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1744011671>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 68.922238ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67f38197-ba24-4d85-8ba0-ed6ef797a48c","commercial_type":"PRO2-XXS","image":"ubuntu_jammy","boot_type":"local","project":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDJ5LQm2aESFKS0DklXLV4b8ABKCdj5sONcyRpbSUTG4LZpdnikqGamUHpJuTUAapIL97XzjN8GEckb3o6aVFUX8Ab4+BcJJUU3Vs/HscVTyT3kEnCC60Ce7eiElLl9t4KA1NXG2x3t5+1jHLdCSsVreqvHOtP/rbht+fJ3kGjYQmHrlEMWEZDagbjyZRmlRfJnl3SJ2hjMoWCW7p81Q7MmEZA3Hx5NeaVfQkAXmtDB5B5D79kpUkznX3yC8hZsPToYKlDFHWTs18KP/PywKmds7HT3bxJ3pR2XuUb8PySeC31YwJ77eT3f9cP89rlHqXpThWkKyd3Y+EDLMjU3uUpbohJ7BtRx2u1hj0P7t7OjeU64rEpvEzjMtI/nTBKvzWWvJN2JWR+R55djdoOUvdi0Pl1Rioa2BOtnxCxw0Env8g2a/1+EcUFEaBHkmNsEvSV34IUbthsvLMseBO9Ne5iW5FUCHIG8V++LlBOnequIH8glZeDHnWLv1X54KyI+QgDafWQmVvHrGCCKJPPacV62+lE/WazVJxX5sh0oJRURY4OV805+BK14FobwBcH5BAD2tIusalQjwadwqPFybcKieZ8sbA/7jhDKzEynFnjxv85Ge7GV9l437DZl8XmQlCXSeAVihaBKCEHl61fgLcZh7ISEAVKV5+3V2gdHF2sskQ=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "9bda3172-9d28-4b3f-ab1f-b53dff735320", "name": "packer-67f38197-ba24-4d85-8ba0-ed6ef797a48c", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "hostname": "packer-67f38197-ba24-4d85-8ba0-ed6ef797a48c", "image": {"id": "63d40353-5519-46d0-9172-ccf4885954e1", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "905845fc-a6eb-4401-8e9d-5810071b7119", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-02-03T13:22:53.227105+00:00", "modification_date": "2025-02-03T13:22:53.227105+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "40cb3fb3-f0a1-4277-a169-a1b19b5abb34", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDJ5LQm2aESFKS0DklXLV4b8ABKCdj5sONcyRpbSUTG4LZpdnikqGamUHpJuTUAapIL97XzjN8GEckb3o6aVFUX8Ab4+BcJJUU3Vs/HscVTyT3kEnCC60Ce7eiElLl9t4KA1NXG2x3t5+1jHLdCSsVreqvHOtP/rbht+fJ3kGjYQmHrlEMWEZDagbjyZRmlRfJnl3SJ2hjMoWCW7p81Q7MmEZA3Hx5NeaVfQkAXmtDB5B5D79kpUkznX3yC8hZsPToYKlDFHWTs18KP/PywKmds7HT3bxJ3pR2XuUb8PySeC31YwJ77eT3f9cP89rlHqXpThWkKyd3Y+EDLMjU3uUpbohJ7BtRx2u1hj0P7t7OjeU64rEpvEzjMtI/nTBKvzWWvJN2JWR+R55djdoOUvdi0Pl1Rioa2BOtnxCxw0Env8g2a/1+EcUFEaBHkmNsEvSV34IUbthsvLMseBO9Ne5iW5FUCHIG8V++LlBOnequIH8glZeDHnWLv1X54KyI+QgDafWQmVvHrGCCKJPPacV62+lE/WazVJxX5sh0oJRURY4OV805+BK14FobwBcH5BAD2tIusalQjwadwqPFybcKieZ8sbA/7jhDKzEynFnjxv85Ge7GV9l437DZl8XmQlCXSeAVihaBKCEHl61fgLcZh7ISEAVKV5+3V2gdHF2sskQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:a3:2b:cd", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-04-07T07:41:16.948610+00:00", "modification_date": "2025-04-07T07:41:16.948610+00:00", "bootscript": null, "security_group": {"id": "6b9803c6-af6d-4401-bc48-4c90517e5f60", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": []}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/9bda3172-9d28-4b3f-ab1f-b53dff735320
        status: 201 Created
        code: 201
        duration: 819.315494ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/9bda3172-9d28-4b3f-ab1f-b53dff735320/action
        method: POST
      response:
        body: '{"task": {"id": "4428367a-9ac0-496a-9777-e45f7d7853ac", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/9bda3172-9d28-4b3f-ab1f-b53dff735320/action", "href_result": "/servers/9bda3172-9d28-4b3f-ab1f-b53dff735320", "started_at": "2025-04-07T07:41:18.041869+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/4428367a-9ac0-496a-9777-e45f7d7853ac
        status: 202 Accepted
        code: 202
        duration: 554.136146ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/9bda3172-9d28-4b3f-ab1f-b53dff735320
        method: GET
      response:
        body: '{"server": {"id": "9bda3172-9d28-4b3f-ab1f-b53dff735320", "name": "packer-67f38197-ba24-4d85-8ba0-ed6ef797a48c", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "564aa517-68b0-4fd7-8c8c-d21c4[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/de761f45-29da-4606-908d-f4a7c19c0fe9
        method: GET
      response:
        body: '{"image": {"id": "de761f45-29da-4606-908d-f4a7c19c0fe9", "name": "packer-e2e-simple", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "root_volume": {"volume_type": "sbs_snapshot", "id": "a6d9f66b-eb63-4c65-80eb-46ab88971142", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-04-07T07:42:00.550692+00:00", "modification_date": "2025-04-07T07:42:00.550692+00:00", "default_bootscript": null, "from_server": "9bda3172-9d28-4b3f-ab1f-b53dff735320", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 74.008687ms
[...]
    - id: 19
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/40cb3fb3-f0a1-4277-a169-a1b19b5abb34
        method: PATCH
      response:
        body: '{"id":"40cb3fb3-f0a1-4277-a169-a1b19b5abb34","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","size":10000000000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2025-04-07T07:41:17.052275Z","updated_at":"2025-04-07T07:41:17.052275Z","references":[{"id":"dc70b95d-c383-44bd-bf53-72f045926e88","product_resource_type":"instance_server","product_resource_id":"9bda3172-9d28-4b3f-ab1f-b53dff735320","created_at":"2025-04-07T07:41:17.052275Z","type":"exclusive","status":"attached"}],"parent_snapshot_id":"905845fc-a6eb-4401-8e9d-5810071b7119","status":"snapshotting","tags":["devtools","provider","packer"],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 92.353957ms
    - id: 20
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/a6d9f66b-eb63-4c65-80eb-46ab88971142
        method: PATCH
      response:
        body: '{"id":"a6d9f66b-eb63-4c65-80eb-46ab88971142","name":"packer-e2e-simple_snap_0","parent_volume":{"id":"40cb3fb3-f0a1-4277-a169-a1b19b5abb34","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","status":"in_use"},"size":10000000000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2025-04-07T07:42:00.721797Z","updated_at":"2025-04-07T07:42:00.721797Z","references":[{"id":"d5e1e0d5-1acb-4a99-a724-80bbdee0e825","product_resource_type":"instance_image","product_resource_id":"de761f45-29da-4606-908d-f4a7c19c0fe9","created_at":"2025-04-07T07:42:00.721797Z","type":"link","status":"creating"}],"status":"creating","tags":["devtools","provider","packer"],"class":"sbs","zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 90.642844ms
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/40cb3fb3-f0a1-4277-a169-a1b19b5abb34
        method: GET
      response:
        body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume", "resource_id": "40cb3fb3-f0a1-4277-a169-a1b19b5abb34"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 29.368215ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/40cb3fb3-f0a1-4277-a169-a1b19b5abb34
        method: GET
      response:
        body: '{"id":"40cb3fb3-f0a1-4277-a169-a1b19b5abb34","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","size":10000000000,"project_id":"564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5","created_at":"2025-04-07T07:41:17.052275Z","updated_at":"2025-04-07T07:41:17.052275Z","references":[{"id":"dc70b95d-c383-44bd-bf53-72f045926e88","product_resource_type":"instance_server","product_resource_id":"9bda3172-9d28-4b3f-ab1f-b53dff735320","created_at":"2025-04-07T07:41:17.052275Z","type":"exclusive","status":"detaching"}],"parent_snapshot_id":"905845fc-a6eb-4401-8e9d-5810071b7119","status":"snapshotting","tags":["devtools","provider","packer"],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.072804ms
[...]
