---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-root-volume-sbs
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume-sbs&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-root-volume-sbs>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 371.037716ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": [{"id": "040de054-2855-426c-a8db-f224be7f2058", "name": "packer-e2e-root-volume-local_snap_0", "volume_type": "l_ssd", "creation_date": "2025-11-12T14:23:01.653225+00:00", "modification_date": "2025-11-12T14:32:10.634612+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state": "available", "base_volume": null, "tags": [], "zone": "fr-par-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 119.433131ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-692889a9-dbdb-5eae-4ea2-c2fb1d54cdad","commercial_type":"PLAY2-PICO","image":"ubuntu_jammy","volumes":{"0":{"size":50000000000,"volume_type":"sbs_volume"}},"boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCsnwEJzH6e9dqDSO/WKdIrNpLWWcz0cuQz4qHmdT8AbXilhJaODE0jGHVitvvM1FDvPT1Sa1fTlUFA2JCZEcydnFsb9OJEhqJFUWtKZhBdLIyM684sX9ndDM+E4sF6UaYM31bMh0cj3rtZ019Kz4whBvX1a5EcOsVF/77F9xC7t4r0PSMCjZOHX9lmYo3YXqrYQVGa5u2R32FG/TA29hIaBYUgmVWotls/TjLwOprDmR6G20cup+YCLhxyJlDUDJ3Fj7TMTIdTqhM8ek/b0Jm5JLVRBO3AHiZhHKsSM/8Li1QIVSyLXGVOZUhV+69JT6pS5mm9tEhTkzps5sUm0MTIB+j10b3b7pBmP+BO2ET6vDThAHmRd4n1vJjZbHtxuFIr7MW1NjYy5jHKyxjBEPyWX7VURvZV7fvkf3QwkTC1o9ITqGAwnZ9groanplpwWILEmAgsCrFpmO5NJM3xLnn+wpobs4vAuHEPjhdXR7pWBPVobxlUibXHcGoKQr0ZgsUxMnvXUZH4ZtHIufYCfivzVr5KNDhReG4nTE5NBm9XNrGpSzOWGrsYXOThtwpM6q/dTR1bl93eFAJHZ/fAP9ffv6VchKgIITlnEYfQF1tgkWOhz8MJRS6peu3Ar/ae1+lBgZ4r2Ie4XUrQ38CobC5jrlMDqMb330pseimhq3XK6Q=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "9b4b93e9-3b60-4bfa-bce5-89cb3b7353a3", "name": "packer-692889a9-dbdb-5eae-4ea2-c2fb1d54cdad", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-692889a9-dbdb-5eae-4ea2-c2fb1d54cdad", "image": {"id": "6d3c053e-c728-4294-b23a-560b62a4d592", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "36b4ce54-c67a-4f68-ab74-839515834352", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-09-12T09:11:41.420846+00:00", "modification_date": "2025-09-12T09:11:41.420846+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "0bf81e49-b1a1-4773-bfd9-b9e1bdf21753", "state": "available", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCsnwEJzH6e9dqDSO/WKdIrNpLWWcz0cuQz4qHmdT8AbXilhJaODE0jGHVitvvM1FDvPT1Sa1fTlUFA2JCZEcydnFsb9OJEhqJFUWtKZhBdLIyM684sX9ndDM+E4sF6UaYM31bMh0cj3rtZ019Kz4whBvX1a5EcOsVF/77F9xC7t4r0PSMCjZOHX9lmYo3YXqrYQVGa5u2R32FG/TA29hIaBYUgmVWotls/TjLwOprDmR6G20cup+YCLhxyJlDUDJ3Fj7TMTIdTqhM8ek/b0Jm5JLVRBO3AHiZhHKsSM/8Li1QIVSyLXGVOZUhV+69JT6pS5mm9tEhTkzps5sUm0MTIB+j10b3b7pBmP+BO2ET6vDThAHmRd4n1vJjZbHtxuFIr7MW1NjYy5jHKyxjBEPyWX7VURvZV7fvkf3QwkTC1o9ITqGAwnZ9groanplpwWILEmAgsCrFpmO5NJM3xLnn+wpobs4vAuHEPjhdXR7pWBPVobxlUibXHcGoKQr0ZgsUxMnvXUZH4ZtHIufYCfivzVr5KNDhReG4nTE5NBm9XNrGpSzOWGrsYXOThtwpM6q/dTR1bl93eFAJHZ/fAP9ffv6VchKgIITlnEYfQF1tgkWOhz8MJRS6peu3Ar/ae1+lBgZ4r2Ie4XUrQ38CobC5jrlMDqMb330pseimhq3XK6Q=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:d6:dc:f5", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-11-27T17:26:02.573663+00:00", "modification_date": "2025-11-27T17:26:02.573663+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/9b4b93e9-3b60-4bfa-bce5-89cb3b7353a3
        status: 201 Created
        code: 201
        duration: 528.581513ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"perf_iops":15000}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/0bf81e49-b1a1-4773-bfd9-b9e1bdf21753
        method: PATCH
      response:
        body: '{"id":"0bf81e49-b1a1-4773-bfd9-b9e1bdf21753", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:26:02.703735Z", "updated_at":"2025-11-27T17:26:02.703735Z", "references":[{"id":"e5ec1558-72d3-4b53-9010-3e2d450d2804", "product_resource_type":"instance_server", "product_resource_id":"9b4b93e9-3b60-4bfa-bce5-89cb3b7353a3", "created_at":"2025-11-27T17:26:02.703735Z", "type":"exclusive", "status":"attached"}], "parent_snapshot_id":"36b4ce54-c67a-4f68-ab74-839515834352", "status":"updating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.531923ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/9b4b93e9-3b60-4bfa-bce5-89cb3b7353a3/action
        method: POST
      response:
        body: '{"task": {"id": "0262be38-5407-48c4-adef-c58ebc970a34", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/9b4b93e9-3b60-4bfa-bce5-89cb3b7353a3/action", "href_result": "/servers/9b4b93e9-3b60-4bfa-bce5-89cb3b7353a3", "started_at": "2025-11-27T17:26:03.473966+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/0262be38-5407-48c4-adef-c58ebc970a34
        status: 202 Accepted
        code: 202
        duration: 382.462275ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/9b4b93e9-3b60-4bfa-bce5-89cb3b7353a3
        method: GET
      response:
        body: '{"server": {"id": "9b4b93e9-3b60-4bfa-bce5-89cb3b7353a3", "name": "packer-692889a9-dbdb-5eae-4ea2-c2fb1d54cdad", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-2[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"volume_id":"0bf81e49-b1a1-4773-bfd9-b9e1bdf21753","name":"packer-1764264361","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"3ca37fcd-97f6-4391-b960-2fad53b31740", "name":"packer-1764264361", "parent_volume":{"id":"0bf81e49-b1a1-4773-bfd9-b9e1bdf21753", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_15k", "status":"in_use"}, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:27:05.503035Z", "updated_at":"2025-11-27T17:27:05.503035Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 858.112973ms
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/3ca37fcd-97f6-4391-b960-2fad53b31740
        method: GET
      response:
        body: '{"id":"3ca37fcd-97f6-4391-b960-2fad53b31740", "name":"packer-1764264361", "parent_volume":{"id":"0bf81e49-b1a1-4773-bfd9-b9e1bdf21753", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_15k", "status":"in_use"}, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:27:05.503035Z", "updated_at":"2025-11-27T17:27:05.503035Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 512.35128ms
[...]
    - id: 25
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-root-volume-sbs","root_volume":"3ca37fcd-97f6-4391-b960-2fad53b31740","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "1fb595c5-5f27-40ec-bce3-b56d2b7b6c1d", "name": "packer-e2e-root-volume-sbs", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "3ca37fcd-97f6-4391-b960-2fad53b31740", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:27:12.487744+00:00", "modification_date": "2025-11-27T17:27:12.487744+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/1fb595c5-5f27-40ec-bce3-b56d2b7b6c1d
        status: 201 Created
        code: 201
        duration: 562.738437ms
    - id: 26
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/1fb595c5-5f27-40ec-bce3-b56d2b7b6c1d
        method: GET
      response:
        body: '{"image": {"id": "1fb595c5-5f27-40ec-bce3-b56d2b7b6c1d", "name": "packer-e2e-root-volume-sbs", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "3ca37fcd-97f6-4391-b960-2fad53b31740", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:27:12.487744+00:00", "modification_date": "2025-11-27T17:27:12.487744+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.568787ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/0bf81e49-b1a1-4773-bfd9-b9e1bdf21753
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "0bf81e49-b1a1-4773-bfd9-b9e1bdf21753"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 42.72707ms
[...]
