---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-snap-name-block
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images?name=packer-e2e-snap-name-block&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-snap-name-block>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 250.573855ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 90.648339ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.904828ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-69288a3e-16c7-0598-4d2a-b52bfe9f1121","commercial_type":"PLAY2-PICO","image":"ubuntu_jammy","volumes":{"0":{"volume_type":"sbs_volume"}},"boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDwRb0E/S4gzGT/8pCNsOEcKmHdcE+xENiDTWvItcbuFLdfhievK+WwJz8iCyZGK/MhzIhiGpHnSw8pxpLhxJNPLdl7odGkITbSt+7mcMEw3Ac44Cob27y9K2DcDqOcGGCmsKIcehy9xkBKg0gmwqNA24nmfgMCW+GQOfB539xoyKTSsoBhZzVthTPJJCmjOZnALoPjzlt7ni11YOij53kGKykJf2i8gGh75HKGW+HFGzDlmu5rKwYyWhmo7P05FCCZALVwbPPfsTWZNotINYYCNyLHPEQmtA5G0VyUzfUIagoPhttYYUm0IQFe0gpbRyFDkfm6pzvjEXQTQ+bJvfpGqTAwPtiQVyXHvkhYuGosFtjbBipomkeFD0JeNB/qw2vvi95v+t8E5DpnMhedOkFSrdzbNFc1kC2LI9QEhi9Z6yfgRL1jqsqeU5cGATxX0DtXJr/NaKyu5uzdiBKbcZ63d2IPnmyFbHNLxewlRZxzpDYRPTTgwz58R+lkYef/m05OQhLlZajKLmvcxTPWDW021l6laSr6iQDP+w+TiAx71vsHL3UtjpVU/UUBynUAsDM9WN8zoBP9Nz4UC1rwLXW/oKicFs+EStaTm9CQzsCdIv0m+SaBWnM7ut6CvPu58wyV6hfrziWbkx+M5hM9BFxWQtRI9lXSy0Y4x77l/IfnFw=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"server": {"id": "7a24f1f7-cd80-4d01-be3b-aa8db0d591a7", "name": "packer-69288a3e-16c7-0598-4d2a-b52bfe9f1121", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-69288a3e-16c7-0598-4d2a-b52bfe9f1121", "image": {"id": "31b12803-5f92-4a28-804d-a86abf4d52d1", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "baff3d88-f99e-4343-8753-cbd9d30b1c86", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-09-12T09:11:36.622039+00:00", "modification_date": "2025-09-12T09:11:36.622039+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-2"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "0201c5a3-70aa-4ed0-b75c-7abbb8673e67", "state": "available", "zone": "fr-par-2"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDwRb0E/S4gzGT/8pCNsOEcKmHdcE+xENiDTWvItcbuFLdfhievK+WwJz8iCyZGK/MhzIhiGpHnSw8pxpLhxJNPLdl7odGkITbSt+7mcMEw3Ac44Cob27y9K2DcDqOcGGCmsKIcehy9xkBKg0gmwqNA24nmfgMCW+GQOfB539xoyKTSsoBhZzVthTPJJCmjOZnALoPjzlt7ni11YOij53kGKykJf2i8gGh75HKGW+HFGzDlmu5rKwYyWhmo7P05FCCZALVwbPPfsTWZNotINYYCNyLHPEQmtA5G0VyUzfUIagoPhttYYUm0IQFe0gpbRyFDkfm6pzvjEXQTQ+bJvfpGqTAwPtiQVyXHvkhYuGosFtjbBipomkeFD0JeNB/qw2vvi95v+t8E5DpnMhedOkFSrdzbNFc1kC2LI9QEhi9Z6yfgRL1jqsqeU5cGATxX0DtXJr/NaKyu5uzdiBKbcZ63d2IPnmyFbHNLxewlRZxzpDYRPTTgwz58R+lkYef/m05OQhLlZajKLmvcxTPWDW021l6laSr6iQDP+w+TiAx71vsHL3UtjpVU/UUBynUAsDM9WN8zoBP9Nz4UC1rwLXW/oKicFs+EStaTm9CQzsCdIv0m+SaBWnM7ut6CvPu58wyV6hfrziWbkx+M5hM9BFxWQtRI9lXSy0Y4x77l/IfnFw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:94:1c:49", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-11-27T17:28:31.040326+00:00", "modification_date": "2025-11-27T17:28:31.040326+00:00", "bootscript": null, "security_group": {"id": "570c2ce0-3e5f-45e4-850b-7f0e0498e6fd", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-2", "filesystems": [], "end_of_service": false}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/7a24f1f7-cd80-4d01-be3b-aa8db0d591a7
        status: 201 Created
        code: 201
        duration: 589.943973ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/7a24f1f7-cd80-4d01-be3b-aa8db0d591a7/action
        method: POST
      response:
        body: '{"task": {"id": "5cb8d611-5d73-4852-9e33-9c3d76143e0b", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/7a24f1f7-cd80-4d01-be3b-aa8db0d591a7/action", "href_result": "/servers/7a24f1f7-cd80-4d01-be3b-aa8db0d591a7", "started_at": "2025-11-27T17:28:31.869031+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/tasks/5cb8d611-5d73-4852-9e33-9c3d76143e0b
        status: 202 Accepted
        code: 202
        duration: 365.756655ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/7a24f1f7-cd80-4d01-be3b-aa8db0d591a7
        method: GET
      response:
        body: '{"server": {"id": "7a24f1f7-cd80-4d01-be3b-aa8db0d591a7", "name": "packer-69288a3e-16c7-0598-4d2a-b52bfe9f1121", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-2[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"volume_id":"0201c5a3-70aa-4ed0-b75c-7abbb8673e67","name":"named-block-snapshot","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["test","snapshot-name","block"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots
        method: POST
      response:
        body: '{"id":"cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73", "name":"named-block-snapshot", "parent_volume":{"id":"0201c5a3-70aa-4ed0-b75c-7abbb8673e67", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:29:33.768764Z", "updated_at":"2025-11-27T17:29:33.768764Z", "references":[], "status":"creating", "tags":["test", "snapshot-name", "block"], "class":"sbs", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 205.868776ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73
        method: GET
      response:
        body: '{"id":"cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73", "name":"named-block-snapshot", "parent_volume":{"id":"0201c5a3-70aa-4ed0-b75c-7abbb8673e67", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:29:33.768764Z", "updated_at":"2025-11-27T17:29:33.768764Z", "references":[], "status":"creating", "tags":["test", "snapshot-name", "block"], "class":"sbs", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 140.005767ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-snap-name-block","root_volume":"cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["test","snapshot-name","block"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images
        method: POST
      response:
        body: '{"image": {"id": "4cdff76c-aae8-4e6d-9574-b41f64a6410c", "name": "packer-e2e-snap-name-block", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:29:39.234874+00:00", "modification_date": "2025-11-27T17:29:39.234874+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["test", "snapshot-name", "block"], "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/images/4cdff76c-aae8-4e6d-9574-b41f64a6410c
        status: 201 Created
        code: 201
        duration: 390.341548ms
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images/4cdff76c-aae8-4e6d-9574-b41f64a6410c
        method: GET
      response:
        body: '{"image": {"id": "4cdff76c-aae8-4e6d-9574-b41f64a6410c", "name": "packer-e2e-snap-name-block", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:29:39.234874+00:00", "modification_date": "2025-11-27T17:29:39.234874+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["test", "snapshot-name", "block"], "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 67.597246ms
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"tags":["test","snapshot-name","block"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/0201c5a3-70aa-4ed0-b75c-7abbb8673e67
        method: PATCH
      response:
        body: '{"id":"0201c5a3-70aa-4ed0-b75c-7abbb8673e67", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:28:31.207889Z", "updated_at":"2025-11-27T17:28:31.207889Z", "references":[{"id":"80e0bd53-eb24-4e11-aaaa-a108dd97f1f0", "product_resource_type":"instance_server", "product_resource_id":"7a24f1f7-cd80-4d01-be3b-aa8db0d591a7", "created_at":"2025-11-27T17:28:31.207889Z", "type":"exclusive", "status":"attached"}], "parent_snapshot_id":"baff3d88-f99e-4343-8753-cbd9d30b1c86", "status":"in_use", "tags":["test", "snapshot-name", "block"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.568489ms
[...]
