---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-simple
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-simple&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-simple>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 375.237439ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": [{"id": "040de054-2855-426c-a8db-f224be7f2058", "name": "packer-e2e-root-volume-local_snap_0", "volume_type": "l_ssd", "creation_date": "2025-11-12T14:23:01.653225+00:00", "modification_date": "2025-11-12T14:32:10.634612+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state": "available", "base_volume": null, "tags": [], "zone": "fr-par-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 119.970392ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-692889f4-35ac-30c8-8434-1e6c2b975ab2","commercial_type":"PRO2-XXS","image":"ubuntu_jammy","boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC1P+mIqigvHZxdVYFfE1lP9BX+5hCtf57ghRlnon5UbtM6dgBGZgtnOgR1uD/B0mr8tPppIHeNpMai0SPNg0DKgbfb/ApqYVUn4ydyMT9jltyW7SniLoPKhr7/M1wyPuJg65sYM6m4drJ6ePy9MqfRTQKahfctP4sucF0nwAkdI0gnGhjWs3PZQBS2n/kg590tQE3FzbAz1++2PEBwz9Z8VNcJAC+e9ukJvIAFDxquJ4camrRWWvbE8MUPERMAQwP1DiY5WvV+FkWhFbnRepZuLwePsm5DJIFDceDnDCfeIipmvDh613Vi/xYXcn8EQR/Uy2OIW8Om4Z3KBMuOjzlL4JLWyf30XDdNPnzWSYlSaZFyffqkjkDIeXiX0PFvySQZTum+pcQL98M+EqK57c2ErhnYgedqq0Gb3bmqNRlGNjV4YzwQP5xEouIHgeKt9921C4DS5yTu8unupC3f/qOuv9EJ4DGtQnG1dQQwNKjsHCyMy4N7QJZM67hc3/15bk664RgU1O1gBmtMPS4InH9c8iPhswuqHXoXccy0QlRqLChu8DB+obV15P5eSHsDF8GSjeOs9eLbOd7l2FWpW6mTuk/U+bIaTFHNkiMZX2/Q7YdktM8x6BKWYjn9pruoBIlutJKSL0cQQV30YupI1FxsiJrIAN1IlyCn0PIseWqTyw=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "d1bd2eef-9fb2-490b-adc8-21e7933370f4", "name": "packer-692889f4-35ac-30c8-8434-1e6c2b975ab2", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-692889f4-35ac-30c8-8434-1e6c2b975ab2", "image": {"id": "6d3c053e-c728-4294-b23a-560b62a4d592", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "36b4ce54-c67a-4f68-ab74-839515834352", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-09-12T09:11:41.420846+00:00", "modification_date": "2025-09-12T09:11:41.420846+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "96cf50b6-2d61-467e-90b2-5c545c55d7c2", "state": "available", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC1P+mIqigvHZxdVYFfE1lP9BX+5hCtf57ghRlnon5UbtM6dgBGZgtnOgR1uD/B0mr8tPppIHeNpMai0SPNg0DKgbfb/ApqYVUn4ydyMT9jltyW7SniLoPKhr7/M1wyPuJg65sYM6m4drJ6ePy9MqfRTQKahfctP4sucF0nwAkdI0gnGhjWs3PZQBS2n/kg590tQE3FzbAz1++2PEBwz9Z8VNcJAC+e9ukJvIAFDxquJ4camrRWWvbE8MUPERMAQwP1DiY5WvV+FkWhFbnRepZuLwePsm5DJIFDceDnDCfeIipmvDh613Vi/xYXcn8EQR/Uy2OIW8Om4Z3KBMuOjzlL4JLWyf30XDdNPnzWSYlSaZFyffqkjkDIeXiX0PFvySQZTum+pcQL98M+EqK57c2ErhnYgedqq0Gb3bmqNRlGNjV4YzwQP5xEouIHgeKt9921C4DS5yTu8unupC3f/qOuv9EJ4DGtQnG1dQQwNKjsHCyMy4N7QJZM67hc3/15bk664RgU1O1gBmtMPS4InH9c8iPhswuqHXoXccy0QlRqLChu8DB+obV15P5eSHsDF8GSjeOs9eLbOd7l2FWpW6mTuk/U+bIaTFHNkiMZX2/Q7YdktM8x6BKWYjn9pruoBIlutJKSL0cQQV30YupI1FxsiJrIAN1IlyCn0PIseWqTyw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:d6:dd:05", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-11-27T17:27:17.435548+00:00", "modification_date": "2025-11-27T17:27:17.435548+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1bd2eef-9fb2-490b-adc8-21e7933370f4
        status: 201 Created
        code: 201
        duration: 519.262463ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1bd2eef-9fb2-490b-adc8-21e7933370f4/action
        method: POST
      response:
        body: '{"task": {"id": "b337444e-2036-46ac-b999-a02dd41165c8", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/d1bd2eef-9fb2-490b-adc8-21e7933370f4/action", "href_result": "/servers/d1bd2eef-9fb2-490b-adc8-21e7933370f4", "started_at": "2025-11-27T17:27:18.221430+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/b337444e-2036-46ac-b999-a02dd41165c8
        status: 202 Accepted
        code: 202
        duration: 404.85753ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/d1bd2eef-9fb2-490b-adc8-21e7933370f4
        method: GET
      response:
        body: '{"server": {"id": "d1bd2eef-9fb2-490b-adc8-21e7933370f4", "name": "packer-692889f4-35ac-30c8-8434-1e6c2b975ab2", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24b[...]
[...]
    - id: 21
      request:
        host: api.scaleway.com
        body: '{"volume_id":"96cf50b6-2d61-467e-90b2-5c545c55d7c2","name":"snp-funny-lamport","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"38ff451a-eaa2-44a3-99ef-7a5e746c18e7", "name":"snp-funny-lamport", "parent_volume":{"id":"96cf50b6-2d61-467e-90b2-5c545c55d7c2", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:28:20.155975Z", "updated_at":"2025-11-27T17:28:20.155975Z", "references":[], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 522.522189ms
    - id: 22
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/38ff451a-eaa2-44a3-99ef-7a5e746c18e7
        method: GET
      response:
        body: '{"id":"38ff451a-eaa2-44a3-99ef-7a5e746c18e7", "name":"snp-funny-lamport", "parent_volume":{"id":"96cf50b6-2d61-467e-90b2-5c545c55d7c2", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:28:20.155975Z", "updated_at":"2025-11-27T17:28:20.155975Z", "references":[], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 281.136679ms
[...]
    - id: 24
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-simple","root_volume":"38ff451a-eaa2-44a3-99ef-7a5e746c18e7","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "765fb528-8d8c-4f7f-8b38-a4e8bbecb071", "name": "packer-e2e-simple", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "38ff451a-eaa2-44a3-99ef-7a5e746c18e7", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:28:26.232837+00:00", "modification_date": "2025-11-27T17:28:26.232837+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/765fb528-8d8c-4f7f-8b38-a4e8bbecb071
        status: 201 Created
        code: 201
        duration: 659.940428ms
    - id: 25
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/765fb528-8d8c-4f7f-8b38-a4e8bbecb071
        method: GET
      response:
        body: '{"image": {"id": "765fb528-8d8c-4f7f-8b38-a4e8bbecb071", "name": "packer-e2e-simple", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "38ff451a-eaa2-44a3-99ef-7a5e746c18e7", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:28:26.232837+00:00", "modification_date": "2025-11-27T17:28:26.232837+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 68.63511ms
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/96cf50b6-2d61-467e-90b2-5c545c55d7c2
        method: PATCH
      response:
        body: '{"id":"96cf50b6-2d61-467e-90b2-5c545c55d7c2", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:27:17.572915Z", "updated_at":"2025-11-27T17:27:17.572915Z", "references":[{"id":"42cf34b6-6d68-4736-a88e-0bdebd39e2b6", "product_resource_type":"instance_server", "product_resource_id":"d1bd2eef-9fb2-490b-adc8-21e7933370f4", "created_at":"2025-11-27T17:27:17.572915Z", "type":"exclusive", "status":"attached"}], "parent_snapshot_id":"36b4ce54-c67a-4f68-ab74-839515834352", "status":"in_use", "tags":["devtools", "provider", "packer"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 82.631856ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/96cf50b6-2d61-467e-90b2-5c545c55d7c2
        method: GET
      response:
        body: '{"type": "not_found", "message": "resource is not found", "resource": "instance_volume", "resource_id": "96cf50b6-2d61-467e-90b2-5c545c55d7c2"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 35.470153ms
[...]
    - id: 30
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/96cf50b6-2d61-467e-90b2-5c545c55d7c2
        method: GET
      response:
        body: '{"id":"96cf50b6-2d61-467e-90b2-5c545c55d7c2", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:27:17.572915Z", "updated_at":"2025-11-27T17:28:27.220518Z", "references":[], "parent_snapshot_id":"36b4ce54-c67a-4f68-ab74-839515834352", "status":"available", "tags":["devtools", "provider", "packer"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:28:27.220518Z", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.110698ms
[...]
