---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume-sbs&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-root-volume-sbs>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 516.266667ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1739201805&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1739201805>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 193.996333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67aa1d0d-a359-1d5b-3ca1-00b9eb61da43","commercial_type":"PLAY2-PICO","image":"ubuntu_jammy","volumes":{"0":{"size":50000000000,"volume_type":"sbs_volume"}},"boot_type":"local","project":"b577a333-d52a-4d86-9310-b413d5fe9bb1","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDvBzaAZfrDUdVkjZ7bBVJ2cJI/KRMPPsG511mSGK4zbmLa55mcSdgqiU75rOH3ppRAx7s++j9yNbfXDZMIg2L52WNcmPHIcMQN3sUH90qHNCMaLnEKFqqD3tJ68X0gf20TwNZsqWj7tLePJjGupoOxeVsLxjA+KqiEWDBUIcGOi8hDLmgnixQh2YsGHr/A+ohqGmQCZwuieqvYLZCIRSHiKJ4DLCJLe2Dvrdb8uvACFy5NSuvp8aVw37KrMjdX2zY2M4agZfmEVk7PBaKXxtVueuLvSVrkv9uk2Td/GbJtv3aaJyITwU1BsHEq0f5cFWx2wwFJgGiU7q7uxbzlijqXHiyzmWMCGnCDXLycGUM2fXXrF5T4ykUuwqokLaV0va/EyUc7BlIKeOWSp5CV8WPMMc5xsSeyoOPWEhC7WSLx4A4ZsOTlmXRd00il8m++cDDPAFYWJBPN0F+wN/wDQbiPtz3JRMQlBbaPZ0/k3tjbp6ss6YBkTyVq6OT70WO43b9O6bS8RTVu8U0XZIn10dzhxDS4XbyNgN81EA5L8fvVF35rsMPao1GlC7S66oa9ZzGn9WmPsADyDeIplhIC2EJ0Dt91OPA9aa4XmdSAteYMynIbu+B7o3DtgpHFUkgmq6CPwYmdG9px5Hjv6LoSq64XqviWZIjFZDma/g7B4eJyQQ=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "8122c68c-01b5-46b9-8201-aefe8c91fa98", "name": "packer-67aa1d0d-a359-1d5b-3ca1-00b9eb61da43", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "b577a333-d52a-4d86-9310-b413d5fe9bb1", "hostname": "packer-67aa1d0d-a359-1d5b-3ca1-00b9eb61da43", "image": {"id": "1fb9bfa4-68c3-4d6f-a362-8913a1af27b0", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "4eb9437f-8993-444a-b564-f7654add2131", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-10-07T11:39:13.069801+00:00", "modification_date": "2024-10-07T11:39:13.069801+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "c9584eaf-b206-4456-99fd-9853c8f7b8b7", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDvBzaAZfrDUdVkjZ7bBVJ2cJI/KRMPPsG511mSGK4zbmLa55mcSdgqiU75rOH3ppRAx7s++j9yNbfXDZMIg2L52WNcmPHIcMQN3sUH90qHNCMaLnEKFqqD3tJ68X0gf20TwNZsqWj7tLePJjGupoOxeVsLxjA+KqiEWDBUIcGOi8hDLmgnixQh2YsGHr/A+ohqGmQCZwuieqvYLZCIRSHiKJ4DLCJLe2Dvrdb8uvACFy5NSuvp8aVw37KrMjdX2zY2M4agZfmEVk7PBaKXxtVueuLvSVrkv9uk2Td/GbJtv3aaJyITwU1BsHEq0f5cFWx2wwFJgGiU7q7uxbzlijqXHiyzmWMCGnCDXLycGUM2fXXrF5T4ykUuwqokLaV0va/EyUc7BlIKeOWSp5CV8WPMMc5xsSeyoOPWEhC7WSLx4A4ZsOTlmXRd00il8m++cDDPAFYWJBPN0F+wN/wDQbiPtz3JRMQlBbaPZ0/k3tjbp6ss6YBkTyVq6OT70WO43b9O6bS8RTVu8U0XZIn10dzhxDS4XbyNgN81EA5L8fvVF35rsMPao1GlC7S66oa9ZzGn9WmPsADyDeIplhIC2EJ0Dt91OPA9aa4XmdSAteYMynIbu+B7o3DtgpHFUkgmq6CPwYmdG9px5Hjv6LoSq64XqviWZIjFZDma/g7B4eJyQQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:93:2b:1f", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-02-10T15:36:46.717460+00:00", "modification_date": "2025-02-10T15:36:46.717460+00:00", "bootscript": null, "security_group": {"id": "0a1339e8-9a2a-4650-badf-eb97dda33105", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8122c68c-01b5-46b9-8201-aefe8c91fa98
        status: 201 Created
        code: 201
        duration: 983.651834ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"perf_iops":15000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes/c9584eaf-b206-4456-99fd-9853c8f7b8b7
        method: PATCH
      response:
        body: '{"id":"c9584eaf-b206-4456-99fd-9853c8f7b8b7","name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0","type":"sbs_5k","size":50000000000,"project_id":"b577a333-d52a-4d86-9310-b413d5fe9bb1","created_at":"2025-02-10T15:36:46.854944Z","updated_at":"2025-02-10T15:36:46.854944Z","references":[{"id":"f24099d5-1909-4702-a452-5627df6bf471","product_resource_type":"instance_server","product_resource_id":"8122c68c-01b5-46b9-8201-aefe8c91fa98","created_at":"2025-02-10T15:36:46.854944Z","type":"exclusive","status":"attached"}],"parent_snapshot_id":"4eb9437f-8993-444a-b564-f7654add2131","status":"updating","tags":[],"specs":{"perf_iops":5000,"class":"sbs"},"last_detached_at":null,"zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.810083ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8122c68c-01b5-46b9-8201-aefe8c91fa98/action
        method: POST
      response:
        body: '{"task": {"id": "3e4b6c24-e125-4180-8cd6-05743f49fd09", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/8122c68c-01b5-46b9-8201-aefe8c91fa98/action", "href_result": "/servers/8122c68c-01b5-46b9-8201-aefe8c91fa98", "started_at": "2025-02-10T15:36:47.610807+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/3e4b6c24-e125-4180-8cd6-05743f49fd09
        status: 202 Accepted
        code: 202
        duration: 383.023959ms
    - id: 5
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8122c68c-01b5-46b9-8201-aefe8c91fa98
        method: GET
      response:
        body: '{"server": {"id": "8122c68c-01b5-46b9-8201-aefe8c91fa98", "name": "packer-67aa1d0d-a359-1d5b-3ca1-00b9eb61da43", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: '{"action":"backup","name":"packer-e2e-root-volume-sbs","volumes":{"c9584eaf-b206-4456-99fd-9853c8f7b8b7":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/8122c68c-01b5-46b9-8201-aefe8c91fa98/action
        method: POST
      response:
        body: '{"task": {"id": "fefc55e1-d050-464a-b070-73dc572970c8", "description": "instance_backup", "status": "pending", "href_from": "/servers/8122c68c-01b5-46b9-8201-aefe8c91fa98/action", "href_result": "/images/a77ece2d-74ac-4c43-bd0d-cf23cac99746", "started_at": "2025-02-10T15:37:31.570830+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/fefc55e1-d050-464a-b070-73dc572970c8
        status: 202 Accepted
        code: 202
        duration: 602.124166ms
    - id: 18
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/a77ece2d-74ac-4c43-bd0d-cf23cac99746
        method: GET
      response:
        body: '{"image": {"id": "a77ece2d-74ac-4c43-bd0d-cf23cac99746", "name": "packer-e2e-root-volume-sbs", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "b577a333-d52a-4d86-9310-b413d5fe9bb1", "root_volume": {"volume_type": "sbs_snapshot", "id": "f3639014-608d-450b-844c-15e19a5a8f4c", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-02-10T15:37:31.116776+00:00", "modification_date": "2025-02-10T15:37:31.116776+00:00", "default_bootscript": null, "from_server": "8122c68c-01b5-46b9-8201-aefe8c91fa98", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.163209ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/c9584eaf-b206-4456-99fd-9853c8f7b8b7
        method: GET
      response:
        body: '{"message": "resource is not found", "type": "not_found", "resource": "instance_volume", "resource_id": "c9584eaf-b206-4456-99fd-9853c8f7b8b7"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 55.009208ms
[...]
