---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume&page=1
        method: GET
      response:
        body: '{"images": [{"id": "a77ece2d-74ac-4c43-bd0d-cf23cac99746", "name": "packer-e2e-root-volume-sbs", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "b577a333-d52a-4d86-9310-b413d5fe9bb1", "root_volume": {"volume_type": "sbs_snapshot", "id": "f3639014-608d-450b-844c-15e19a5a8f4c", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-02-10T15:37:31.116776+00:00", "modification_date": "2025-02-10T15:37:31.116776+00:00", "default_bootscript": null, "from_server": "8122c68c-01b5-46b9-8201-aefe8c91fa98", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-root-volume>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 741.265792ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=snapshot-packer-1739201854&page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&name=snapshot-packer-1739201854>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 159.121333ms
    - id: 2
      request:
        host: api.scaleway.com
        body: '{"name":"packer-67aa1d3e-c4c7-b381-81cc-f62e161756bf","commercial_type":"PLAY2-PICO","image":"ubuntu_jammy","volumes":{"0":{"size":50000000000,"volume_type":"b_ssd"}},"boot_type":"local","project":"b577a333-d52a-4d86-9310-b413d5fe9bb1","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDKPzVX3wL1/MfIBh7lNfnsOrOxo8Yg2eFbtc+y6KlAG9/2glp6df7eDGP69ZDaTPh6ZvmpbaCRmqvjZDRH+NOENHRsSfDRMyXvaH3aCG3scX9tgvLOH59j7xTgRLlr8xsXjoVBv5RKFRNqWBNyB6/L3OUbsVS38WHIu2J+5N+sSMnfRXVUPFEbDBhgp+OQiKJryRz+JrO5gVCOrqDaEgIjs8t5g/BJgrB12ZUQ3gf83X18o0P02PQtrX+nthCZMyWzZ4z7bo1LbmVJ8gbBS1A0wR4XH93xZnkiuXRGvzHmMiDgtWgaEIFtFP0uOvIj2lFGfwF/T8XaNCuoIVU0+kgfs9kW+IRXqVE7aJLCipcJ3JHsjQ5d41XPodCvASYx4LphgPRPbRI/jL5LQfjRzjxf2X+xwk9B6CWhY8b6dUPcYZ9q3EkycP5bH64iBmy4DxSxWuzjD7WWHlrWERwK2ntDBxx+AGGGPo2eruTAlImOQARgH0GER3y1gWpdJQpvxKD07+yq2czvph38p6rMTxK1ii+GLe/WbY+8n7vQNEJ/E3wicQWtzTPB4xlzdnHl6/qRtOjyQgWHQ8m3kU66aNc8cXvSuZvS0U3C1pi1bYH03g7cz0kTFUHCo2mEdFLfiFZhQVz8SeR37ugWcb2rMAS9Wxe0QPT3lNHuuPa9CKSNJQ=="]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "b46d82ac-01ae-40c6-8c0e-a37138026141", "name": "packer-67aa1d3e-c4c7-b381-81cc-f62e161756bf", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "b577a333-d52a-4d86-9310-b413d5fe9bb1", "hostname": "packer-67aa1d3e-c4c7-b381-81cc-f62e161756bf", "image": {"id": "bc50e86c-a6c7-401a-8fbb-2ef17ce87aee", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "f1efdd5c-375b-431e-ac06-daaf1518369b", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "unified", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2024-10-07T11:39:08.941837+00:00", "modification_date": "2024-10-07T11:39:08.941837+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "id": "234005ad-b951-4fb2-ba3e-cccf7d928952", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "b577a333-d52a-4d86-9310-b413d5fe9bb1", "server": {"id": "b46d82ac-01ae-40c6-8c0e-a37138026141", "name": "packer-67aa1d3e-c4c7-b381-81cc-f62e161756bf"}, "size": 50000000000, "state": "available", "creation_date": "2025-02-10T15:37:36.809921+00:00", "modification_date": "2025-02-10T15:37:36.809921+00:00", "tags": [], "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDKPzVX3wL1/MfIBh7lNfnsOrOxo8Yg2eFbtc+y6KlAG9/2glp6df7eDGP69ZDaTPh6ZvmpbaCRmqvjZDRH+NOENHRsSfDRMyXvaH3aCG3scX9tgvLOH59j7xTgRLlr8xsXjoVBv5RKFRNqWBNyB6/L3OUbsVS38WHIu2J+5N+sSMnfRXVUPFEbDBhgp+OQiKJryRz+JrO5gVCOrqDaEgIjs8t5g/BJgrB12ZUQ3gf83X18o0P02PQtrX+nthCZMyWzZ4z7bo1LbmVJ8gbBS1A0wR4XH93xZnkiuXRGvzHmMiDgtWgaEIFtFP0uOvIj2lFGfwF/T8XaNCuoIVU0+kgfs9kW+IRXqVE7aJLCipcJ3JHsjQ5d41XPodCvASYx4LphgPRPbRI/jL5LQfjRzjxf2X+xwk9B6CWhY8b6dUPcYZ9q3EkycP5bH64iBmy4DxSxWuzjD7WWHlrWERwK2ntDBxx+AGGGPo2eruTAlImOQARgH0GER3y1gWpdJQpvxKD07+yq2czvph38p6rMTxK1ii+GLe/WbY+8n7vQNEJ/E3wicQWtzTPB4xlzdnHl6/qRtOjyQgWHQ8m3kU66aNc8cXvSuZvS0U3C1pi1bYH03g7cz0kTFUHCo2mEdFLfiFZhQVz8SeR37ugWcb2rMAS9Wxe0QPT3lNHuuPa9CKSNJQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:93:2b:27", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-02-10T15:37:36.809921+00:00", "modification_date": "2025-02-10T15:37:36.809921+00:00", "bootscript": null, "security_group": {"id": "0a1339e8-9a2a-4650-badf-eb97dda33105", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/b46d82ac-01ae-40c6-8c0e-a37138026141
        status: 201 Created
        code: 201
        duration: 809.497958ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/b46d82ac-01ae-40c6-8c0e-a37138026141/action
        method: POST
      response:
        body: '{"task": {"id": "e4bbba92-5ab4-4028-a3ff-d1b423908fb6", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/b46d82ac-01ae-40c6-8c0e-a37138026141/action", "href_result": "/servers/b46d82ac-01ae-40c6-8c0e-a37138026141", "started_at": "2025-02-10T15:37:37.355962+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/e4bbba92-5ab4-4028-a3ff-d1b423908fb6
        status: 202 Accepted
        code: 202
        duration: 238.987625ms
    - id: 4
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/b46d82ac-01ae-40c6-8c0e-a37138026141
        method: GET
      response:
        body: '{"server": {"id": "b46d82ac-01ae-40c6-8c0e-a37138026141", "name": "packer-67aa1d3e-c4c7-b381-81cc-f62e161756bf", "arch": "x86_64", "commercial_type": "PLAY2-PICO", "boot_type": "local", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e[...]
[...]
    - id: 17
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/b96d1e58-acac-4f7f-9511-b195d3a6851a
        method: GET
      response:
        body: '{"image": {"id": "b96d1e58-acac-4f7f-9511-b195d3a6851a", "name": "packer-e2e-root-volume", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "b577a333-d52a-4d86-9310-b413d5fe9bb1", "root_volume": {"id": "3d76deb4-e252-4ac1-b709-6eb4e4698d79", "name": "packer-e2e-root-volume_snap_0", "volume_type": "b_ssd", "size": 50000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-02-10T15:38:20.019704+00:00", "modification_date": "2025-02-10T15:38:20.019704+00:00", "default_bootscript": null, "from_server": "b46d82ac-01ae-40c6-8c0e-a37138026141", "state": "creating", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.297917ms
[...]
    - id: 20
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/234005ad-b951-4fb2-ba3e-cccf7d928952
        method: GET
      response:
        body: '{"volume": {"id": "234005ad-b951-4fb2-ba3e-cccf7d928952", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "b_ssd", "export_uri": null, "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "b577a333-d52a-4d86-9310-b413d5fe9bb1", "server": null, "size": 50000000000, "state": "available", "creation_date": "2025-02-10T15:37:36.809921+00:00", "modification_date": "2025-02-10T15:38:25.745516+00:00", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 59.165917ms
[...]
