---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-windows
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-windows&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-windows>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 389.731342ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 114.828905ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":null, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}, {"id":"1d6c36f5-bffb-40f1-89e4-2674e08a9c67", "name":"image-windows-configured_snap_0", "parent_volume":null, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:34.066522Z", "updated_at":"2025-11-10T15:53:34.066522Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":3}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 54.619683ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tmp-server-windows","commercial_type":"POP2-2C-8G-WIN","image":"windows_server_2022","boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["with-ssh","AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC4WQlbX6xx3pCZyRBLhh13Qrjxj3ocB0z9491U8RbL6m0TIyTJnKMTq/nMZnpO9eGeX0TKg0PgULdBJDHo3UOnIwQdn3/BBQeU2T8Uw5V4COTdhJuq/XnPkYmafYjindI1TIGb5VQi2pll7xrcCZb+03aRUQ7NaV5O4crmSoKkC0oz+T0eNEHsJHy/NdpeGMnCERtvSpDKz3rt5UiAVMmIOmPvuUxzDaFxIEybM8h90GnvEXmAjEvoQP5w/N4sG2NyM/+Rpblj+N84+/cQM3iE338huRV+i/fAtlB8Lk7pTqQG8K5CC33PHa/hBf1+PRXZ6svMYYF4gh/LtvlV4MiY+mPL5QA6kW1z2nihB681sa94Zvsvu0MkdZ9jwpA/G5Vsp9vq92+cqQFGgisCQHgNG9kmRFasRqF4x4vdF5UV2jzBk7JwhgM9Yi7s+IhNHMfeVKYqDRTWbVCuFc2gV4fyBDyQubBm6C3B9C+uJXjHZg2yJrRMAlKk/+1SzQnCrCz0tYMeqsmypDU0v8RpG52O49F1gwbCKywmvYY2jPobEvtsTXkaaiqXUAFEApmnn1LDH624IFb5NqderJfLaeCZZKElwzKXqAeJ3AI/3x24iTl/4fiGeDd+rKskUMzicsThu9mhiBdPk/jdKevq/09hQSOST+ENcsTuIl72/FhYJw=="],"admin_password_encryption_ssh_key_id":"bf33d490-bcb5-4deb-b855-57717dbcbdc4"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "5af800e3-e343-4d88-aea3-87dc0cdb44d2", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "2ab63260-8127-47d1-b522-fb31f07a2aec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-04-16T13:51:55.046000+00:00", "modification_date": "2026-04-16T13:51:55.046000+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "d9c568fc-17b9-4e6c-a448-7df8af2add5f", "state": "available", "zone": "fr-par-1"}}, "tags": ["with-ssh", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC4WQlbX6xx3pCZyRBLhh13Qrjxj3ocB0z9491U8RbL6m0TIyTJnKMTq/nMZnpO9eGeX0TKg0PgULdBJDHo3UOnIwQdn3/BBQeU2T8Uw5V4COTdhJuq/XnPkYmafYjindI1TIGb5VQi2pll7xrcCZb+03aRUQ7NaV5O4crmSoKkC0oz+T0eNEHsJHy/NdpeGMnCERtvSpDKz3rt5UiAVMmIOmPvuUxzDaFxIEybM8h90GnvEXmAjEvoQP5w/N4sG2NyM/+Rpblj+N84+/cQM3iE338huRV+i/fAtlB8Lk7pTqQG8K5CC33PHa/hBf1+PRXZ6svMYYF4gh/LtvlV4MiY+mPL5QA6kW1z2nihB681sa94Zvsvu0MkdZ9jwpA/G5Vsp9vq92+cqQFGgisCQHgNG9kmRFasRqF4x4vdF5UV2jzBk7JwhgM9Yi7s+IhNHMfeVKYqDRTWbVCuFc2gV4fyBDyQubBm6C3B9C+uJXjHZg2yJrRMAlKk/+1SzQnCrCz0tYMeqsmypDU0v8RpG52O49F1gwbCKywmvYY2jPobEvtsTXkaaiqXUAFEApmnn1LDH624IFb5NqderJfLaeCZZKElwzKXqAeJ3AI/3x24iTl/4fiGeDd+rKskUMzicsThu9mhiBdPk/jdKevq/09hQSOST+ENcsTuIl72/FhYJw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:17:46:8b", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-09T16:57:55.248227+00:00", "modification_date": "2026-06-09T16:57:55.248227+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "5af800e3-e343-4d88-aea3-87dc0cdb44d2.pub.instances.scw.cloud", "admin_password_encryption_ssh_key_id": "bf33d490-bcb5-4deb-b855-57717dbcbdc4"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/5af800e3-e343-4d88-aea3-87dc0cdb44d2
        status: 201 Created
        code: 201
        duration: 649.100697ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/5af800e3-e343-4d88-aea3-87dc0cdb44d2/action
        method: POST
      response:
        body: '{"task": {"id": "2d77df67-c7e0-471e-b3e7-6e71c4cae978", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/5af800e3-e343-4d88-aea3-87dc0cdb44d2/action", "href_result": "/servers/5af800e3-e343-4d88-aea3-87dc0cdb44d2", "started_at": "2026-06-09T16:57:56.162446+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/2d77df67-c7e0-471e-b3e7-6e71c4cae978
        status: 202 Accepted
        code: 202
        duration: 435.558616ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/5af800e3-e343-4d88-aea3-87dc0cdb44d2
        method: GET
      response:
        body: '{"server": {"id": "5af800e3-e343-4d88-aea3-87dc0cdb44d2", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-[...]
[...]
    - id: 42
      request:
        host: api.scaleway.com
        body: '{"volume_id":"d9c568fc-17b9-4e6c-a448-7df8af2add5f","name":"snp-elegant-sinoussi","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"8630b457-0dd3-476a-b013-c50e44f9a4b5", "name":"snp-elegant-sinoussi", "parent_volume":{"id":"d9c568fc-17b9-4e6c-a448-7df8af2add5f", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T17:00:46.512590Z", "updated_at":"2026-06-09T17:00:46.512590Z", "references":[], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 170.544246ms
    - id: 43
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/8630b457-0dd3-476a-b013-c50e44f9a4b5
        method: GET
      response:
        body: '{"id":"8630b457-0dd3-476a-b013-c50e44f9a4b5", "name":"snp-elegant-sinoussi", "parent_volume":{"id":"d9c568fc-17b9-4e6c-a448-7df8af2add5f", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T17:00:46.512590Z", "updated_at":"2026-06-09T17:00:46.512590Z", "references":[{"id":"866d6063-1d59-434a-bc38-c109dd162d2f", "product_resource_type":"internal", "product_resource_id":"00000000-0000-0000-0000-000000000000", "created_at":"2026-06-09T17:00:46.581933Z", "type":"unknown_type", "status":"attached"}], "status":"creating", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 66.643068ms
[...]
    - id: 45
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-windows","root_volume":"8630b457-0dd3-476a-b013-c50e44f9a4b5","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["devtools","provider","packer"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "d8481339-bb77-40fd-bf80-6e34befdf842", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "8630b457-0dd3-476a-b013-c50e44f9a4b5", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-09T17:00:51.837956+00:00", "modification_date": "2026-06-09T17:00:51.837956+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/d8481339-bb77-40fd-bf80-6e34befdf842
        status: 201 Created
        code: 201
        duration: 580.9351ms
    - id: 46
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/d8481339-bb77-40fd-bf80-6e34befdf842
        method: GET
      response:
        body: '{"image": {"id": "d8481339-bb77-40fd-bf80-6e34befdf842", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "8630b457-0dd3-476a-b013-c50e44f9a4b5", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-09T17:00:51.837956+00:00", "modification_date": "2026-06-09T17:00:51.837956+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.595732ms
    - id: 47
      request:
        host: api.scaleway.com
        body: '{"tags":["devtools","provider","packer"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/d9c568fc-17b9-4e6c-a448-7df8af2add5f
        method: PATCH
      response:
        body: '{"id":"d9c568fc-17b9-4e6c-a448-7df8af2add5f", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T16:57:55.469143Z", "updated_at":"2026-06-09T16:57:55.469143Z", "references":[{"id":"82c8ac33-3390-4e97-ab25-4010c5680641", "product_resource_type":"instance_server", "product_resource_id":"5af800e3-e343-4d88-aea3-87dc0cdb44d2", "created_at":"2026-06-09T16:57:55.469143Z", "type":"exclusive", "status":"attached"}], "parent_snapshot_id":"2ab63260-8127-47d1-b522-fb31f07a2aec", "status":"in_use", "tags":["devtools", "provider", "packer"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "kms_key_id":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 131.855297ms
