---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume&page=1&project=65a3940d-94a0-4a0b-932e-eedae2a6a98e
        method: GET
      response:
        body: '{"images": [{"id": "851ed46e-aa23-4733-8610-6e0b36d6147e", "name": "packer-e2e-root-volume", "organization": "ee7bd9e1-9cbd-4724-b2f4-19e50f3cf38b", "project": "65a3940d-94a0-4a0b-932e-eedae2a6a98e", "root_volume": {"id": "71d3b9eb-8fab-484d-b59e-28c7929bcb3b", "name": "packer-e2e-root-volume_snap_0", "volume_type": "b_ssd", "size": 50000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-02-07T13:54:22.625071+00:00", "modification_date": "2025-02-07T13:54:22.625071+00:00", "default_bootscript": null, "from_server": "4ac3b748-b2e1-4332-a59e-9725c41c8d1c", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-root-volume&project=65a3940d-94a0-4a0b-932e-eedae2a6a98e>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 184.252625ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=65a3940d-94a0-4a0b-932e-eedae2a6a98e
        method: GET
      response:
        body: '{"volumes": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=0&per_page=100&project=65a3940d-94a0-4a0b-932e-eedae2a6a98e>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 81.201041ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes?order_by=created_at_asc&project_id=65a3940d-94a0-4a0b-932e-eedae2a6a98e
        method: GET
      response:
        body: '{"volumes":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 70.300375ms
