---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-root-volume&page=1&project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"images": [{"id": "e7c804ad-6475-4463-ba82-778aec88c9bb", "name": "packer-e2e-root-volume", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "root_volume": {"id": "46b41472-a61e-4e17-a641-2042e1d10ee2", "name": "packer-e2e-root-volume_snap_0", "volume_type": "b_ssd", "size": 50000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-04-07T07:41:04.834165+00:00", "modification_date": "2025-04-07T07:41:04.834165+00:00", "default_bootscript": null, "from_server": "81916d31-a4b1-4b84-866d-997de8ac0486", "state": "available", "tags": [], "zone": "fr-par-1"}, {"id": "3c544bd6-eed0-40d1-96a7-7e7772fdbee1", "name": "packer-e2e-root-volume-sbs", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "root_volume": {"volume_type": "sbs_snapshot", "id": "2dc0b14d-83be-4c00-8cc0-87b495a492a3", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-04-07T07:40:05.536874+00:00", "modification_date": "2025-04-07T07:40:05.536874+00:00", "default_bootscript": null, "from_server": "697420cd-a996-4dd4-90cd-4c912bc5bf7a", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-root-volume&project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5>; rel="last"
            X-Total-Count:
                - "2"
        status: 200 OK
        code: 200
        duration: 250.195672ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"volumes": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=0&per_page=100&project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 64.463196ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes?order_by=created_at_asc&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"volumes":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 36.164578ms
