---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-simple
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-simple&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "765fb528-8d8c-4f7f-8b38-a4e8bbecb071", "name": "packer-e2e-simple", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "38ff451a-eaa2-44a3-99ef-7a5e746c18e7", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:28:26.232837+00:00", "modification_date": "2025-11-27T17:28:26.232837+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-simple&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 234.698032ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/38ff451a-eaa2-44a3-99ef-7a5e746c18e7
        method: GET
      response:
        body: '{"id":"38ff451a-eaa2-44a3-99ef-7a5e746c18e7", "name":"snp-funny-lamport", "parent_volume":null, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:28:20.155975Z", "updated_at":"2025-11-27T17:28:26.273205Z", "references":[{"id":"f2ba0516-9f75-4713-88d7-804703998c97", "product_resource_type":"instance_image", "product_resource_id":"765fb528-8d8c-4f7f-8b38-a4e8bbecb071", "created_at":"2025-11-27T17:28:26.273205Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 752.248914ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"38ff451a-eaa2-44a3-99ef-7a5e746c18e7", "name":"snp-funny-lamport", "parent_volume":null, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:28:20.155975Z", "updated_at":"2025-11-27T17:28:26.273205Z", "references":[], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.840838ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=0&per_page=100&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 76.400023ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.232635ms
[...]
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/765fb528-8d8c-4f7f-8b38-a4e8bbecb071
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 347.588052ms
    - id: 7
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"38ff451a-eaa2-44a3-99ef-7a5e746c18e7", "name":"snp-funny-lamport", "parent_volume":null, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:28:20.155975Z", "updated_at":"2025-11-27T17:28:26.273205Z", "references":[], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 40.769778ms
[...]
