---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-simple&page=1&project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"images": [{"id": "de761f45-29da-4606-908d-f4a7c19c0fe9", "name": "packer-e2e-simple", "organization": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "project": "564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5", "root_volume": {"volume_type": "sbs_snapshot", "id": "a6d9f66b-eb63-4c65-80eb-46ab88971142", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-04-07T07:42:00.550692+00:00", "modification_date": "2025-04-07T07:42:01.067231+00:00", "default_bootscript": null, "from_server": "9bda3172-9d28-4b3f-ab1f-b53dff735320", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-simple&project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 227.445759ms
    - id: 1
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"volumes": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=0&per_page=100&project=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 67.77782ms
    - id: 2
      request:
        host: api.scaleway.com
        body: ""
        form: {}
        headers:
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes?order_by=created_at_asc&project_id=564aa517-68b0-4fd7-8c8c-d21c4bcdcbd5
        method: GET
      response:
        body: '{"volumes":[],"total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 60.58975ms
