---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tests-windows","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU= opensource@scaleway.com","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"id":"bf33d490-bcb5-4deb-b855-57717dbcbdc4", "name":"packer-tests-windows", "public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU=", "fingerprint":"3072 MD5:07:6c:9a:67:83:c5:b6:4b:2b:44:fe:f2:a4:8e:a1:3d (ssh-rsa)", "created_at":"2026-06-09T16:57:54.057214Z", "updated_at":"2026-06-09T16:57:54.057214Z", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "disabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 191.432877ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-windows
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-windows&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "d8481339-bb77-40fd-bf80-6e34befdf842", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "8630b457-0dd3-476a-b013-c50e44f9a4b5", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-09T17:00:51.837956+00:00", "modification_date": "2026-06-09T17:00:51.837956+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-windows&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 232.469797ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/8630b457-0dd3-476a-b013-c50e44f9a4b5
        method: GET
      response:
        body: '{"id":"8630b457-0dd3-476a-b013-c50e44f9a4b5", "name":"snp-elegant-sinoussi", "parent_volume":{"id":"d9c568fc-17b9-4e6c-a448-7df8af2add5f", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T17:00:46.512590Z", "updated_at":"2026-06-09T17:00:51.903836Z", "references":[{"id":"95836aaa-4bb6-4ae8-8356-39a98517354a", "product_resource_type":"instance_image", "product_resource_id":"d8481339-bb77-40fd-bf80-6e34befdf842", "created_at":"2026-06-09T17:00:51.903836Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 78.390335ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"8630b457-0dd3-476a-b013-c50e44f9a4b5", "name":"snp-elegant-sinoussi", "parent_volume":{"id":"d9c568fc-17b9-4e6c-a448-7df8af2add5f", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T17:00:46.512590Z", "updated_at":"2026-06-09T17:00:51.903836Z", "references":[], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.596197ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-tmp-server-windows
            order:
                - creation_date_desc
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=packer-tmp-server-windows&order=creation_date_desc&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"servers": [{"id": "5af800e3-e343-4d88-aea3-87dc0cdb44d2", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "2ab63260-8127-47d1-b522-fb31f07a2aec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-04-16T13:51:55.046000+00:00", "modification_date": "2026-04-16T13:51:55.046000+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "d9c568fc-17b9-4e6c-a448-7df8af2add5f", "state": "available", "zone": "fr-par-1"}}, "tags": ["with-ssh", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC4WQlbX6xx3pCZyRBLhh13Qrjxj3ocB0z9491U8RbL6m0TIyTJnKMTq/nMZnpO9eGeX0TKg0PgULdBJDHo3UOnIwQdn3/BBQeU2T8Uw5V4COTdhJuq/XnPkYmafYjindI1TIGb5VQi2pll7xrcCZb+03aRUQ7NaV5O4crmSoKkC0oz+T0eNEHsJHy/NdpeGMnCERtvSpDKz3rt5UiAVMmIOmPvuUxzDaFxIEybM8h90GnvEXmAjEvoQP5w/N4sG2NyM/+Rpblj+N84+/cQM3iE338huRV+i/fAtlB8Lk7pTqQG8K5CC33PHa/hBf1+PRXZ6svMYYF4gh/LtvlV4MiY+mPL5QA6kW1z2nihB681sa94Zvsvu0MkdZ9jwpA/G5Vsp9vq92+cqQFGgisCQHgNG9kmRFasRqF4x4vdF5UV2jzBk7JwhgM9Yi7s+IhNHMfeVKYqDRTWbVCuFc2gV4fyBDyQubBm6C3B9C+uJXjHZg2yJrRMAlKk/+1SzQnCrCz0tYMeqsmypDU0v8RpG52O49F1gwbCKywmvYY2jPobEvtsTXkaaiqXUAFEApmnn1LDH624IFb5NqderJfLaeCZZKElwzKXqAeJ3AI/3x24iTl/4fiGeDd+rKskUMzicsThu9mhiBdPk/jdKevq/09hQSOST+ENcsTuIl72/FhYJw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:17:46:8b", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-09T16:57:55.248227+00:00", "modification_date": "2026-06-09T17:00:42.977677+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "5af800e3-e343-4d88-aea3-87dc0cdb44d2.pub.instances.scw.cloud", "admin_password_encryption_ssh_key_id": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=1&per_page=50&name=packer-tmp-server-windows&order=creation_date_desc&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 155.451622ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/5af800e3-e343-4d88-aea3-87dc0cdb44d2
        method: GET
      response:
        body: '{"server": {"id": "5af800e3-e343-4d88-aea3-87dc0cdb44d2", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780d[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/d8481339-bb77-40fd-bf80-6e34befdf842
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 454.590515ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"8630b457-0dd3-476a-b013-c50e44f9a4b5", "name":"snp-elegant-sinoussi", "parent_volume":{"id":"d9c568fc-17b9-4e6c-a448-7df8af2add5f", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T17:00:46.512590Z", "updated_at":"2026-06-09T17:00:54.175708Z", "references":[], "status":"available", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.180757ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-tmp-server-windows
            order:
                - creation_date_desc
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=packer-tmp-server-windows&order=creation_date_desc&page=1&project=19a4819b-24bf-4d44-969f-935ef006[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/bf33d490-bcb5-4deb-b855-57717dbcbdc4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 60.292489ms
