---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tests-windows","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU= opensource@scaleway.com","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"id":"bd1e8ec7-1e3f-427d-99eb-03b221d27b9d", "name":"packer-tests-windows", "public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU=", "fingerprint":"3072 MD5:07:6c:9a:67:83:c5:b6:4b:2b:44:fe:f2:a4:8e:a1:3d (ssh-rsa)", "created_at":"2026-06-09T13:50:46.031474Z", "updated_at":"2026-06-09T13:50:46.031474Z", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "disabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.694836ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-windows
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-windows&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "38297713-1eb6-4ca2-aba3-2c1524a5a3ac", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "2f824525-3a0b-4295-b8ef-f71bd047ed99", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-09T13:55:11.848629+00:00", "modification_date": "2026-06-09T13:55:11.848629+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-windows&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 212.222263ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2f824525-3a0b-4295-b8ef-f71bd047ed99
        method: GET
      response:
        body: '{"id":"2f824525-3a0b-4295-b8ef-f71bd047ed99", "name":"snp-stoic-thompson", "parent_volume":{"id":"6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T13:55:06.605942Z", "updated_at":"2026-06-09T13:55:11.886952Z", "references":[{"id":"9c5b4432-6993-4902-a73c-94d965edd234", "product_resource_type":"instance_image", "product_resource_id":"38297713-1eb6-4ca2-aba3-2c1524a5a3ac", "created_at":"2026-06-09T13:55:11.886952Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 62.537698ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"2f824525-3a0b-4295-b8ef-f71bd047ed99", "name":"snp-stoic-thompson", "parent_volume":{"id":"6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T13:55:06.605942Z", "updated_at":"2026-06-09T13:55:11.886952Z", "references":[], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 49.135853ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-tmp-server-windows
            order:
                - creation_date_desc
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=packer-tmp-server-windows&order=creation_date_desc&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"servers": [{"id": "60a04a3b-bae5-4be6-8267-60f649670e23", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "2ab63260-8127-47d1-b522-fb31f07a2aec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-04-16T13:51:55.046000+00:00", "modification_date": "2026-04-16T13:51:55.046000+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2", "state": "available", "zone": "fr-par-1"}}, "tags": ["with-ssh", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCYv9vgVtWbbPpq2qfGCHM/gQDkyUZ1GpYtTJ54PJS2vY9t5k6cC23aSV46+6tMVY3Ld3b6eeFJ06QcTdl1f8HSHzcDIYja2YAmAxZ+qAtCE4WvM2oUrcHpJBF0jhdfjhdGS+37HR7dHM4ZyjeFZP7+7jDmN/Hq/UIlyOqA+Ro4S0ejrL8PASrLBPmKyFKL7krilwDDbbDRRFxGpaBjSpU0iVe1FjJRml9F1bgEKQQKU8cx7YfVJ+4eDDOm4BVDju0Y5LDrhESu0736O+SYZCua79LCQGjRdbRgh89QbS8ywfCZ2d9LktFDfc7zGGK1r6oIYMyIDvEc83r3gzVSaygQrA22/XGAy96YKsu6BO3uQW4NbM42BpvK1Xs+KdBDicyYD6DmAelTrXT4c1EdyDy2/QajOoxIKZ26uQcCGypQXNo3mgh6mMkXrHacdTtu8kc2La9/li5nWgvcMkSafemRxrwvc0pz6yPSZ2loKIELSsnvILXOInKfenw7PgzmzMmpGKGK19zQbjxEX1tMP0XsH2QbgAnEO+OQvDxMTSL45lRJbE/A92o+nl2HhnNjU4bY52bVptS4eVlCBUyeM22cuxTmZo2Rx8n52IBYDEUAiCixpcRWnWW7ooO6Mur6pb670RA5vCnuzrtFUr3DK5N42bWUQDwz8h/uvokR3ePfBQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:17:38:59", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-09T13:50:47.974794+00:00", "modification_date": "2026-06-09T13:55:02.315644+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "60a04a3b-bae5-4be6-8267-60f649670e23.pub.instances.scw.cloud"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=1&per_page=50&name=packer-tmp-server-windows&order=creation_date_desc&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 147.377502ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/60a04a3b-bae5-4be6-8267-60f649670e23
        method: GET
      response:
        body: '{"server": {"id": "60a04a3b-bae5-4be6-8267-60f649670e23", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780d[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/38297713-1eb6-4ca2-aba3-2c1524a5a3ac
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 456.377558ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"2f824525-3a0b-4295-b8ef-f71bd047ed99", "name":"snp-stoic-thompson", "parent_volume":{"id":"6df3b37b-4bc4-4eaf-b760-6b2c2d1eacc2", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-09T13:55:06.605942Z", "updated_at":"2026-06-09T13:55:11.886952Z", "references":[], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 37.846926ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-tmp-server-windows
            order:
                - creation_date_desc
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=packer-tmp-server-windows&order=creation_date_desc&page=1&project=19a4819b-24bf-4d44-969f-935ef006[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/bd1e8ec7-1e3f-427d-99eb-03b221d27b9d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.01528ms
