---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        body: '{"name":"packer-tests-windows","public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU= opensource@scaleway.com","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys
        method: POST
      response:
        body: '{"id":"e66ef69a-42f4-466a-ae4c-f716cb96fd3c", "name":"packer-tests-windows", "public_key":"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFNaFderD6JUbMr6LoL7SdTaQ31gLcXwKv07Zyw0t4pq6Y8CGaeEvevS54TBR2iNJHa3hlIIUmA2qvH7Oh4v1QmMG2djWi2cD1lDEl8/8PYakaEBGh6snp3TMyhoqHOZqqKwDhPW0gJbe2vXfAgWSEzI8h1fs1D7iEkC1L/11hZjkqbUX/KduWFLyIRWdSuI3SWk4CXKRXwIkeYeSYb8AiIGY21u2z8H2J7YmhRzE85Kj/Fk4tST5gLW/IfLD4TMJjC/cZiJevETjs+XVmzTMIyU2sTQKufSQTj2qZ7RfgGwTHDoOeFvylgAdMGLZ/Un+gzeEPj9xUSPvvnbA9UPIKV4AffgtT1y5gcSWuHaqRxpUTY204mh6kq0EdVN2UsiJTgX+xnJgnOrKg6G3dkM8LSi2QtbjYbRXcuDJ9YUbUFK8M5Vo7LhMsMFb1hPtY68kbDUqD01RuMD5KhGIngCRRBZJriRQclUCJS4D3jr/Frw9ruNGh+NTIvIwdv0Y2brU=", "fingerprint":"3072 MD5:07:6c:9a:67:83:c5:b6:4b:2b:44:fe:f2:a4:8e:a1:3d (ssh-rsa)", "created_at":"2026-06-11T11:49:56.890601Z", "updated_at":"2026-06-11T11:49:56.890601Z", "organization_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "disabled":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 380.360851ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-windows
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-windows&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "73e7b9e0-22eb-4855-b833-31f79534d97b", "name": "packer-e2e-windows", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "e6cb74fe-a69d-4d3a-a436-55e5805c0be7", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2026-06-11T11:52:43.884829+00:00", "modification_date": "2026-06-11T11:52:43.884829+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["devtools", "provider", "packer"], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-windows&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 257.446684ms
    - id: 2
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/e6cb74fe-a69d-4d3a-a436-55e5805c0be7
        method: GET
      response:
        body: '{"id":"e6cb74fe-a69d-4d3a-a436-55e5805c0be7", "name":"snp-quirky-khorana", "parent_volume":{"id":"897e58b5-c600-4953-a66b-0461155d9994", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-11T11:52:38.643252Z", "updated_at":"2026-06-11T11:52:43.920415Z", "references":[{"id":"8630bf46-1db7-421a-b891-be19cbfac3fa", "product_resource_type":"instance_image", "product_resource_id":"73e7b9e0-22eb-4855-b833-31f79534d97b", "created_at":"2026-06-11T11:52:43.920415Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.924154ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"e6cb74fe-a69d-4d3a-a436-55e5805c0be7", "name":"snp-quirky-khorana", "parent_volume":{"id":"897e58b5-c600-4953-a66b-0461155d9994", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-11T11:52:38.643252Z", "updated_at":"2026-06-11T11:52:43.920415Z", "references":[], "status":"in_use", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.813022ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-tmp-server-windows
            order:
                - creation_date_desc
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=packer-tmp-server-windows&order=creation_date_desc&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"servers": [{"id": "34982bdb-b329-4f38-9f3d-4ce28bb04c84", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "2ab63260-8127-47d1-b522-fb31f07a2aec", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2026-04-16T13:51:55.046000+00:00", "modification_date": "2026-04-16T13:51:55.046000+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "897e58b5-c600-4953-a66b-0461155d9994", "state": "available", "zone": "fr-par-1"}}, "tags": ["with-ssh", "AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQDGT+Btf8pmcRSpPtgT/bnOwKBz/uMld7uLBVt6Aun2KgoGqDz6+k0CMN0h6qN5A5pFN0ZuArnKod7lkuSoiuC5uZkzutmISBofNkYibmq9M/ry17aRDqdWKBrPQ8XGf+s2iFmSXb4JP45ntUpm1p5tQ7Frm38DDZ0T/zJ3wX+3NYW0SUw4OEvSjf9z2OlVZmE3mJ3bfAVgZFCu1MivrzyI5c+tSiECIexbAENCy90osRaaCC8PlFV8n+Y3QcTPNvlVa5RKxZW2Q6QIUvrW2BdsTa+1GIhjgzBMWkpSunHCCK+VDXKf5t1QgCqioz4YqR5m0C6nA4bzSK3fCu8NY4heZua0TBEpcP9lQVigK4QuhT1n7UwGi16uA3L8pUcvnkRbxGdieLqPLENGPSwisFDDmFJU2KANnrwKE4dJCuN3CAZ8uQmdKTBYBZRjHqq0oDeAs9UoLDLgLQcJdyT/H4DILFgeg/xU/BvBCWN+5eAiZh7TKMttNACewE3BfMF52GtarqdqSYe7V4HZb7qXzndpQ3AJtgYgJe3PORJKDRPtiSXXlOeKQb9N3DE5rn/23NO2YJKcUeN1CmDBuIs+mdi6joRewZToWVq+Ehs3oNYwe422BX7Pn3VKGSN2o+qYfd5HyAGiPg70MIS8PRA+wP8MVIUk0YjNNJjx5ZUnv0rtOw=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:01:17:e5:7b", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2026-06-11T11:49:58.108917+00:00", "modification_date": "2026-06-11T11:52:35.864737+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false, "dns": "34982bdb-b329-4f38-9f3d-4ce28bb04c84.pub.instances.scw.cloud", "admin_password_encryption_ssh_key_id": null, "admin_password_encrypted_value": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </servers?page=1&per_page=50&name=packer-tmp-server-windows&order=creation_date_desc&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 384.298102ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/34982bdb-b329-4f38-9f3d-4ce28bb04c84
        method: GET
      response:
        body: '{"server": {"id": "34982bdb-b329-4f38-9f3d-4ce28bb04c84", "name": "packer-tmp-server-windows", "arch": "x86_64", "commercial_type": "POP2-2C-8G-WIN", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-tmp-server-windows", "image": {"id": "1b31ea4b-53c3-4ee9-b67a-da1be28512fe", "name": "Windows Server 2022", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780d[...]
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/73e7b9e0-22eb-4855-b833-31f79534d97b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 518.146384ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"e6cb74fe-a69d-4d3a-a436-55e5805c0be7", "name":"snp-quirky-khorana", "parent_volume":{"id":"897e58b5-c600-4953-a66b-0461155d9994", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2026-06-11T11:52:38.643252Z", "updated_at":"2026-06-11T11:52:46.339356Z", "references":[], "status":"available", "tags":["devtools", "provider", "packer"], "class":"sbs", "zone":"fr-par-1", "public":false}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 52.353736ms
[...]
    - id: 10
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-tmp-server-windows
            order:
                - creation_date_desc
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers?name=packer-tmp-server-windows&order=creation_date_desc&page=1&project=19a4819b-24bf-4d44-969f-935ef006[...]
[...]
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/iam/v1alpha1/ssh-keys/e66ef69a-42f4-466a-ae4c-f716cb96fd3c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 61.167766ms
