---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-block
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-block>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 332.336285ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": [{"id": "040de054-2855-426c-a8db-f224be7f2058", "name": "packer-e2e-root-volume-local_snap_0", "volume_type": "l_ssd", "creation_date": "2025-11-12T14:23:01.653225+00:00", "modification_date": "2025-11-12T14:32:10.634612+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state": "available", "base_volume": null, "tags": [], "zone": "fr-par-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 122.719001ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"volume-with-name","perf_iops":5000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","from_empty":{"size":20000000000},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"580237e8-9fd4-4645-9518-65ab85a89c7c", "name":"volume-with-name", "type":"sbs_5k", "size":20000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:57.708548Z", "updated_at":"2025-11-27T17:21:57.708548Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 125.173816ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"packer-692888b4-8f9a-31b6-4722-71db2442176f","commercial_type":"PRO2-XXS","image":"ubuntu_jammy","volumes":{"1":{"id":"580237e8-9fd4-4645-9518-65ab85a89c7c","volume_type":"sbs_volume"}},"boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCZJOuaG2O5iQG5d/7oWbOpfZqOWbIEaavpPj/9sVhrW5lu0d+Ga2jBy44KIY8rZPXS4CV4s6oFAJTD9bdBehayHzSN+/MqlQJwufu4Qv98q0Xwjgs6FycZ0QShrJoYZ8erYu7XSEZBagKw6ZxK14J5Rz9Pn+TUhBt+sBHoPmXHpFDQpAEyDjIAn4iIDQ//68VClaTX7zclmZ0etjuPou5kCIPuLGfAlVkuBu+sPjSo9UMGJJuZrVGEkQYdG4MAD9xXKNV1kDuVU8Dhe3vZMO4v7oqv18kjmOfnedQCS7maJxJXdc9mXglAhKBDHRE+GUvvsUDqePeGWaO6x0YJDdH3hV4iGhHWDAzp/TeF0kLtAVKfEwUS3yO9e8VptyfYnpMQivgM6EsWKrzRR3xF0+XV5RmJC/vjcdJxYGS/0GbaLwWMWLxn4FNO7cwjuaJfZHjwjNSbWHIQoqC6mCqLSsGOp96NUKicuwMJB7u2N3B+rU1Cef2pQRrEyacHwDaGuYuuW/MaG+dZohaBQLP7WVmXS1eoZfHsFAcY8LqVVVO+/0+nltOJCNh/zXy9bz14mwArAgRUD5O6r5zw4PPbU1yojpaiwn55FtRRNJeiCKaD3G4ZJLvwGqYKIX3xPUM35SwKSaYvUHhywwbkVMDr7pvhJa4GMvNQ11KZr14KBjNwkQ=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "a44cc2e2-84e2-476d-b751-8f222168ec5c", "name": "packer-692888b4-8f9a-31b6-4722-71db2442176f", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-692888b4-8f9a-31b6-4722-71db2442176f", "image": {"id": "6d3c053e-c728-4294-b23a-560b62a4d592", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"volume_type": "sbs_snapshot", "id": "36b4ce54-c67a-4f68-ab74-839515834352", "size": 0, "name": ""}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-09-12T09:11:41.420846+00:00", "modification_date": "2025-09-12T09:11:41.420846+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "volume_type": "sbs_volume", "id": "16a7ee61-ab05-43fa-97c2-57585020952a", "state": "available", "zone": "fr-par-1"}, "1": {"boot": false, "volume_type": "sbs_volume", "id": "580237e8-9fd4-4645-9518-65ab85a89c7c", "state": "available", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQCZJOuaG2O5iQG5d/7oWbOpfZqOWbIEaavpPj/9sVhrW5lu0d+Ga2jBy44KIY8rZPXS4CV4s6oFAJTD9bdBehayHzSN+/MqlQJwufu4Qv98q0Xwjgs6FycZ0QShrJoYZ8erYu7XSEZBagKw6ZxK14J5Rz9Pn+TUhBt+sBHoPmXHpFDQpAEyDjIAn4iIDQ//68VClaTX7zclmZ0etjuPou5kCIPuLGfAlVkuBu+sPjSo9UMGJJuZrVGEkQYdG4MAD9xXKNV1kDuVU8Dhe3vZMO4v7oqv18kjmOfnedQCS7maJxJXdc9mXglAhKBDHRE+GUvvsUDqePeGWaO6x0YJDdH3hV4iGhHWDAzp/TeF0kLtAVKfEwUS3yO9e8VptyfYnpMQivgM6EsWKrzRR3xF0+XV5RmJC/vjcdJxYGS/0GbaLwWMWLxn4FNO7cwjuaJfZHjwjNSbWHIQoqC6mCqLSsGOp96NUKicuwMJB7u2N3B+rU1Cef2pQRrEyacHwDaGuYuuW/MaG+dZohaBQLP7WVmXS1eoZfHsFAcY8LqVVVO+/0+nltOJCNh/zXy9bz14mwArAgRUD5O6r5zw4PPbU1yojpaiwn55FtRRNJeiCKaD3G4ZJLvwGqYKIX3xPUM35SwKSaYvUHhywwbkVMDr7pvhJa4GMvNQ11KZr14KBjNwkQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:d6:dc:bf", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-11-27T17:21:57.858825+00:00", "modification_date": "2025-11-27T17:21:57.858825+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a44cc2e2-84e2-476d-b751-8f222168ec5c
        status: 201 Created
        code: 201
        duration: 719.004753ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a44cc2e2-84e2-476d-b751-8f222168ec5c/action
        method: POST
      response:
        body: '{"task": {"id": "a65b66a0-5e41-4f58-ab8a-6b73be19039d", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/a44cc2e2-84e2-476d-b751-8f222168ec5c/action", "href_result": "/servers/a44cc2e2-84e2-476d-b751-8f222168ec5c", "started_at": "2025-11-27T17:21:58.889377+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/a65b66a0-5e41-4f58-ab8a-6b73be19039d
        status: 202 Accepted
        code: 202
        duration: 427.383404ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/a44cc2e2-84e2-476d-b751-8f222168ec5c
        method: GET
      response:
        body: '{"server": {"id": "a44cc2e2-84e2-476d-b751-8f222168ec5c", "name": "packer-692888b4-8f9a-31b6-4722-71db2442176f", "arch": "x86_64", "commercial_type": "PRO2-XXS", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24b[...]
[...]
    - id: 22
      request:
        host: api.scaleway.com
        body: '{"volume_id":"16a7ee61-ab05-43fa-97c2-57585020952a","name":"snp-nervous-shirley","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"4468a23b-503f-4c62-8566-bdf3135a9f41", "name":"snp-nervous-shirley", "parent_volume":{"id":"16a7ee61-ab05-43fa-97c2-57585020952a", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:00.872985Z", "updated_at":"2025-11-27T17:23:00.872985Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 507.091689ms
    - id: 23
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4468a23b-503f-4c62-8566-bdf3135a9f41
        method: GET
      response:
        body: '{"id":"4468a23b-503f-4c62-8566-bdf3135a9f41", "name":"snp-nervous-shirley", "parent_volume":{"id":"16a7ee61-ab05-43fa-97c2-57585020952a", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:00.872985Z", "updated_at":"2025-11-27T17:23:00.872985Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 476.590896ms
[...]
    - id: 28
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-block","root_volume":"4468a23b-503f-4c62-8566-bdf3135a9f41","arch":"x86_64","extra_volumes":{"1":{"id":"b8505d2f-4052-4040-be57-f14e81cef37d"}},"project":"19a4819b-24bf-4d44-969f-935ef0061b71","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
        body: '{"image": {"id": "46b529f4-64d6-4ebb-b1d8-dc9970572dc7", "name": "packer-e2e-block", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "4468a23b-503f-4c62-8566-bdf3135a9f41", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "b8505d2f-4052-4040-be57-f14e81cef37d", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:23:13.545898+00:00", "modification_date": "2025-11-27T17:23:13.545898+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/images/46b529f4-64d6-4ebb-b1d8-dc9970572dc7
        status: 201 Created
        code: 201
        duration: 1.055910784s
    - id: 29
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/46b529f4-64d6-4ebb-b1d8-dc9970572dc7
        method: GET
      response:
        body: '{"image": {"id": "46b529f4-64d6-4ebb-b1d8-dc9970572dc7", "name": "packer-e2e-block", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "4468a23b-503f-4c62-8566-bdf3135a9f41", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "b8505d2f-4052-4040-be57-f14e81cef37d", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:23:13.545898+00:00", "modification_date": "2025-11-27T17:23:13.545898+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 72.984873ms
[...]
