---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - Ubuntu
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=Ubuntu&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"16a7ee61-ab05-43fa-97c2-57585020952a", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:57.997804Z", "updated_at":"2025-11-27T17:23:14.879190Z", "references":[], "parent_snapshot_id":"36b4ce54-c67a-4f68-ab74-839515834352", "status":"available", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:23:14.879190Z", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 89.845261ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - volume-with-name
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=volume-with-name&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"580237e8-9fd4-4645-9518-65ab85a89c7c", "name":"volume-with-name", "type":"sbs_5k", "size":20000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:57.708548Z", "updated_at":"2025-11-27T17:23:14.951026Z", "references":[], "parent_snapshot_id":null, "status":"available", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:23:14.951026Z", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.483257ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-block
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-block&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "46b529f4-64d6-4ebb-b1d8-dc9970572dc7", "name": "packer-e2e-block", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "4468a23b-503f-4c62-8566-bdf3135a9f41", "size": 0, "name": ""}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "b8505d2f-4052-4040-be57-f14e81cef37d", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:23:13.545898+00:00", "modification_date": "2025-11-27T17:23:13.545898+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-block&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 182.91405ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/4468a23b-503f-4c62-8566-bdf3135a9f41
        method: GET
      response:
        body: '{"id":"4468a23b-503f-4c62-8566-bdf3135a9f41", "name":"snp-nervous-shirley", "parent_volume":{"id":"16a7ee61-ab05-43fa-97c2-57585020952a", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:00.872985Z", "updated_at":"2025-11-27T17:23:13.622832Z", "references":[{"id":"fd84ac34-60c7-4546-83bf-8f443552288d", "product_resource_type":"instance_image", "product_resource_id":"46b529f4-64d6-4ebb-b1d8-dc9970572dc7", "created_at":"2025-11-27T17:23:13.622832Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 263.602127ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"4468a23b-503f-4c62-8566-bdf3135a9f41", "name":"snp-nervous-shirley", "parent_volume":{"id":"16a7ee61-ab05-43fa-97c2-57585020952a", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:00.872985Z", "updated_at":"2025-11-27T17:23:13.622832Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 47.199808ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"b8505d2f-4052-4040-be57-f14e81cef37d", "name":"packer-1764264116", "parent_volume":{"id":"580237e8-9fd4-4645-9518-65ab85a89c7c", "name":"volume-with-name", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:07.432396Z", "updated_at":"2025-11-27T17:23:13.914964Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.004696ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/46b529f4-64d6-4ebb-b1d8-dc9970572dc7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 528.165356ms
    - id: 9
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - snp-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=snp-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"4468a23b-503f-4c62-8566-bdf3135a9f41", "name":"snp-nervous-shirley", "parent_volume":{"id":"16a7ee61-ab05-43fa-97c2-57585020952a", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:00.872985Z", "updated_at":"2025-11-27T17:23:13.622832Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.011251ms
[...]
    - id: 11
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - Ubuntu
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=Ubuntu&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"16a7ee61-ab05-43fa-97c2-57585020952a", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:57.997804Z", "updated_at":"2025-11-27T17:23:14.879190Z", "references":[], "parent_snapshot_id":"36b4ce54-c67a-4f68-ab74-839515834352", "status":"available", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:23:14.879190Z", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 41.71715ms
    - id: 12
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/16a7ee61-ab05-43fa-97c2-57585020952a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 58.654001ms
    - id: 13
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"b8505d2f-4052-4040-be57-f14e81cef37d", "name":"packer-1764264116", "parent_volume":{"id":"580237e8-9fd4-4645-9518-65ab85a89c7c", "name":"volume-with-name", "type":"sbs_5k", "status":"available"}, "size":20000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:23:07.432396Z", "updated_at":"2025-11-27T17:23:16.919472Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 34.301576ms
[...]
    - id: 15
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - volume-with-name
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=volume-with-name&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"580237e8-9fd4-4645-9518-65ab85a89c7c", "name":"volume-with-name", "type":"sbs_5k", "size":20000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:57.708548Z", "updated_at":"2025-11-27T17:23:14.951026Z", "references":[], "parent_snapshot_id":null, "status":"available", "tags":[], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:23:14.951026Z", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 43.605203ms
[...]
