---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-snap-name-local
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images?name=packer-e2e-snap-name-local&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-snap-name-local>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 292.426879ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=0&per_page=50&>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 92.528209ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[], "total_count":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.490332ms
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-6928ad46-e5fe-fdc7-4f40-d24b6044402f","commercial_type":"DEV1-S","image":"ubuntu_jammy","volumes":{"0":{"volume_type":"l_ssd"}},"boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC6Fu4eWgNpZbCYddBe32HA3XPauayTRVDeFJQogIWtn2P2RPQWHDiqD864hlf+pFmZZMyFk63OwedGzOxvOn36zPeUaFhQW1cV6+jgl6cN/Pdapz9gMXJ0uzQWXQf+CK/UD/H/cH4IFYGUuJr4S75glzE/rZJip1AT/Y+2UitF2aVzig+uK0czyaUjBXjN4+7XI6EE67kXKzo2mOvY6yMeYdNqMHnFZdH3vRiSmRR5paL1U42F3dUCg+RzQxGkCz5EdFBl0m2BdoYpjeIXssI+buBszH9y/r43rVRUaCK7tv4xKjwWGuLkumB/ZY98rumxoNEOg/NCk3S2W9f9+F6kUiD7AAqH4UbJwfJE/CnE42UORl6Ty89yFRIXS7MX+x3Cl9GckuNErCZwJQoDIn5E3Mld4TLVvJZw6Z7l2lLu9yZzMWYHHmC8exAaD4WhaCmEhQWEZhufOmVTfFVZBQ3QMxFhA67nfoEYpIZAHHqJkbYFarlpwaf6B3l3iMcJAtAq9OjmM3XrNNgdtgk8wls99fa8GaqmXZEsQkOTyEjKBDsB+55V6GLz38KaDVecUGt1kp6op55cuVdOPywyowb/C3sMA+eHGAZExm+wB5NTFM1Me8JTMN2sRS7EUv45JDOUufboqU4xqvvKwBCJvquuvqiGxYWwI1X0qIOgHafK9Q=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers
        method: POST
      response:
        body: '{"server": {"id": "b628081c-ecd7-4e07-beed-451ae7430b4e", "name": "packer-6928ad46-e5fe-fdc7-4f40-d24b6044402f", "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-6928ad46-e5fe-fdc7-4f40-d24b6044402f", "image": {"id": "807e3830-c5ab-4018-8571-326e55d96295", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "a31c0335-14ca-45b5-97d3-1a307eed3dd1", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-09-12T09:11:37.132337+00:00", "modification_date": "2025-09-12T09:11:37.132337+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-2"}, "volumes": {"0": {"boot": false, "id": "7e06109d-46fe-42c9-b1df-de95386898cf", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "b628081c-ecd7-4e07-beed-451ae7430b4e", "name": "packer-6928ad46-e5fe-fdc7-4f40-d24b6044402f"}, "size": 10000000000, "state": "available", "creation_date": "2025-11-27T19:57:59.389506+00:00", "modification_date": "2025-11-27T19:57:59.389506+00:00", "tags": [], "zone": "fr-par-2"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC6Fu4eWgNpZbCYddBe32HA3XPauayTRVDeFJQogIWtn2P2RPQWHDiqD864hlf+pFmZZMyFk63OwedGzOxvOn36zPeUaFhQW1cV6+jgl6cN/Pdapz9gMXJ0uzQWXQf+CK/UD/H/cH4IFYGUuJr4S75glzE/rZJip1AT/Y+2UitF2aVzig+uK0czyaUjBXjN4+7XI6EE67kXKzo2mOvY6yMeYdNqMHnFZdH3vRiSmRR5paL1U42F3dUCg+RzQxGkCz5EdFBl0m2BdoYpjeIXssI+buBszH9y/r43rVRUaCK7tv4xKjwWGuLkumB/ZY98rumxoNEOg/NCk3S2W9f9+F6kUiD7AAqH4UbJwfJE/CnE42UORl6Ty89yFRIXS7MX+x3Cl9GckuNErCZwJQoDIn5E3Mld4TLVvJZw6Z7l2lLu9yZzMWYHHmC8exAaD4WhaCmEhQWEZhufOmVTfFVZBQ3QMxFhA67nfoEYpIZAHHqJkbYFarlpwaf6B3l3iMcJAtAq9OjmM3XrNNgdtgk8wls99fa8GaqmXZEsQkOTyEjKBDsB+55V6GLz38KaDVecUGt1kp6op55cuVdOPywyowb/C3sMA+eHGAZExm+wB5NTFM1Me8JTMN2sRS7EUv45JDOUufboqU4xqvvKwBCJvquuvqiGxYWwI1X0qIOgHafK9Q=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:94:21:77", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-11-27T19:57:59.389506+00:00", "modification_date": "2025-11-27T19:57:59.389506+00:00", "bootscript": null, "security_group": {"id": "570c2ce0-3e5f-45e4-850b-7f0e0498e6fd", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-2", "filesystems": [], "end_of_service": false}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/b628081c-ecd7-4e07-beed-451ae7430b4e
        status: 201 Created
        code: 201
        duration: 401.114552ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/b628081c-ecd7-4e07-beed-451ae7430b4e/action
        method: POST
      response:
        body: '{"task": {"id": "3889c229-e0af-4931-bdd9-e4a270022003", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/b628081c-ecd7-4e07-beed-451ae7430b4e/action", "href_result": "/servers/b628081c-ecd7-4e07-beed-451ae7430b4e", "started_at": "2025-11-27T19:58:00.019970+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/tasks/3889c229-e0af-4931-bdd9-e4a270022003
        status: 202 Accepted
        code: 202
        duration: 359.125434ms
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/servers/b628081c-ecd7-4e07-beed-451ae7430b4e
        method: GET
      response:
        body: '{"server": {"id": "b628081c-ecd7-4e07-beed-451ae7430b4e", "name": "packer-6928ad46-e5fe-fdc7-4f40-d24b6044402f", "arch": "x86_64", "commercial_type": "DEV1-S", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"name":"named-local-snapshot","volume_id":"7e06109d-46fe-42c9-b1df-de95386898cf","tags":["test","snapshot-name","local"],"project":"19a4819b-24bf-4d44-969f-935ef0061b71","volume_type":"l_ssd"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/snapshots
        method: POST
      response:
        body: '{"snapshot": {"id": "ed2c8cbb-7e7b-4f52-bfd0-a70d6b5b2b5a", "name": "named-local-snapshot", "volume_type": "l_ssd", "creation_date": "2025-11-27T19:59:27.428655+00:00", "modification_date": "2025-11-27T19:59:27.428655+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 10000000000, "state": "available", "base_volume": {"id": "7e06109d-46fe-42c9-b1df-de95386898cf", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": ["test", "snapshot-name", "local"], "zone": "fr-par-2", "error_details": null}, "task": {"id": "abacca92-c2be-42ac-a3ab-41324c61463f", "description": "volume_snapshot", "status": "pending", "href_from": "/snapshots", "href_result": "snapshots/ed2c8cbb-7e7b-4f52-bfd0-a70d6b5b2b5a", "started_at": "2025-11-27T19:59:27.700229+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 376.785057ms
    - id: 27
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-snap-name-local","root_volume":"ed2c8cbb-7e7b-4f52-bfd0-a70d6b5b2b5a","arch":"x86_64","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["test","snapshot-name","local"],"public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images
        method: POST
      response:
        body: '{"image": {"id": "e824b36f-f6fe-467c-a8c7-27093145ab29", "name": "packer-e2e-snap-name-local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "ed2c8cbb-7e7b-4f52-bfd0-a70d6b5b2b5a", "name": "named-local-snapshot", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T19:59:27.839952+00:00", "modification_date": "2025-11-27T19:59:27.839952+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["test", "snapshot-name", "local"], "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-2/images/e824b36f-f6fe-467c-a8c7-27093145ab29
        status: 201 Created
        code: 201
        duration: 176.98442ms
    - id: 28
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images/e824b36f-f6fe-467c-a8c7-27093145ab29
        method: GET
      response:
        body: '{"image": {"id": "e824b36f-f6fe-467c-a8c7-27093145ab29", "name": "packer-e2e-snap-name-local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "ed2c8cbb-7e7b-4f52-bfd0-a70d6b5b2b5a", "name": "named-local-snapshot", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T19:59:27.839952+00:00", "modification_date": "2025-11-27T19:59:27.839952+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["test", "snapshot-name", "local"], "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.902458ms
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"tags":["test","snapshot-name","local"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/7e06109d-46fe-42c9-b1df-de95386898cf
        method: PATCH
      response:
        body: '{"message":"resource is not found","resource":"volume","resource_id":"7e06109d-46fe-42c9-b1df-de95386898cf","type":"not_found"}'
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 36.512132ms
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"tags":["test","snapshot-name","local"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/volumes/7e06109d-46fe-42c9-b1df-de95386898cf
        method: PATCH
      response:
        body: '{"volume": {"id": "7e06109d-46fe-42c9-b1df-de95386898cf", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "b628081c-ecd7-4e07-beed-451ae7430b4e", "name": "packer-6928ad46-e5fe-fdc7-4f40-d24b6044402f"}, "size": 10000000000, "state": "available", "creation_date": "2025-11-27T19:57:59.389506+00:00", "modification_date": "2025-11-27T19:59:28.044745+00:00", "tags": ["test", "snapshot-name", "local"], "zone": "fr-par-2"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 93.365404ms
[...]
