---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-snap-name-block
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images?name=packer-e2e-snap-name-block&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "4cdff76c-aae8-4e6d-9574-b41f64a6410c", "name": "packer-e2e-snap-name-block", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"volume_type": "sbs_snapshot", "id": "cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73", "size": 0, "name": ""}, "extra_volumes": {}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:29:39.234874+00:00", "modification_date": "2025-11-27T17:29:39.234874+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": ["test", "snapshot-name", "block"], "zone": "fr-par-2"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-snap-name-block&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 173.851982ms
    - id: 1
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots/cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73
        method: GET
      response:
        body: '{"id":"cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73", "name":"named-block-snapshot", "parent_volume":{"id":"0201c5a3-70aa-4ed0-b75c-7abbb8673e67", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:29:33.768764Z", "updated_at":"2025-11-27T17:29:39.327177Z", "references":[{"id":"2aaf14f6-97f5-4678-90ea-2326e81fd985", "product_resource_type":"instance_image", "product_resource_id":"4cdff76c-aae8-4e6d-9574-b41f64a6410c", "created_at":"2025-11-27T17:29:39.327177Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":["test", "snapshot-name", "block"], "class":"sbs", "zone":"fr-par-2"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 87.685011ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named-block-snapshot
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&name=named-block-snapshot&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73", "name":"named-block-snapshot", "parent_volume":{"id":"0201c5a3-70aa-4ed0-b75c-7abbb8673e67", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:29:33.768764Z", "updated_at":"2025-11-27T17:29:39.327177Z", "references":[], "status":"in_use", "tags":["test", "snapshot-name", "block"], "class":"sbs", "zone":"fr-par-2"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.507069ms
    - id: 3
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - Ubuntu
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes?include_deleted=false&name=Ubuntu&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"0201c5a3-70aa-4ed0-b75c-7abbb8673e67", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:28:31.207889Z", "updated_at":"2025-11-27T17:29:40.102390Z", "references":[], "parent_snapshot_id":"baff3d88-f99e-4343-8753-cbd9d30b1c86", "status":"available", "tags":["test", "snapshot-name", "block"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:29:40.102390Z", "zone":"fr-par-2"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.443069ms
[...]
    - id: 5
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-2/images/4cdff76c-aae8-4e6d-9574-b41f64a6410c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 232.450019ms
    - id: 6
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - named-block-snapshot
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/snapshots?include_deleted=false&name=named-block-snapshot&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"cf97a8bb-dd9a-40e9-95ee-c9a087ef3c73", "name":"named-block-snapshot", "parent_volume":{"id":"0201c5a3-70aa-4ed0-b75c-7abbb8673e67", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "status":"available"}, "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:29:33.768764Z", "updated_at":"2025-11-27T17:29:39.327177Z", "references":[], "status":"in_use", "tags":["test", "snapshot-name", "block"], "class":"sbs", "zone":"fr-par-2"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.582905ms
[...]
    - id: 8
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - Ubuntu
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes?include_deleted=false&name=Ubuntu&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"0201c5a3-70aa-4ed0-b75c-7abbb8673e67", "name":"Ubuntu 22.04 Jammy Jellyfish_sbs_volume_0", "type":"sbs_5k", "size":10000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:28:31.207889Z", "updated_at":"2025-11-27T17:29:40.102390Z", "references":[], "parent_snapshot_id":"baff3d88-f99e-4343-8753-cbd9d30b1c86", "status":"available", "tags":["test", "snapshot-name", "block"], "specs":{"perf_iops":5000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:29:40.102390Z", "zone":"fr-par-2"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 45.755736ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-2/volumes/0201c5a3-70aa-4ed0-b75c-7abbb8673e67
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 69.053928ms
