---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-mixed-volumes
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-mixed-volumes&page=1
        method: GET
      response:
        body: '{"images": []}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=0&per_page=50&name=packer-e2e-mixed-volumes>; rel="last"
            X-Total-Count:
                - "0"
        status: 200 OK
        code: 200
        duration: 349.444563ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?page=1
        method: GET
      response:
        body: '{"snapshots": [{"id": "040de054-2855-426c-a8db-f224be7f2058", "name": "packer-e2e-root-volume-local_snap_0", "volume_type": "l_ssd", "creation_date": "2025-11-12T14:23:01.653225+00:00", "modification_date": "2025-11-12T14:32:10.634612+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "size": 20000000000, "state": "available", "base_volume": null, "tags": [], "zone": "fr-par-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 115.855102ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            order_by:
                - created_at_asc
            page:
                - "1"
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&order_by=created_at_asc&page=1
        method: GET
      response:
        body: '{"snapshots":[{"id":"394a7cc9-f236-4fdb-b04a-b7e40f44d4e0", "name":"snap-windows-configured", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":25000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-10-21T16:49:55.784568Z", "updated_at":"2025-10-21T16:49:55.784568Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}, {"id":"27653438-1c9b-40b3-b734-985080000738", "name":"snap-windows-configured-larger", "parent_volume":{"id":"425394e3-34de-4afc-9fd2-461c3fc5b8a7", "name":"Windows Server 2022_sbs_volume_0", "type":"sbs_5k", "status":"in_use"}, "size":40000000000, "project_id":"fa1e3217-dc80-42ac-85c3-3f034b78b552", "created_at":"2025-11-10T15:53:12.265541Z", "updated_at":"2025-11-10T15:53:12.265541Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}[...]
    - id: 3
      request:
        host: api.scaleway.com
        body: '{"name":"packer-69288855-d7db-773c-31ee-0a526395542d","perf_iops":15000,"project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","from_empty":{"size":50000000000},"tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1alpha1/zones/fr-par-1/volumes
        method: POST
      response:
        body: '{"id":"01efc9ec-2a63-4c56-94a4-7c33853a4259", "name":"packer-69288855-d7db-773c-31ee-0a526395542d", "type":"sbs_15k", "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:20:21.978931Z", "updated_at":"2025-11-27T17:20:21.978931Z", "references":[], "parent_snapshot_id":null, "status":"creating", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":null, "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 157.393483ms
    - id: 4
      request:
        host: api.scaleway.com
        body: '{"name":"packer-69288855-2c11-6f24-120d-c8fa717b430a","commercial_type":"GP1-S","image":"ubuntu_jammy","volumes":{"0":{"size":20000000000,"volume_type":"l_ssd"},"1":{"id":"01efc9ec-2a63-4c56-94a4-7c33853a4259","volume_type":"sbs_volume"}},"boot_type":"local","project":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC3pU8geLj0ybnS713h3DgcE+MsHsBdDhqSLEz6WumGvaTqvQMscpyA6Tk2/KZcZyri5gBUqO6nR82rCCTJ0v+KGvhOlxaxGBkzvrAt/Yom3FMsCzwGnIn/AbDKPPoAwd7XhdZcKnFEtdhpyxEF5jVc4lji5tLO5v8aukO5t/0I3rGHE1GFLiSbrbHgewu44m/yF4MUeYctmWf/5ps5CjlHRPrrOt/yJsuKkBuNA66P1in1zfXCcmbkezKAOHxkHqkFRrOPMILUdP6/LtQJZuWLVjx1Fn9vXSs9qv6AbDMgbWK/1vqWQ56dGM+O6RfTQrSDt0+oETRolaAgWTBhYBWqn3CaRczkcnnXOfXzlE9MzR1J7iXcMPO/95fr511I/Tz7+P57cwApkmg/A2L76L69XQFr1BWyT17ayxz9anN7TJcCV5695QTy3ZEx1lIibRN0fxLJYz/tUCmxdRuzCfo63crRNCHrzMuvNddnmWfb9CsSauiy3M+SJLlzmbuyPNBuiR7HpQ2W1Qe7dZYXl2WBqCHKvbsrN2b/G9tovgAfNOAD03kg3g10S3egHvEccZgIHukYkfk4hBto1KClGYhjTgcJ854VPwoBfrgmevW6/ePAZ3/GTrlG2atJgWCqhgYJelHBPmbBCcjJY3BnHrVIJ7gFVXdscb2l4NNOLYqBsQ=="]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers
        method: POST
      response:
        body: '{"server": {"id": "865c3b95-4016-492c-934c-6455c02b5abb", "name": "packer-69288855-2c11-6f24-120d-c8fa717b430a", "arch": "x86_64", "commercial_type": "GP1-S", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "hostname": "packer-69288855-2c11-6f24-120d-c8fa717b430a", "image": {"id": "ec31d73d-ca36-4536-adf4-0feb76d30379", "name": "Ubuntu 22.04 Jammy Jellyfish", "organization": "51b656e3-4865-41e8-adbc-0c45bdd780db", "project": "51b656e3-4865-41e8-adbc-0c45bdd780db", "root_volume": {"id": "1973043b-32c4-4d52-baf4-5c99b42b4e39", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "size": 10000000000}, "extra_volumes": {}, "public": true, "arch": "x86_64", "creation_date": "2025-09-12T09:11:46.109401+00:00", "modification_date": "2025-09-12T09:11:46.109401+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}, "volumes": {"0": {"boot": false, "id": "4d8bcb60-1ac2-4809-81b3-67462c1ed14a", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": {"id": "865c3b95-4016-492c-934c-6455c02b5abb", "name": "packer-69288855-2c11-6f24-120d-c8fa717b430a"}, "size": 20000000000, "state": "available", "creation_date": "2025-11-27T17:20:22.184970+00:00", "modification_date": "2025-11-27T17:20:22.184970+00:00", "tags": [], "zone": "fr-par-1"}, "1": {"boot": false, "volume_type": "sbs_volume", "id": "01efc9ec-2a63-4c56-94a4-7c33853a4259", "state": "available", "zone": "fr-par-1"}}, "tags": ["AUTHORIZED_KEY=ssh-rsa_AAAAB3NzaC1yc2EAAAADAQABAAACAQC3pU8geLj0ybnS713h3DgcE+MsHsBdDhqSLEz6WumGvaTqvQMscpyA6Tk2/KZcZyri5gBUqO6nR82rCCTJ0v+KGvhOlxaxGBkzvrAt/Yom3FMsCzwGnIn/AbDKPPoAwd7XhdZcKnFEtdhpyxEF5jVc4lji5tLO5v8aukO5t/0I3rGHE1GFLiSbrbHgewu44m/yF4MUeYctmWf/5ps5CjlHRPrrOt/yJsuKkBuNA66P1in1zfXCcmbkezKAOHxkHqkFRrOPMILUdP6/LtQJZuWLVjx1Fn9vXSs9qv6AbDMgbWK/1vqWQ56dGM+O6RfTQrSDt0+oETRolaAgWTBhYBWqn3CaRczkcnnXOfXzlE9MzR1J7iXcMPO/95fr511I/Tz7+P57cwApkmg/A2L76L69XQFr1BWyT17ayxz9anN7TJcCV5695QTy3ZEx1lIibRN0fxLJYz/tUCmxdRuzCfo63crRNCHrzMuvNddnmWfb9CsSauiy3M+SJLlzmbuyPNBuiR7HpQ2W1Qe7dZYXl2WBqCHKvbsrN2b/G9tovgAfNOAD03kg3g10S3egHvEccZgIHukYkfk4hBto1KClGYhjTgcJ854VPwoBfrgmevW6/ePAZ3/GTrlG2atJgWCqhgYJelHBPmbBCcjJY3BnHrVIJ7gFVXdscb2l4NNOLYqBsQ=="], "state": "stopped", "protected": false, "state_detail": "", "public_ip": null, "public_ips": [], "mac_address": "de:00:00:d6:dc:b5", "routed_ip_enabled": true, "ipv6": null, "extra_networks": [], "dynamic_ip_required": true, "enable_ipv6": false, "private_ip": null, "creation_date": "2025-11-27T17:20:22.184970+00:00", "modification_date": "2025-11-27T17:20:22.184970+00:00", "bootscript": null, "security_group": {"id": "96320557-68cb-45f1-9f9b-587a3c3f458c", "name": "Default security group"}, "location": null, "maintenances": [], "allowed_actions": ["poweron", "backup"], "placement_group": null, "private_nics": [], "zone": "fr-par-1", "filesystems": [], "end_of_service": false}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/865c3b95-4016-492c-934c-6455c02b5abb
        status: 201 Created
        code: 201
        duration: 595.867323ms
    - id: 5
      request:
        host: api.scaleway.com
        body: '{"action":"poweron"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/865c3b95-4016-492c-934c-6455c02b5abb/action
        method: POST
      response:
        body: '{"task": {"id": "adf2dbe2-1956-4338-b625-aa1db4a2e32d", "description": "server_batch_poweron", "status": "pending", "href_from": "/servers/865c3b95-4016-492c-934c-6455c02b5abb/action", "href_result": "/servers/865c3b95-4016-492c-934c-6455c02b5abb", "started_at": "2025-11-27T17:20:22.981662+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
            Location:
                - https://api.scaleway.com/instance/v1/zones/fr-par-1/tasks/adf2dbe2-1956-4338-b625-aa1db4a2e32d
        status: 202 Accepted
        code: 202
        duration: 351.700275ms
    - id: 6
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/servers/865c3b95-4016-492c-934c-6455c02b5abb
        method: GET
      response:
        body: '{"server": {"id": "865c3b95-4016-492c-934c-6455c02b5abb", "name": "packer-69288855-2c11-6f24-120d-c8fa717b430a", "arch": "x86_64", "commercial_type": "GP1-S", "boot_type": "local", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4[...]
[...]
    - id: 26
      request:
        host: api.scaleway.com
        body: '{"volume_id":"01efc9ec-2a63-4c56-94a4-7c33853a4259","name":"packer-1764264021","project_id":"19a4819b-24bf-4d44-969f-935ef0061b71","tags":null}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"id":"2f42f649-c7e3-442f-8f7a-d279f492a771", "name":"packer-1764264021", "parent_volume":{"id":"01efc9ec-2a63-4c56-94a4-7c33853a4259", "name":"packer-69288855-d7db-773c-31ee-0a526395542d", "type":"sbs_15k", "status":"in_use"}, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:45.840393Z", "updated_at":"2025-11-27T17:21:45.840393Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 687.787992ms
    - id: 27
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2f42f649-c7e3-442f-8f7a-d279f492a771
        method: GET
      response:
        body: '{"id":"2f42f649-c7e3-442f-8f7a-d279f492a771", "name":"packer-1764264021", "parent_volume":{"id":"01efc9ec-2a63-4c56-94a4-7c33853a4259", "name":"packer-69288855-d7db-773c-31ee-0a526395542d", "type":"sbs_15k", "status":"in_use"}, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:45.840393Z", "updated_at":"2025-11-27T17:21:45.840393Z", "references":[], "status":"creating", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 285.363886ms
[...]
    - id: 29
      request:
        host: api.scaleway.com
        body: '{"name":"packer-1764264021","volume_id":"4d8bcb60-1ac2-4809-81b3-67462c1ed14a","project":"19a4819b-24bf-4d44-969f-935ef0061b71","volume_type":"l_ssd"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots
        method: POST
      response:
        body: '{"snapshot": {"id": "1051c8a8-2469-47aa-9092-f5d9aa9dcade", "name": "packer-1764264021", "volume_type": "l_ssd", "creation_date": "2025-11-27T17:21:52.016275+00:00", "modification_date": "2025-11-27T17:21:52.016275+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 20000000000, "state": "available", "base_volume": {"id": "4d8bcb60-1ac2-4809-81b3-67462c1ed14a", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": [], "zone": "fr-par-1", "error_details": null}, "task": {"id": "a45578a9-a65e-44b1-a616-ff8ce339588b", "description": "volume_snapshot", "status": "pending", "href_from": "/snapshots", "href_result": "snapshots/1051c8a8-2469-47aa-9092-f5d9aa9dcade", "started_at": "2025-11-27T17:21:52.237928+00:00", "terminated_at": null, "progress": 0, "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 317.590095ms
    - id: 30
      request:
        host: api.scaleway.com
        body: '{"name":"packer-e2e-mixed-volumes","root_volume":"1051c8a8-2469-47aa-9092-f5d9aa9dcade","arch":"x86_64","extra_volumes":{"1":{"id":"2f42f649-c7e3-442f-8f7a-d279f492a771"}},"project":"19a4819b-24bf-4d44-969f-935ef0061b71","public":false}'
        headers:
            Content-Type:
                - application/json
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images
        method: POST
      response:
 [...]
    - id: 31
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/491d920d-8c1b-484b-8e1a-24c05b4aa037
        method: GET
      response:
        body: '{"image": {"id": "491d920d-8c1b-484b-8e1a-24c05b4aa037", "name": "packer-e2e-mixed-volumes", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "1051c8a8-2469-47aa-9092-f5d9aa9dcade", "name": "packer-1764264021", "volume_type": "l_ssd", "size": 20000000000}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "2f42f649-c7e3-442f-8f7a-d279f492a771", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:21:52.382606+00:00", "modification_date": "2025-11-27T17:21:52.382606+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 71.18936ms
[...]
