---
version: 2
interactions:
    - id: 0
      request:
        host: api.scaleway.com
        form:
            name:
                - Ubuntu
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes": [{"id": "4d8bcb60-1ac2-4809-81b3-67462c1ed14a", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-11-27T17:20:22.184970+00:00", "modification_date": "2025-11-27T17:21:52.951904+00:00", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 121.546991ms
    - id: 1
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"01efc9ec-2a63-4c56-94a4-7c33853a4259", "name":"packer-69288855-d7db-773c-31ee-0a526395542d", "type":"sbs_15k", "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:20:21.978931Z", "updated_at":"2025-11-27T17:21:53.277729Z", "references":[], "parent_snapshot_id":null, "status":"available", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:21:53.277729Z", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 63.703774ms
    - id: 2
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-e2e-mixed-volumes
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images?name=packer-e2e-mixed-volumes&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"images": [{"id": "491d920d-8c1b-484b-8e1a-24c05b4aa037", "name": "packer-e2e-mixed-volumes", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "root_volume": {"id": "1051c8a8-2469-47aa-9092-f5d9aa9dcade", "name": "packer-1764264021", "volume_type": "l_ssd", "size": 20000000000}, "extra_volumes": {"1": {"volume_type": "sbs_snapshot", "id": "2f42f649-c7e3-442f-8f7a-d279f492a771", "size": 0, "name": ""}}, "public": false, "arch": "x86_64", "creation_date": "2025-11-27T17:21:52.382606+00:00", "modification_date": "2025-11-27T17:21:52.382606+00:00", "default_bootscript": null, "from_server": "", "state": "available", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </images?page=1&per_page=50&name=packer-e2e-mixed-volumes&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 210.248469ms
    - id: 3
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots/2f42f649-c7e3-442f-8f7a-d279f492a771
        method: GET
      response:
        body: '{"id":"2f42f649-c7e3-442f-8f7a-d279f492a771", "name":"packer-1764264021", "parent_volume":{"id":"01efc9ec-2a63-4c56-94a4-7c33853a4259", "name":"packer-69288855-d7db-773c-31ee-0a526395542d", "type":"sbs_15k", "status":"available"}, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:45.840393Z", "updated_at":"2025-11-27T17:21:52.473859Z", "references":[{"id":"134db774-1991-4ec5-b784-af97e855f4da", "product_resource_type":"instance_image", "product_resource_id":"491d920d-8c1b-484b-8e1a-24c05b4aa037", "created_at":"2025-11-27T17:21:52.473859Z", "type":"link", "status":"attached"}], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 401.377666ms
    - id: 4
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=packer-&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots": [{"id": "1051c8a8-2469-47aa-9092-f5d9aa9dcade", "name": "packer-1764264021", "volume_type": "l_ssd", "creation_date": "2025-11-27T17:21:52.016275+00:00", "modification_date": "2025-11-27T17:21:52.016275+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 20000000000, "state": "available", "base_volume": {"id": "4d8bcb60-1ac2-4809-81b3-67462c1ed14a", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": [], "zone": "fr-par-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&name=packer-&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 116.905792ms
    - id: 5
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"2f42f649-c7e3-442f-8f7a-d279f492a771", "name":"packer-1764264021", "parent_volume":{"id":"01efc9ec-2a63-4c56-94a4-7c33853a4259", "name":"packer-69288855-d7db-773c-31ee-0a526395542d", "type":"sbs_15k", "status":"available"}, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:45.840393Z", "updated_at":"2025-11-27T17:21:52.473859Z", "references":[], "status":"in_use", "tags":[], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 46.252328ms
[...]
    - id: 7
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/images/491d920d-8c1b-484b-8e1a-24c05b4aa037
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 620.479598ms
    - id: 8
      request:
        host: api.scaleway.com
        form:
            name:
                - packer-
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots?name=packer-&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots": [{"id": "1051c8a8-2469-47aa-9092-f5d9aa9dcade", "name": "packer-1764264021", "volume_type": "l_ssd", "creation_date": "2025-11-27T17:21:52.016275+00:00", "modification_date": "2025-11-27T17:21:52.016275+00:00", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "size": 20000000000, "state": "available", "base_volume": {"id": "4d8bcb60-1ac2-4809-81b3-67462c1ed14a", "name": "Ubuntu 22.04 Jammy Jellyfish"}, "tags": [], "zone": "fr-par-1", "error_details": null}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </snapshots?page=1&per_page=50&name=packer-&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 112.233585ms
    - id: 9
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/snapshots/1051c8a8-2469-47aa-9092-f5d9aa9dcade
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 114.819027ms
    - id: 10
      request:
        host: api.scaleway.com
        form:
            name:
                - Ubuntu
            page:
                - "1"
            project:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes?name=Ubuntu&page=1&project=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes": [{"id": "4d8bcb60-1ac2-4809-81b3-67462c1ed14a", "name": "Ubuntu 22.04 Jammy Jellyfish", "volume_type": "l_ssd", "organization": "fa1e3217-dc80-42ac-85c3-3f034b78b552", "project": "19a4819b-24bf-4d44-969f-935ef0061b71", "server": null, "size": 20000000000, "state": "available", "creation_date": "2025-11-27T17:20:22.184970+00:00", "modification_date": "2025-11-27T17:21:52.951904+00:00", "tags": [], "zone": "fr-par-1"}]}'
        headers:
            Content-Type:
                - application/json
            Link:
                - </volumes?page=1&per_page=100&name=Ubuntu&project=19a4819b-24bf-4d44-969f-935ef0061b71>; rel="last"
            X-Total-Count:
                - "1"
        status: 200 OK
        code: 200
        duration: 72.660199ms
    - id: 11
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/instance/v1/zones/fr-par-1/volumes/4d8bcb60-1ac2-4809-81b3-67462c1ed14a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 127.965945ms
    - id: 12
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/snapshots?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"snapshots":[{"id":"2f42f649-c7e3-442f-8f7a-d279f492a771", "name":"packer-1764264021", "parent_volume":{"id":"01efc9ec-2a63-4c56-94a4-7c33853a4259", "name":"packer-69288855-d7db-773c-31ee-0a526395542d", "type":"sbs_15k", "status":"available"}, "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:21:45.840393Z", "updated_at":"2025-11-27T17:21:55.308543Z", "references":[], "status":"available", "tags":[], "class":"sbs", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.523937ms
[...]
    - id: 14
      request:
        host: api.scaleway.com
        form:
            include_deleted:
                - "false"
            name:
                - packer-
            order_by:
                - created_at_asc
            page:
                - "1"
            project_id:
                - 19a4819b-24bf-4d44-969f-935ef0061b71
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes?include_deleted=false&name=packer-&order_by=created_at_asc&page=1&project_id=19a4819b-24bf-4d44-969f-935ef0061b71
        method: GET
      response:
        body: '{"volumes":[{"id":"01efc9ec-2a63-4c56-94a4-7c33853a4259", "name":"packer-69288855-d7db-773c-31ee-0a526395542d", "type":"sbs_15k", "size":50000000000, "project_id":"19a4819b-24bf-4d44-969f-935ef0061b71", "created_at":"2025-11-27T17:20:21.978931Z", "updated_at":"2025-11-27T17:21:53.277729Z", "references":[], "parent_snapshot_id":null, "status":"available", "tags":[], "specs":{"perf_iops":15000, "class":"sbs"}, "last_detached_at":"2025-11-27T17:21:53.277729Z", "zone":"fr-par-1"}], "total_count":1}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.931071ms
    - id: 15
      request:
        host: api.scaleway.com
        headers:
        url: https://api.scaleway.com/block/v1/zones/fr-par-1/volumes/01efc9ec-2a63-4c56-94a4-7c33853a4259
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json
        status: 204 No Content
        code: 204
        duration: 62.43378ms
