name: Nightly Tests

on:
  schedule:
    # Will run at 00:00 every day
    - cron: "0 0 * * *"

jobs:
  nightly:
    strategy:
      matrix:
        go-version: [ 1.18.x ]
        platform: [ ubuntu-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install plugin
        run: make install-plugin
      - name: Build binaries
        run: make build
      - name: Run e2e test
        run: go test -count 1 -v ./builder/scaleway/builder_acc_test.go  -timeout=120m
        env:
          PACKER_ACC: 1
          PACKER_LOG: 1
          SCW_DEBUG: 1
          SCW_ACCESS_KEY: ${{ secrets.SCW_ACCESS_KEY }}
          SCW_SECRET_KEY: ${{ secrets.SCW_SECRET_KEY }}
          SCW_DEFAULT_ORGANIZATION_ID: ${{ secrets.SCW_DEFAULT_ORGANIZATION_ID }}
          SCW_DEFAULT_PROJECT_ID: ${{ secrets.SCW_DEFAULT_PROJECT_ID }}
      - name: Fetch log file
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: packer-log
          path: ./builder/scaleway/packer_log_test-scaleway-builder-basic.txt
          if-no-files-found: error
          retention-days: 2

